<div class="kx-pt--small">
    <app-load *ngIf="isDataLoading"></app-load>
    <div *ngIf="!isDataLoading">
        <p-table *ngIf="operationSections && operationSections.length > 0" [columns]="cols" [value]="operationSections"
            dataKey="Id" editMode="row" [paginator]="true" #tt [rows]="PRIMENG_CONSTANTS.rowCount"
            [rowsPerPageOptions]="[5,10,20,50,100,200,500]" rowExpandMode="single"
            tableStyleClass="kx-table kx-table--outer-border" autoLayout="true">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 3rem"></th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.sortfield"
                        [ngClass]="{'u--cursorPointer': col.sortfield !== ''}"
                        title="{{(col.sortfield!=='') ? 'Click to sort' : ''}}">
                        {{col.header}}
                        <p-sortIcon *ngIf="col.sortfield !== ''" [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                </tr>
                <tr>
                    <th style="width: 3rem"></th>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field">
                        <input *ngSwitchCase="'name'" pInputText type="text"
                            class="kx-field kx-field--size-base u--field--size-small" placeholder="Filter section"
                            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input *ngSwitchCase="'foulingState.State'" pInputText type="text"
                            class="kx-field kx-field--size-base u--field--size-small" placeholder="Filter fouling state"
                            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-expanded="expanded">
                <tr>
                    <td class="kx-p--small">
                        <a href="#" [pRowToggler]="rowData">
                            <i [ngClass]="
                expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
              "></i>
                        </a>
                    </td>
                    <td>{{ rowData.VesselSection.Name }}</td>
                    <td></td>
                    <td> {{ rowData.VesselSectionOldFoulingState.State }}</td>
                    <td> {{ rowData.VesselSectionNewFoulingState.State }}</td>
                    <td> {{ rowData.VesselSection.ModifiedDate | date: appConstants.dateFormatWithoutTime }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                <tr>
                    <td [attr.colspan]="6">
                        <div class="kx-table--outer-border"
                            [ngStyle]="rowData.OperationSubSections.length > 0 ? {'padding-left': '24vw'} : ''">
                            <app-no-data
                                [displayme]="rowData.OperationSubSections && rowData.OperationSubSections.length === 0">
                            </app-no-data>
                            <p-table [value]="rowData.OperationSubSections" tableStyleClass="kx-table"
                                autoLayout="true">
                                <ng-template pTemplate="body" let-rowData>
                <tr class="kx-row">
                    <td class="kx-col kx-col--12 kx-col--5@mob-m kx-col--3@tab-m kx-col--2@ltp-s">{{
                        rowData.SubSection.SubSectionNumber }}
                    </td>
                    <td class="kx-col kx-col--12 kx-col--5@mob-m kx-col--3@tab-m kx-col--3@ltp-s">{{
                        rowData.SubSectionOldFoulingState.State }}
                    </td>
                    <td pEditableColumn [pEditableColumn]="rowData"
                        class="kx-col kx-col--12 kx-col--5@mob-m kx-col--4@tab-m kx-col--3@ltp-s"
                        style="padding-left: 3.9vw;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown [options]="foulingStates" [(ngModel)]="rowData.SubSectionNewFoulingState"
                                    appendTo="body" (ngModelChange)="onFoulingStateChanged(rowData)"
                                    title="Click outside the cell to save" optionLabel="State"></p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ rowData.SubSectionNewFoulingState.State }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="kx-col kx-col--12 kx-col--5@mob-m kx-col--3@tab-m kx-col--3@ltp-s"
                        style="padding-left: 6vw;">{{
                        rowData.SubSection.ModifiedDate | date: appConstants.dateFormatWithTime}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    </td>
    </tr>
    </ng-template>
    </p-table>

    <app-no-data [displayme]="operationSections && operationSections.length === 0"></app-no-data>

    <div class="kx-col kx-col--4 kx-col--4@mob-m kx-col--2@tab-m kx-col--4@ltp-s"
        style="width: 50%; float: right; margin-top: 5px;">
        <button class="kx-btn kx-btn--skin-secondary kx-btn--size-base" (click)="goToListOperations()">
            <span class="kx-btn__inner">
                <span class="kx-btn__txt">Back</span>
            </span>
        </button>
    </div>
</div>
</div>