<div class="kx-row">
    <div class="kx-col kx-col--12 kx-col--12@mob-m kx-col--5@tab-m kx-col--2@ltp-s">
    </div>
    <div class="kx-col kx-col--12 kx-col--12@mob-m kx-col--5@tab-m kx-col--2@ltp-s">
        <button class="kx-btn kx-btn--skin-primary kx-btn--size-base kx-mx--tiny kx-mt--base"
            (click)="goToCreateOperation()">
            <span class="kx-btn__inner">
                <span class="kx-btn__txt">Create Operation</span>
            </span>
        </button>
    </div>
</div>

<div class="kx-pt--small">
    <app-load *ngIf="isDataLoading"></app-load>
    <div *ngIf="!isDataLoading">
        <p-table *ngIf="operations.length > 0" tableStyleClass="kx-table kx-table--outer-border" dataKey="Id"
            [value]="operations" [columns]="cols" autoLayout="true" #tt [paginator]="true" [rows]="10"
            [rowsPerPageOptions]="[5,10,20,50,100,200,500]" rowExpandMode="multiple">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 3rem"></th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.sortfield"
                        [ngClass]="{'u--cursorPointer': col.sortfield !== ''}"
                        title="{{(col.sortfield!=='') ? 'Click to sort' : ''}}">
                        {{col.header}}
                        <p-sortIcon *ngIf="col.sortfield !== ''" [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                </tr>
                <tr>
                    <th style="width: 3rem"></th>
                    <th *ngFor="let col of columns">
                        <input pInputText type="text" *ngIf="col.filterMatchMode && col.filterMatchMode !== ''"
                            class="kx-field kx-field--size-base u--field--size-small" placeholder="Type to filter"
                            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-expanded="expanded">
                <tr *ngIf="rowData">
                    <td *ngIf="rowData.SecondaryOperations && rowData.SecondaryOperations.length >0"
                        class="kx-p--small">
                        <a href="#" [pRowToggler]="rowData">
                            <i [ngClass]="
                        expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                      "></i>
                        </a>
                    </td>
                    <td *ngIf="rowData.SecondaryOperations && rowData.SecondaryOperations.length === 0" ></td>
                    <td>{{ rowData.Date | date:'MM/dd/yyyy HH:mm'}}</td>
                    <td style="text-align: justify;">{{ rowData.Description }}</td>
                    <td>{{ rowData.Sections }}</td>
                    <td>{{ rowData.OperationType?.OperationTypeName}}</td>
                    <td>{{ rowData.OperatorBooking?.Status }}</td>
                    <td>{{ rowData.Operator ? (rowData.Operator.Name + ' ' + rowData.Operator.SurName) : ''}}</td>
                    <td>{{ rowData.OperationStatus?.Name}}</td>
                    <td>{{ rowData.PortLocation?.PortName}}</td>
                    <td>{{ rowData.ETB | date:'MM/dd/yyyy HH:mm'}}</td>
                    <td>
                        <button class="kx-btn kx-btn--skin-secondary kx-btn--size-tiny kx-btn--icon" aria-label="Edit"
                            title="Edit" (click)="editOperation(rowData)">
                            <span class="kx-btn__inner">
                                <i class="kx-icon kx-icon--size-moderate">
                                    <svg focusable="true">
                                        <use href="./assets/img/icons/sprites/icons.svg#pencil"></use>
                                    </svg>
                                </i>
                                <span class="kx-btn__txt kx-is-vishidden">Edit</span>
                            </span>
                        </button> &nbsp;
                        <button class="kx-btn kx-btn--skin-secondary kx-btn--size-tiny kx-btn--icon" aria-label="Delete"
                            title="Delete" (click)="deleteOperation(rowData)">
                            <span class="kx-btn__inner">
                                <i class="kx-icon kx-icon--size-moderate">
                                    <svg focusable="true">
                                        <use href="./assets/img/icons/sprites/icons.svg#trash"></use>
                                    </svg>
                                </i>
                                <span class="kx-btn__txt kx-is-vishidden">Delete</span>
                            </span>
                        </button>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                <tr *ngIf="rowData.SecondaryOperations && rowData.SecondaryOperations.length > 0 ">
                    <td [attr.colspan]="6">
                        <div class="kx-table--outer-border">
                            <!-- <app-no-data
                                [displayme]="rowData.SecondaryOperations && rowData.SecondaryOperations.length === 0">
                            </app-no-data> -->
                            <p-table [value]="rowData.SecondaryOperations" tableStyleClass="kx-table" autoLayout="true">

                                <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>
                        Sections
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Action
                    </th>
                    <!-- <th *ngFor="let col of columns" [pSortableColumn]="col.sortfield"
                        [ngClass]="{'u--cursorPointer': col.sortfield !== ''}"
                        title="{{(col.sortfield!=='') ? 'Click to sort' : ''}}">
                        {{col.header}}
                        <p-sortIcon *ngIf="col.sortfield !== ''" [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th> -->
                </tr>
                <!-- <tr>
                                        <th *ngFor="let col of columns">
                                            <input pInputText type="text" *ngIf="col.filterMatchMode && col.filterMatchMode !== ''"
                                                class="kx-field kx-field--size-base u--field--size-small" placeholder="Type to filter"
                                                (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                                        </th>
                                    </tr> -->
            </ng-template>

            <ng-template pTemplate="body" let-rowData>
                <tr class="kx-row">
                    <td class="kx-col kx-col--12 kx-col--5@mob-m kx-col--3@tab-m kx-col--2@ltp-s">{{
                        rowData.Sections }}
                    </td>
                    <td class="kx-col kx-col--12 kx-col--5@mob-m kx-col--4@tab-m kx-col--3@ltp-s"
                        style="margin-right: 0.8%;">{{
                        rowData.OperationType?.OperationTypeName }}</td>
                    <td class="kx-col kx-col--12 kx-col--5@mob-m kx-col--3@tab-m kx-col--3@ltp-s">{{
                        rowData.OperationStatus?.Name}}
                    </td>
                    <td class="kx-col kx-col--12 kx-col--5@mob-m kx-col--1@tab-m kx-col--2@ltp-s">
                        <!-- <button class="kx-btn kx-btn--skin-secondary kx-btn--size-tiny kx-btn--icon" aria-label="Edit"
                            title="Edit" (click)="editSecondaryOperation(rowData)">
                            <span class="kx-btn__inner">
                                <i class="kx-icon kx-icon--size-moderate">
                                    <svg focusable="true">
                                        <use href="./assets/img/icons/sprites/icons.svg#pencil"></use>
                                    </svg>
                                </i>
                                <span class="kx-btn__txt kx-is-vishidden">Edit</span>
                            </span>
                        </button> &nbsp; -->
                        <button class="kx-btn kx-btn--skin-secondary kx-btn--size-tiny kx-btn--icon" aria-label="Delete"
                            title="Delete" (click)="deleteSecondaryOperation(rowData)">
                            <span class="kx-btn__inner">
                                <i class="kx-icon kx-icon--size-moderate">
                                    <svg focusable="true">
                                        <use href="./assets/img/icons/sprites/icons.svg#trash"></use>
                                    </svg>
                                </i>
                                <span class="kx-btn__txt kx-is-vishidden">Delete</span>
                            </span>
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    </td>
    </tr>
    </ng-template>


    </p-table>
    <app-no-data [displayme]="operations.length === 0"></app-no-data>
</div>
</div>