# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/.vs
/src/node_modules
/.vscode/settings.json
.history/src/config_20200914151958.json
.history/src/config_20200924093217.json
.history/src/config_20200924093221.json
.history/src/config_20200924093222.json
.history/src/config_20200924093232.json
.history/src/config_20200930165917.json
.history/src/config_20200930170107.json
.history/src/app/app-routing.module_20200918183311.ts
.history/src/app/app-routing.module_20200921175343.ts
.history/src/app/app-routing.module_20200922133630.ts
.history/src/app/app-routing.module_20200922133631.ts
.history/src/app/app-routing.module_20200923220526.ts
.history/src/app/app-routing.module_20200923220701.ts
.history/src/app/app-routing.module_20200923220703.ts
.history/src/app/app-routing.module_20200929121931.ts
.history/src/app/app.component_20200914151958.ts
.history/src/app/app.component_20200921143647.ts
.history/src/app/app.component_20200921143703.ts
.history/src/app/app.component_20200921143704.ts
.history/src/app/app.component_20200921144045.ts
.history/src/app/app.component_20200921144046.ts
.history/src/app/app.component_20200921144047.ts
.history/src/app/app.component_20200921144106.ts
.history/src/app/app.component_20200921144107.ts
.history/src/app/app.component_20200921144112.ts
.history/src/app/app.component_20200921175302.ts
.history/src/app/app.component_20200921181734.ts
.history/src/app/app.component_20200921181737.ts
.history/src/app/app.component_20200921181739.ts
.history/src/app/app.component_20200921181744.ts
.history/src/app/app.component_20200922161044.ts
.history/src/app/app.component_20200922161045.ts
.history/src/app/app.component_20200922161106.ts
.history/src/app/app.component_20200922161107.ts
.history/src/app/app.component_20200922161115.ts
.history/src/app/app.component_20200922161116.ts
.history/src/app/app.component_20200923221134.ts
.history/src/app/connectivity-control/components/connectivity-control/connectivity-control.component_20200914151958.ts
.history/src/app/connectivity-control/components/connectivity-control/connectivity-control.component_20200923231751.ts
.history/src/app/connectivity-control/components/connectivity-control/connectivity-control.component_20200924112557.ts
.history/src/app/connectivity-control/components/connectivity-control/connectivity-control.component_20200924112602.ts
.history/src/app/connectivity-control/components/fds-traffic/fds-traffic.component_20200914151958.html
.history/src/app/connectivity-control/components/fds-traffic/fds-traffic.component_20200914151958.ts
.history/src/app/connectivity-control/components/fds-traffic/fds-traffic.component_20200923222448.ts
.history/src/app/connectivity-control/components/fds-traffic/fds-traffic.component_20200923222522.ts
.history/src/app/connectivity-control/components/fds-traffic/fds-traffic.component_20200923225638.html
.history/src/app/connectivity-control/components/fds-traffic/fds-traffic.component_20200923225639.html
.history/src/app/connectivity-control/components/fds-traffic/fds-traffic.component_20201001134052.html
.history/src/app/connectivity-control/components/fds-traffic/fds-traffic.component_20201001134053.html
.history/src/app/connectivity-control/components/vessel-upload-status/vessel-upload-status.component_20200914151958.html
.history/src/app/connectivity-control/components/vessel-upload-status/vessel-upload-status.component_20200914151958.ts
.history/src/app/connectivity-control/components/vessel-upload-status/vessel-upload-status.component_20200923222033.ts
.history/src/app/connectivity-control/components/vessel-upload-status/vessel-upload-status.component_20200923222054.ts
.history/src/app/connectivity-control/components/vessel-upload-status/vessel-upload-status.component_20200923222100.ts
.history/src/app/connectivity-control/components/vessel-upload-status/vessel-upload-status.component_20200923222114.ts
.history/src/app/connectivity-control/components/vessel-upload-status/vessel-upload-status.component_20200923222124.ts
.history/src/app/connectivity-control/components/vessel-upload-status/vessel-upload-status.component_20200923222244.ts
.history/src/app/connectivity-control/components/vessel-upload-status/vessel-upload-status.component_20200923222245.ts
.history/src/app/connectivity-control/components/vessel-upload-status/vessel-upload-status.component_20200923222246.ts
.history/src/app/connectivity-control/components/vessel-upload-status/vessel-upload-status.component_20200923222248.ts
.history/src/app/connectivity-control/components/vessel-upload-status/vessel-upload-status.component_20200923230925.html
.history/src/app/connectivity-control/components/vessel-upload-status/vessel-upload-status.component_20200923230940.html
.history/src/app/connectivity-control/components/vessel-upload-status/vessel-upload-status.component_20200923230941.html
.history/src/app/connectivity-control/components/vessel-upload-status/vessel-upload-status.component_20201001134459.html
.history/src/app/connectivity-control/components/vessel-upload-status/vessel-upload-status.component_20201001134500.html
.history/src/app/connectivity-control/components/whitelist-countries/whitelist-countries.component_20200803132429.scss
.history/src/app/connectivity-control/components/whitelist-countries/whitelist-countries.component_20200914151958.html
.history/src/app/connectivity-control/components/whitelist-countries/whitelist-countries.component_20200914151958.ts
.history/src/app/connectivity-control/components/whitelist-countries/whitelist-countries.component_20200930124633.html
.history/src/app/connectivity-control/components/whitelist-countries/whitelist-countries.component_20200930124634.html
.history/src/app/connectivity-control/components/whitelist-countries/whitelist-countries.component_20200930124642.html
.history/src/app/connectivity-control/components/whitelist-countries/whitelist-countries.component_20200930124734.ts
.history/src/app/connectivity-control/components/whitelist-countries/whitelist-countries.component_20200930124735.ts
.history/src/app/connectivity-control/components/whitelist-countries/whitelist-countries.component_20200930125726.ts
.history/src/app/connectivity-control/components/whitelist-countries/whitelist-countries.component_20200930125727.ts
.history/src/app/connectivity-control/components/whitelist-countries/whitelist-countries.component_20200930125735.ts
.history/src/app/connectivity-control/components/whitelist-countries/whitelist-countries.component_20200930125753.html
.history/src/app/connectivity-control/components/whitelist-countries/whitelist-countries.component_20200930130005.html
.history/src/app/connectivity-control/components/whitelist-countries/whitelist-countries.component_20200930130013.html
.history/src/app/connectivity-control/components/whitelist-countries/whitelist-countries.component_20200930130515.scss
.history/src/app/connectivity-control/components/whitelist-countries/whitelist-countries.component_20200930130529.html
.history/src/app/connectivity-control/components/whitelist-countries/whitelist-countries.component_20200930130530.html
.history/src/app/connectivity-control/components/whitelist-countries/whitelist-countries.component_20200930130617.html
.history/src/app/connectivity-control/components/whitelist-countries/whitelist-countries.component_20200930130618.html
.history/src/app/connectivity-control/components/whitelist-countries/whitelist-countries.component_20200930171001.ts
.history/src/app/connectivity-control/components/whitelist-countries/whitelist-countries.component_20200930173001.ts
.history/src/app/connectivity-control/components/whitelist-countries/whitelist-countries.component_20200930173325.ts
.history/src/app/connectivity-control/components/whitelist-countries/whitelist-countries.component_20201001134347.html
.history/src/app/connectivity-control/components/whitelist-countries/whitelist-countries.component_20201001134405.html
.history/src/app/connectivity-control/components/whitelist-countries/whitelist-countries.component_20201001134407.html
.history/src/app/connectivity-monitoring/connectivity-monitoring.module_20200914151958.ts
.history/src/app/connectivity-monitoring/connectivity-monitoring.module_20200922133024.ts
.history/src/app/connectivity-monitoring/connectivity-monitoring.module_20200922133049.ts
.history/src/app/connectivity-monitoring/connectivity-monitoring.module_20200922133334.ts
.history/src/app/connectivity-monitoring/connectivity-monitoring.module_20200922133836.ts
.history/src/app/connectivity-monitoring/connectivity-monitoring.module_20200922133837.ts
.history/src/app/connectivity-monitoring/connectivity-monitoring.module_20200922133838.ts
.history/src/app/connectivity-monitoring/connectivity-monitoring.module_20200922134450.ts
.history/src/app/connectivity-monitoring/connectivity-monitoring.module_20200923215618.ts
.history/src/app/connectivity-monitoring/connectivity-monitoring.module_20200923221202.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200914151958.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200922133235.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200922133236.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200922133322.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200922133323.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200922133647.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200922133654.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200922133841.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200922160829.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200922163219.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200922163220.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200922163433.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200922170358.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200922170415.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200922170416.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200922170534.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200922170535.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200922170536.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200922170547.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200922170548.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200922171629.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200922171636.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200922171637.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200922171638.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200922171642.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200923212232.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200923213017.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200923213033.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200923213034.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200923214457.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200923214527.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200923214528.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200923214529.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200923222310.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200923222311.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200923222315.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200923222316.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200923222317.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200923222318.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200924112541.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200928174055.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200928174056.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200928174947.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200928174950.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200928175002.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200928175151.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200928175152.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200928175212.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200928175540.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200928175557.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200928175607.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200928175838.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200928180031.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200928180153.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200928180154.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200928180206.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200928180207.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200928182406.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200929122102.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200929122833.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200929123203.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200929123204.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20200929182954.ts
.history/src/app/connectivity-monitoring/components/donut/donut-chart.component_20200914151958.ts
.history/src/app/connectivity-monitoring/components/donut/donut-chart.component_20200929151039.ts
.history/src/app/connectivity-monitoring/components/donut/donut-chart.component_20200929151040.ts
.history/src/app/connectivity-monitoring/components/donut/donut-chart.component_20200929151044.ts
.history/src/app/connectivity-monitoring/components/donut/donut-chart.component_20200929151338.ts
.history/src/app/connectivity-monitoring/components/donut/donut-chart.component_20200929182019.ts
.history/src/app/connectivity-monitoring/components/donut/donut-chart.component_20200929182020.ts
.history/src/app/connectivity-monitoring/components/donut/donut-chart.component_20200929182043.ts
.history/src/app/connectivity-monitoring/components/donut/donut-chart.component_20200929182044.ts
.history/src/app/connectivity-monitoring/components/donut/donut-chart.component_20200929182132.ts
.history/src/app/connectivity-monitoring/components/donut/donut-chart.component_20200929182133.ts
.history/src/app/connectivity-monitoring/components/donut/donut-chart.component_20200929182448.ts
.history/src/app/connectivity-monitoring/components/donut/donut-chart.component_20200929182449.ts
.history/src/app/connectivity-monitoring/components/donut/donut-chart.component_20200929182606.ts
.history/src/app/connectivity-monitoring/components/donut/donut-chart.component_20200929182607.ts
.history/src/app/connectivity-monitoring/components/donut/donut-chart.component_20200929183019.ts
.history/src/app/connectivity-monitoring/components/donut/donut-chart.component_20200929202314.ts
.history/src/app/connectivity-monitoring/components/donut/donut-chart.component_20200929202811.ts
.history/src/app/connectivity-monitoring/components/donut/donut-chart.component_20200929203341.ts
.history/src/app/connectivity-monitoring/components/donut/donut-chart.component_20200929203343.ts
.history/src/app/connectivity-monitoring/components/donut/donut-chart.component_20200929203344.ts
.history/src/app/connectivity-monitoring/components/donut/donut-chart.component_20200929203721.ts
.history/src/app/connectivity-monitoring/components/donut/donut-chart.component_20200929203722.ts
.history/src/app/connectivity-monitoring/components/vessel-history/vessel-history.component_20200914151958.ts
.history/src/app/connectivity-monitoring/components/vessel-history/vessel-history.component_20200922163640.ts
.history/src/app/connectivity-monitoring/components/vessel-history/vessel-history.component_20200922163701.ts
.history/src/app/connectivity-monitoring/components/vessel-history/vessel-history.component_20200922174803.ts
.history/src/app/models/IFileLoggingStatus.d_20200914151958.ts
.history/src/app/models/IFileLoggingStatus.d_20200923225306.ts
.history/src/app/models/IFileLoggingStatus.d_20200923225315.ts
.history/src/app/models/IVesselUploadStatus.d_20200914151958.ts
.history/src/app/models/IVesselUploadStatus.d_20200923230655.ts
.history/src/app/services/connectivity-control.service_20200914151958.ts
.history/src/app/services/connectivity-control.service_20200930165547.ts
.history/src/app/services/connectivity-control.service_20200930170157.ts
.history/src/app/services/connectivity-control.service_20200930170212.ts
.history/src/app/services/connectivity-control.service_20200930170213.ts
.history/src/app/services/connectivity-control.service_20200930170216.ts
.history/src/app/services/connectivity-control.service_20200930170217.ts
.history/src/app/services/connectivity-control.service_20200930173800.ts
.history/src/app/services/connectivity-control.service_20200930173801.ts
.history/src/app/services/connectivity-control.service_20200930174522.ts
.history/src/app/services/connectivity-control.service_20200930174525.ts
.history/src/app/services/connectivity-monitoring.service_20200914151958.ts
.history/src/app/services/connectivity-monitoring.service_20200922163044.ts
.history/src/app/services/connectivity-monitoring.service_20200922163045.ts
.history/src/app/services/connectivity-monitoring.service_20200922163125.ts
.history/src/app/services/connectivity-monitoring.service_20200922163126.ts
.history/src/app/services/connectivity-monitoring.service_20200922163145.ts
.history/src/app/services/connectivity-monitoring.service_20200922163359.ts
.history/src/app/services/connectivity-monitoring.service_20200922163726.ts
.history/src/app/services/connectivity-monitoring.service_20200922164007.ts
.history/src/app/services/connectivity-monitoring.service_20200922164008.ts
.history/src/app/services/connectivity-monitoring.service_20200922171043.ts
.history/src/app/services/connectivity-monitoring.service_20200922171457.ts
.history/src/app/services/connectivity-monitoring.service_20200922171553.ts
.history/src/app/services/connectivity-monitoring.service_20200922171554.ts
.history/src/app/services/connectivity-monitoring.service_20200922172452.ts
.history/src/app/services/connectivity-monitoring.service_20200922174634.ts
.history/src/app/services/connectivity-monitoring.service_20200922182002.ts
.history/src/app/services/connectivity-monitoring.service_20200922182003.ts
.history/src/app/services/connectivity-monitoring.service_20200922182255.ts
.history/src/app/services/connectivity-monitoring.service_20200922182256.ts
.history/src/app/services/connectivity-monitoring.service_20200922182257.ts
.history/src/app/services/connectivity-monitoring.service_20200922182311.ts
.history/src/app/services/connectivity-monitoring.service_20200922182758.ts
.history/src/app/services/connectivity-monitoring.service_20200922182759.ts
.history/src/app/services/connectivity-monitoring.service_20200922182818.ts
.history/src/app/services/connectivity-monitoring.service_20200922182819.ts
.history/src/app/services/connectivity-monitoring.service_20200922182827.ts
.history/src/app/services/connectivity-monitoring.service_20200922182836.ts
.history/src/app/services/connectivity-monitoring.service_20200922182837.ts
.history/src/app/services/connectivity-monitoring.service_20200924111131.ts
.history/src/app/services/connectivity-monitoring.service_20200924111132.ts
.history/src/app/services/connectivity-monitoring.service_20200924111133.ts
.history/src/app/services/connectivity-monitoring.service_20200924111137.ts
.history/src/app/services/http.service_20200914151958.ts
.history/src/app/services/http.service_20201001134014.ts
.history/.gitignore_20200921141946
.history/.gitignore_20201001155359
.history/src/config_20201001155709.json
.history/src/app/services/connectivity-control.service_20201001155714.ts
.history/src/app/connectivity-control/components/connectivity-control/connectivity-control.component_20201001161732.ts
.history/src/app/connectivity-monitoring/components/connectivity-monitoring/connectivity-monitoring.component_20201001161732.ts
.history/src/app/connectivity-monitoring/components/donut/donut-chart.component_20201001161732.ts
.history/src/app/connectivity-monitoring/components/map/map.component_20201001160959.ts
.history/src/app/connectivity-monitoring/components/map/map.component_20201001161732.ts
.history/src/app/connectivity-monitoring/components/vessel-history/vessel-history.component_20201001161732.ts
