<!--
KONGSBERG PROPRIETARY. This document and its accompanying elements, contain KONGSBERG information which is proprietary and confidential.
Any disclosure, copying, distribution or use is prohibited if not otherwise explicitly agreed with KONGSBERG in writing.
Any authorized reproduction, in whole or in part, must include this legend. © [year of creation] KONGSBERG – All rights reserved.
-->
<app-load *ngIf="!showChart"></app-load>
<div style="height: 550px;">
  <h5 style="text-align: center;">Latency & Signal Strength Graph</h5>
  <div id="latency_chart" class="chart1"></div>
</div>
<div *ngIf="emptyLatencyData" class="emptylatency">No data in the selected period</div>
