.chart {
  margin: 0;
  padding: 0;
}

.chart svg text {
  pointer-events: none;
}
.dot {
  fill: IndianRed;
}
.area {
  fill: none;
}
text.shadow {
  stroke: white;
  stroke-width: 4px;
  opacity: 1
}
