.chart1 {
  width: 100%; 
  min-height: 550px;
}

.chart {
  margin: 0;
  padding: 0;
  svg {
    margin-left: -5px;
  }
}

.chart svg text {
  pointer-events: none;
}
.dot {
  fill: IndianRed;
}
.area {
  fill: none;
}
text.shadow {
  stroke: white;
  stroke-width: 4px;
  opacity: 1;
}
.rect-latency {
  width: 60px;
  height: 5px;
  background: IndianRed;
  display: inline-block;
  margin-right: 5px;
  margin-top: 10px;
}
.rect-signal {
  width: 60px;
  height: 5px;
  background: rgb(65, 105, 225);
  margin-right: 5px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 15px;
}
.margin-0 {
  margin: 0px auto;
}
.inline-flex {
  display: inline-flex;
}
.tooltip-container {
  position: absolute;
  z-index: 10;
  height: auto;
  width: 180px;
  padding: 5px;
  border: 1px solid #e5e5e5;
  font-size: 12px;
  background: #fff;
  z-index: 9999;
  color: #000;
  opacity: 0;

  label {
    display: block;
  }
}

.emptylatency {
  position: absolute;
  bottom: 50%;
  z-index: 1;
  background: #686d72;
  color: #2bdeee;
  width: 98%;
  text-align:center;
  border: 1px solid #2bdeee;
}
