<!--
KONGSBERG PROPRIETARY. This document and its accompanying elements, contain KONGSBERG information which is proprietary and confidential.
Any disclosure, copying, distribution or use is prohibited if not otherwise explicitly agreed with KONGSBERG in writing.
Any authorized reproduction, in whole or in part, must include this legend. © [year of creation] KONGSBERG – All rights reserved.
-->
<div class="kx-card kx-card--skin-default" *ngIf="config && config.formList && config.formList.length > 0">
    <div class="kx-p--tiny kx-p--medium@mob-m">
        <div class="kx-row kx-row--gutters">
            <app-load *ngIf="isDataLoading"></app-load>
            <form [formGroup]="formData" class="kx-row kx-row--gutters" (ngSubmit)="onSubmit()" style="width: 100%">
                <app-dynamic-form
                    class="kx-col kx-col--12 kx-col--12@mob-m kx-col--4@tab-m kx-col--10@ltp-s kx-row kx-row--gutters"
                    style="display: contents;" [form]="formData" [isFormSubmitted]="isFormSubmmited"
                    [formValues]="formValues" [config]="config" (formOnchangeEvent)="formOnchangeEvent($event)">
                </app-dynamic-form>

                <div [ngClass]="isOperationScreen ? 'kx-row kx-row--gutters kx-col kx-col--12 kx-col--12@mob-m kx-col--5@tab-m kx-col--7@ltp-s' : 'kx-row kx-row--gutters kx-col kx-col--12 kx-col--12@mob-m kx-col--5@tab-m kx-col--3@ltp-s'"
                    style="margin: 21px 0px 0px 0px;">
                    <div
                        [ngClass]="isOperationScreen ? 'kx-col kx-col--7 kx-col--5@mob-m kx-col--8@tab-m kx-col--10@ltp-s' : 'kx-col kx-col--7 kx-col--5@mob-m kx-col--8@tab-m kx-col--5@ltp-s'">
                        <button type="submit" class="kx-btn kx-btn--skin-primary kx-btn--size-base"
                            [disabled]="formData.invalid" [ngStyle]="{'float': isOperationScreen ? 'right' : 'left'}">
                            <span class="kx-btn__inner">
                                <span *ngIf="!editMode; else elseBlock" class="kx-btn__txt">Add Contact</span>
                                <ng-template #elseBlock>
                                    <span class="kx-btn__txt">Save Contact</span>
                                </ng-template>
                            </span>
                        </button>
                    </div>
                    <div class="kx-col kx-col--4 kx-col--4@mob-m kx-col--2@tab-m kx-col--1@ltp-s">
                        <button type="submit" class="kx-btn kx-btn--skin-secondary kx-btn--size-base"
                            (click)="onFormReset()">
                            <span class="kx-btn__inner">
                                <span class="kx-btn__txt">Clear</span>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
