<!--
KONGSBERG PROPRIETARY. This document and its accompanying elements, contain KONGSBERG information which is proprietary and confidential.
Any disclosure, copying, distribution or use is prohibited if not otherwise explicitly agreed with KONGSBERG in writing.
Any authorized reproduction, in whole or in part, must include this legend. © [year of creation] KONGSBERG – All rights reserved.
-->
<!-- TABS Component -->
<nav class="kx-tabs">
    <ol class="kx-tabs__list">
        <li class="kx-tabs__item u--cursorPointer" *ngFor="let routeItem of routeList; let i = index;" [ngClass]="{'kx-is-active':activeTab===i}" (click)="tabClicked(i)" [routerLink]="routeItem.route">
            <a class="kx-tabs__label">
                <span class="kx-tabs__txt">{{routeItem.label}}</span>
            </a>
        </li>
    </ol>
</nav>
