<app-load *ngIf="isDataLoading"></app-load>
<div style="margin-top: 5px;" class="kx-card kx-card--skin-default">
    <div class="kx-card__body">
        <div class="kx-row">
            <div class="kx-col kx-col--4 kx-col--2@tab-m kx-col--6@mob-m">
                <div class="kx-mt--tiny">
                    <p-dropdown styleClass="kx-p--tiny" [(ngModel)]="selectedInstallation"
                        [options]="installationsDetail" optionLabel="displayName" filter="true"
                        (onChange)="installationChanged()" placeholder="Select installation">
                    </p-dropdown>
                </div>
            </div>
            <div class="vl"></div>
            <div class="kx-col kx-col--4 kx-col--3@tab-m kx-col--6@mob-m kx-col--1@ltp-s" style="text-align: center;">
                <label class="kx-label">IMO</label>
                <div class="kx-mt--tiny">
                    {{installationOverview? installationOverview.imoNo: ''}}
                </div>
            </div>
            <div class="kx-col kx-col--4 kx-col--3@tab-m kx-col--6@mob-m kx-col--1@ltp-s" style="text-align: center;">
                <label class="kx-label">Installation No.</label>
                <div class="kx-mt--tiny">
                    {{installationOverview? installationOverview.installationId: ''}}
                </div>
            </div>
            <div class="kx-col kx-col--4 kx-col--3@tab-m kx-col--6@mob-m kx-col--1@ltp-s" style="text-align: center;">
                <label class="kx-label">Installation Type</label>
                <div class="kx-mt--tiny">
                    {{(installationOverview && installationOverview.vesselType)? installationOverview.vesselType.name:
                    ''}}
                </div>
            </div>
            <div class="kx-col kx-col--4 kx-col--3@tab-m kx-col--6@mob-m kx-col--1@ltp-s" style="text-align: center;">
                <label class="kx-label">Node</label>
                <div class="kx-mt--tiny">
                    {{(installationOverview && installationOverview.node)? installationOverview.node.nodeNumber: ''}}
                </div>
            </div>
            <div class="vl"></div>
            <div class="kx-col kx-col--4 kx-col--2@tab-m kx-col--6@mob-m kx-col--2@ltp-s" style="text-align: center;">
                <label class="kx-label">
                    Destination
                </label>
                <div class="kx-mt--tiny">
                    {{(installationOverview && installationOverview.aisData)? installationOverview.aisData.destination:
                    ''}}
                </div>
            </div>
            <div class="kx-col kx-col--4 kx-col--1@tab-m kx-col--6@mob-m kx-col--@ltp-s" style="text-align: center; margin-right: 50px;">
                <label class="kx-label">ETA</label>
                <div class="kx-mt--tiny">
                    {{(installationOverview && installationOverview.aisData)? (installationOverview.aisData.eta |
                    date: appConstants.dateFormatWithTime) : ''}}
                </div>
            </div>
            <div class="kx-col kx-col--4 kx-col--1@tab-m kx-col--6@mob-m kx-col--1@ltp-s" style="text-align: center;margin-top: 4px;">
                <label class="kx-label kx-row">Current Position</label>
                <div class="kx-row kx-mt--tiny kx-icon kx-icon--size-base"
                    style="cursor: pointer;" (click)="viewAISCard($event)">
                    <svg focusable="false">
                        <use href="./assets/img/icons/sprites/icons.svg#map"></use>
                    </svg>
                </div>
            </div>
            <div class="kx-col kx-col--4 kx-col--3@tab-m kx-col--6@mob-m kx-col--1@ltp-s">
                <button (click)="showWhitelistDialog()"
                    class="kx-btn kx-btn--skin-secondary kx-btn--size-base kx-mt--tiny">
                    <span class="kx-btn__inner">
                        <span class="kx-btn__txt">View Whitelist</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<app-modal [displayMe]="showAISCard">
    <div class="modal-header">
        <div>
            AIS Information
            <button class="kx-btn kx-btn--skin-secondary kx-btn--size-tiny kx-btn--icon u--modalclosebtn"
                aria-label="close modal" title="close modal" (click)="toggleShowAISCard()">
                <span class="kx-btn__inner">
                    <i class="kx-icon kx-icon--size-moderate">
                        <svg focusable="false">
                            <use href="./assets/img/icons/sprites/icons.svg#close">
                            </use>
                        </svg>
                    </i>
                    <span class="kx-btn__txt kx-is-vishidden">close modal</span>
                </span>
            </button>
        </div>
    </div>
    <div class="modal-body">
        <div class="kx-container kx-p--none">
            <div class="kx-card kx-card--skin-default kx-p--medium">
                <div class="kx-row">
                    <div class="kx-col  kx-col--4">
                        <strong>Installation</strong> : {{installationOverview? installationOverview.displayName: ''}}
                    </div>
                    <div class="kx-col  kx-col--4">
                        <strong>IMO</strong> : {{installationOverview? installationOverview.imoNo: ''}}
                    </div>
                </div>
                <div class="kx-row kx-mt--tiny kx-mt--medium@mob-m">
                    <div class="kx-col kx-col--12">
                        <app-load *ngIf="isDataLoading"></app-load>
                        <div *ngIf="!(installationOverview && installationOverview.aisData)"
                            class="kx-card kx-card--skin-default kx-p--small">
                            No AIS Information available
                        </div>
                        <div *ngIf="installationOverview && installationOverview.aisData"
                            class="kx-row kx-card kx-card--skin-default">

                            <div class="kx-card__body card-body kx-p--small">
                                <div class="kx-row">

                                    <div class="kx-col kx-col--4">
                                        <strong>Timestamp :</strong>
                                        <div class="kx-mt--tiny">
                                            {{installationOverview.aisData.messageTimestamp | date: appConstants.dateFormatWithTime}}
                                        </div>
                                    </div>

                                    <div class="kx-col kx-col--4">
                                        <strong>Destination:</strong>
                                        <div class="kx-mt--tiny">
                                            {{installationOverview.aisData.destination}}
                                        </div>
                                    </div>
                                    <div class="kx-col kx-col--4">
                                        <div class="kx-mt--tiny">
                                            <strong>ETA :</strong>
                                            <div class="kx-mt--tiny">
                                                {{installationOverview.aisData.eta | date: appConstants.dateFormatWithTime}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kx-row">
                                    <div class="kx-col kx-col--4">
                                        <strong>Speed:</strong>
                                        <div class="kx-mt--tiny">
                                            {{installationOverview.aisData.speed}}
                                        </div>
                                    </div>
                                    <div class="kx-col kx-col--4">
                                        <div class="kx-mt--tiny">
                                            <strong>Draft :</strong>
                                            <div class="kx-mt--tiny">
                                                {{installationOverview.aisData.draft}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kx-col kx-col--4">
                                        <strong>Position:</strong>
                                        <div *ngIf="installationOverview.aisData && installationOverview.aisData.latitude "
                                            class="kx-mt--tiny">
                                            ({{installationOverview.aisData.latitude ?
                                            installationOverview.aisData.latitude :
                                            0}},
                                            {{installationOverview.aisData.longitude ?
                                            installationOverview.aisData.longitude :
                                            0}})
                                            <a href="https://maps.google.com/?q={{installationOverview.aisData.latitude  ? installationOverview.aisData.latitude : 0}},{{installationOverview.aisData.longitude  ? installationOverview.aisData.longitude : 0}}"
                                                target="_blank"> View </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-modal>

<!-- <p-dialog header="Header" [(visible)]="showWhitelist" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <p class="p-m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="showWhitelist=false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
</p-dialog> -->

<app-modal [displayMe]="showWhitelist">
    <div class="modal-header">
        <div>
            Whitelisted Countries
            <button class="kx-btn kx-btn--skin-secondary kx-btn--size-tiny kx-btn--icon u--modalclosebtn"
                aria-label="close modal" title="close modal" (click)="showWhitelist = !showWhitelist">
                <span class="kx-btn__inner">
                    <i class="kx-icon kx-icon--size-moderate">
                        <svg focusable="false">
                            <use href="./assets/img/icons/sprites/icons.svg#close">
                            </use>
                        </svg>
                    </i>
                    <span class="kx-btn__txt kx-is-vishidden">close modal</span>
                </span>
            </button>
        </div>
    </div>
    <div class="modal-body">
        <div class="kx-container kx-p--none">
            <div class="kx-card kx-card--skin-default kx-p--medium">
                <div class="kx-row">
                    <div class="kx-col  kx-col--4">
                        <strong>Installation</strong> : {{installationOverview? installationOverview.displayName: ''}}
                    </div>
                    <div class="kx-col  kx-col--4">
                        <strong>IMO</strong> : {{installationOverview? installationOverview.imoNo: ''}}
                    </div>
                </div>
                <div class="kx-row kx-mt--tiny kx-mt--medium@mob-m">
                    <div class="kx-col kx-col--12">
                        <app-load *ngIf="isDataLoading"></app-load>
                        <div *ngIf="whiteListedCountries.length == 0" class="kx-card kx-card--skin-default kx-p--small">
                            No country whitelisted
                        </div>
                        <table *ngIf="!isDataLoading && whiteListedCountries.length > 0"
                            class="kx-table kx-table--outer-border kx-table--slim-rows u--with-tbody-scroll">
                            <thead>
                                <tr>
                                    <th>Country</th>
                                    <th>MCCs </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let country of whiteListedCountries; let i = index;">
                                    <td>{{country.Name}}</td>
                                    <td>{{country.MCCs}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-modal>

<div>
    <div class="kx-p--small@mob-m kx-p--tiny">
        <nav class="kx-breadcrumb">
            <ol class="kx-breadcrumb__list">
                <li class="kx-breadcrumb__item" [ngClass]="{'u--disableTab':vesselId===0 && i!==0}"
                    *ngFor="let routeItem of operationsOverviewSteps; let i = index;" (click)="tabClicked(i)">
                    <a [ngClass]="{'u--selectedTab':activeTab===i}" [routerLink]="routeItem.route"
                        class="kx-breadcrumb__label u--fontLarge">{{routeItem.label}}</a>
                    <i *ngIf="!(operationsOverviewSteps.length == i + 1)" class="kx-icon kx-icon--size-tiny">
                        <svg focusable="false">
                            <use href="./assets/img/icons/sprites/icons.svg#chevron-right"></use>
                        </svg>
                    </i>
                </li>
            </ol>
        </nav>
    </div>
    <div>
        <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
</div>