<div class="kx-pt--small">
    <app-update-fouling-state #updateFoulingState
        (foulingStateUpdated)="listFoulingState.onSubSectionFoulingStateUpdated($event)"></app-update-fouling-state>
    <app-list-fouling-state #listFoulingState (foulingStateEdited)="updateFoulingState.onFoulingStateEdited($event)">
    </app-list-fouling-state>

    <div class="kx-row">
        <div class="kx-col kx-col--6">
            <button class="kx-btn kx-btn--skin-secondary kx-btn--size-base kx-mt--tiny" (click)="cancel()"
                style="float: right; margin-right: 10px;">
                <span class="kx-btn__inner">
                    <span class="kx-btn__txt">Cancel</span>
                </span>
            </button>
        </div>

        <div class="kx-col kx-col--6" style="float: left;">
            <button class="kx-btn kx-btn--skin-primary kx-btn--size-base kx-mt--tiny" (click)="next()">
                <span class="kx-btn__inner">
                    <span class="kx-btn__txt">Next</span>
                </span>
            </button>
        </div>
    </div>
</div>