<div class="kx-row kx-card kx-card--skin-default" style="margin-left:10px;">
    <div class="kx-card__header">
        <h5 class="kx-card__title" style="font-size: 14px;">Vessel Count</h5>
        <span class="kx-badge kx-inline-flex kx-align-items-center">
            <span class="kx-badge__fill kx-badge--skin-primary kx-inline-flex kx-align-items-center">
                <span class="kx-badge__txt">{{totalVessels.length}}</span>
            </span>
        </span>
    </div>
    <div id="chart">

    </div>
    <app-load *ngIf="showChart"></app-load>
</div>