.title-holder {
  text-align: center;
}
.title {
  font-family: 'Lato', sans-serif;
}
.subtitle {
  font-size: 20px;
}
.font {
  font-size: 18px;
}

/* legend */
.legend {
  font-size: 10px;
}
rect {
  cursor: pointer; 
  stroke-width: 2;
}
rect.disabled {
  fill: transparent !important;
}

/* chart */
#chart {
  height: 250px;
}

/* tooltip */
.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 18px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 10;
}


.kx-card__header {
  padding: 0;
  margin: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ece6e6;
}