<table class="kx-table kx-table--hover kx-table--outer-border  kx-table--slim-rows">
    <thead>
        <tr>
            <th>
                Vessel Name
                <div class="kx-form__element">
                    <input class="kx-field kx-field--size-base" (keyup)="searchRow('VesselName', $event)"
                        name="vessel-name-search-input" type="text" />
                </div>
            </th>
            <th>
                IMO Number
                <i (click)="sortRow('IMONumber', 'desc')" class="kx-icon kx-icon--size-base">
                    <svg focusable="false">
                        <use href="../../assets/img/icons/sprites/icons.svg#caret-down"></use>
                    </svg>
                </i>
                <i (click)="sortRow('IMONumber', 'asc')" class="kx-icon kx-icon--size-base">
                    <svg focusable="false">
                        <use href="../../assets/img/icons/sprites/icons.svg#caret-up"></use>
                    </svg>
                </i>
                <div class="kx-form__element">
                    <input class="kx-field kx-field--size-base" (keyup)="searchRow('IMONumber', $event)"
                        name="vessel-name-search-input" type="text" />
                </div>
            </th>
            <th>File Upload Status </th>
            <th>Disable Time (Optional) </th>
            <th>Action Log </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of vesselConnectivityControlList; let i = index;">
            <td>{{item.VesselName}}</td>
            <td>{{item.IMONumber}}</td>
            <td>
                <ul class="kx-select-group">
                    <li class="kx-select-item">
                        <label class="kx-selector kx-selector__switch">
                            <input type="checkbox" name="IsUploadEnabled{{i}}" [(ngModel)]="item.IsUploadEnabled" />
                            <div class="kx-selector__indicator"></div>
                            <span *ngIf="!item.IsUploadEnabled" class="label-text">OFF</span>
                            <span *ngIf="item.IsUploadEnabled" class="label-text">ON</span>
                        </label>
                    </li>
                </ul>
            </td>
            <td>
                <span *ngIf="item.IsUploadEnabled">Always on enabled</span>
                <span *ngIf="!item.IsUploadEnabled">
                    {{item.DisableTime}}
                </span>
            </td>
            <td>
                Always on enabled By {{item.EnabledBy}}
                <i (click)="toggleActivityLog()" class="kx-icon kx-icon--size-base u--floatRight u--cursorPointer">
                    <svg focusable="false">
                        <use href="../../assets/img/icons/sprites/icons.svg#view-list"></use>
                    </svg>
                </i>
            </td>
        </tr>
    </tbody>
</table>
<app-modal [displayMe]="displayActionLogModal"  (hideMe)="toggleActivityLog($event)"></app-modal>