<app-load *ngIf="portMeteorologyLoading"></app-load>
<div *ngIf="!portMeteorology" style="border-radius: 3px; margin-top: 8px;"
    class="kx-card kx-card--skin-default kx-p--small">
    Data is available only 24 hr prior to vessel ETB (Or operation time when ETB is not available) given that a port is assigned
</div>
<div *ngIf="portMeteorology" style="border-radius: 3px; margin-top: 10px;">
    <table class="kx-table kx-table--slim-rows u--with-tbody-scroll">
        <tbody>
            <tr style="margin-left: -12px;">
                <td style="width: 30%;">Collected at:</td>
                <!-- <td colspan="2" *ngIf="!portMeteorology.Date" style="width: 55%;">Never collected</td> -->
                <td colspan="2" *ngIf="portMeteorology.Date" style="width: 55%;">{{portMeteorology.Date | date:'MM/dd/yyyy HH:mm'}}
                    (UTC)</td>
                <td style="width: 15%;">
                    <button class="kx-btn kx-btn--skin-secondary kx-btn--size-tiny kx-btn--icon" aria-label="Refresh"
                        title="Refresh" (click)="refreshPortMeteorology()">
                        <span class="kx-btn__inner">
                            <i class="kx-icon kx-icon--size-moderate">
                                <svg focusable="true">
                                    <use href="./assets/img/icons/sprites/icons.svg#reload"></use>
                                </svg>
                            </i>
                            <span class="kx-btn__txt kx-is-vishidden">Refresh</span>
                        </span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <table style="margin-top: 7px;" class="kx-table kx-table--outer-border kx-table--slim-rows u--with-tbody-scroll">
        <tbody>
            <tr>
                <td style="width: 30%;">Air Temp:</td>
                <td *ngIf="!portMeteorology.AirTemp" style="width: 20%;"></td>
                <td *ngIf="portMeteorology.AirTemp" style="width: 20%;">{{portMeteorology.AirTemp}}°C</td>
                <td style="width: 30%;">Draught:</td>
                <td *ngIf="!installationOverview?.aisData?.draft" style="width: 20%;"></td>
                <td *ngIf="installationOverview?.aisData?.draft" style="width: 20%;">
                    {{installationOverview?.aisData?.draft}}m</td>
            </tr>
            <tr>
                <td style="width: 30%;">Humidity:</td>
                <td *ngIf="!portMeteorology.Humidity" style="width: 20%;"></td>
                <td *ngIf="portMeteorology.Humidity" style="width: 20%;">{{portMeteorology.Humidity}}%</td>
                <td style="width: 30%;">Berth Depth:</td>
                <td style="width: 20%;">
                    <input style="height: 25px; width: 45px; text-align: center;" type="number" oninput="validity.valid || (value='');"
                        [(ngModel)]="portMeteorology.BerthDepth" (change)="updateBerthDepth()"
                        name="berthDepth" autocomplete="off" />m
                </td>
                <!-- <td style="width: 25%;">{{portMeteorology.BerthDepth}}m</td> -->
            </tr>
            <tr>
                <td style="width: 30%;">Prcp:</td>
                <td *ngIf="!portMeteorology.Precipitation" style="width: 20%;"></td>
                <td *ngIf="portMeteorology.Precipitation" style="width: 20%;">{{portMeteorology.Precipitation}}mm</td>
                <td style="width: 30%;"></td>
                <td style="width: 20%;"></td>
            </tr>
            <tr>
                <td style="width: 30%;">Wind Speed:</td>
                <td *ngIf="!portMeteorology.WindSpeed" style="width: 20%;"></td>
                <td *ngIf="portMeteorology.WindSpeed" style="width: 20%;">{{portMeteorology.WindSpeed}}mph</td>
                <td style="width: 30%;"></td>
                <td style="width: 20%;"></td>
            </tr>
            <tr>
                <td style="width: 30%;">Wind Dir:</td>
                <td *ngIf="!portMeteorology.WindDirection" style="width: 20%;"></td>
                <td *ngIf="portMeteorology.WindDirection" style="width: 20%;">{{portMeteorology.WindDirection}}°</td>
                <td style="width: 30%;"></td>
                <td style="width: 20%;"></td>
            </tr>
        </tbody>
    </table>
</div>