<div class="kx-card kx-card--skin-default">
    <div class="kx-p--medium">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="kx-row">
                <div class="kx-col">
                    <label class="kx-label" for="selectbox1">Select Vessel</label>
                    <div class="kx-mt--tiny">
                        <p-dropdown placeholder="Select Vessel" [formControlName]="'VesselName'" [options]="vesselList"
                            optionLabel="VesselName" filter="true"></p-dropdown>
                    </div>
                </div>
                <div class="kx-col">
                    <label class="kx-label" for="selectbox1">From Date</label>
                    <div class="kx-mt--tiny kx-pr--xlarge">
                        <p-calendar [formControlName]="'FromDate'" inputStyleClass="kx-field kx-field--size-large"
                            placeholder="MM/dd/yyyy (UTC)">
                        </p-calendar>
                    </div>
                </div>
                <div class="kx-col">
                    <label class="kx-label" for="selectbox1">To Date</label>
                    <div class="kx-mt--tiny kx-pr--xlarge">
                        <p-calendar [formControlName]="'ToDate'" inputStyleClass="kx-field kx-field--size-large"
                            placeholder="MM/dd/yyyy (UTC)">
                        </p-calendar>
                    </div>
                </div>
                <div class="kx-col">
                    <button class="kx-btn kx-btn--skin-primary kx-btn--size-large kx-mt--medium">
                        <span class="kx-btn__inner">
                            <span class="kx-btn__txt">Get Logs</span>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div *ngIf="vesselHistoricalUploadStatus" class=" kx-mt--small">
    <p-table #tt [value]="vesselHistoricalUploadStatus.filesUploadStatus" [columns]="cols" [paginator]="true"
        [rows]="5">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" class="u--cursorPointer kx-p--xlarge">
                    {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
            </tr>
            <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input *ngSwitchCase="'Mission'" pInputText type="text" class="kx-field kx-field--size-base"
                        placeholder="Mission Name" style="width: 120px;"
                        (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                    <input *ngSwitchCase="'FileName'" pInputText type="text" class="kx-field kx-field--size-base"
                        placeholder="File Name" style="width: 120px;"
                        (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                    <input *ngSwitchCase="'FileType'" pInputText type="text" class="kx-field kx-field--size-base"
                        placeholder="File Type" style="width: 120px;"
                        (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                    <input *ngSwitchCase="'UploadStatus'" pInputText type="text" class="kx-field kx-field--size-base"
                        placeholder="Status" style="width: 120px;"
                        (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <div [ngSwitch]="col.field">
                        <div *ngSwitchDefault>
                            <div class="u--withEllipsis" [pTooltip]="rowData[col.field]">{{rowData[col.field]}}</div>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>