.chart {
  margin: 0;
  padding: 0;
}

.chart svg text {
  pointer-events: none;
}

.tick text {
  font-family: "Lato";
  font-size: 9px;
  fill: rgb(155, 41, 41);
}
.area {
  fill: lightsteelblue;
}
.map-tooltip {
  .leaflet-popup-content-wrapper {
    border-radius: 0px !important;
  }
}

.x-axis:hover {
  cursor: ew-resize;
}

.y-axis:hover {
  cursor: ns-resize;
}
.emptyais {
  position: absolute;
  bottom: 50%;
  z-index: 1;
  background: #686d72;
  color: #2bdeee;
  width: 98%;
  text-align:center;
  border: 1px solid #2bdeee;
}
.map{
  z-index: 0!important;
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
	}
.marker-cluster-new {
  background-color: rgb(248, 170, 53);
  opacity: .8;
  // opacity: .8 !important;
  }
