.chart {
  margin: 0;
  padding: 0;
}

.chart svg text {
  pointer-events: none;
}

.tick text {
  font-family: "Lato";
  font-size: 9px;
  fill: rgb(155, 41, 41);
}
.area {
  fill: lightsteelblue;
}
.map-tooltip {
  .leaflet-popup-content-wrapper {
    border-radius: 0px !important;
  }
}

.x-axis:hover {
  cursor: ew-resize;
}

.y-axis:hover {
  cursor: ns-resize;
}
.emptyais {
  position: absolute;
  bottom: 50%;
  z-index: 1;
  background: #686d72;
  color: #2bdeee;
  width: 98%;
  text-align:center;
  border: 1px solid #2bdeee;
}
.map{
  z-index: 0!important;
}
