<app-load *ngIf="!vesselListLoaded"></app-load>
<div *ngIf="vesselListLoaded" class="kx-card kx-card--skin-default">
    <div class="kx-p--medium">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="kx-row">
                <div class="kx-col kx-col--3">
                    <label class="kx-label" for="selectbox1">Select Vessel</label>
                    <div class="kx-mt--tiny">
                        <p-dropdown styleClass="kx-p--none" placeholder="Select Vessel" [formControlName]="'VesselName'"
                            [options]="vesselList" optionLabel="VesselName" filter="true" (onChange)="getMissionList()">
                        </p-dropdown>
                    </div>
                </div>
                <div class="kx-col kx-col--3">
                    <label class="kx-label" for="selectbox1">From Mission</label>
                    <div class="kx-mt--tiny kx-pr--xlarge">
                        <p-dropdown styleClass="kx-p--none" placeholder="Select Mission"
                            [formControlName]="'FromMission'" [options]="fromMissionList" optionLabel="name"
                            filter="true" (onChange)="filterToMissionList()"></p-dropdown>
                    </div>
                </div>
                <div class="kx-col kx-col--3">
                    <label class="kx-label" for="selectbox1">To Mission</label>
                    <div class="kx-mt--tiny kx-pr--xlarge">
                        <p-dropdown styleClass="kx-p--none" placeholder="Select Mission" [formControlName]="'ToMission'"
                            [options]="toMissionList" optionLabel="name" filter="true"></p-dropdown>
                    </div>
                </div>
                <div class="kx-col kx-col--3">
                    <button [disabled]="!form.valid"
                        class="kx-btn kx-btn--skin-primary kx-btn--size-base kx-mt--medium">
                        <span class="kx-btn__inner">
                            <span class="kx-btn__txt">Get Logs</span>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<app-load *ngIf="isFormSubmitted && !vesselHistoricalUploadStatus"></app-load>
<div *ngIf="!isFormSubmitted && vesselHistoricalUploadStatus">
    <div class="kx-card kx-card--skin-default kx-mt--small">
        <div class="kx-p--medium">
            <div class="kx-row">
                <div class="kx-col">
                    <strong>Total Files : </strong>{{vesselHistoricalUploadStatus.FilesOnVessel}}
                </div>
                <div class="kx-col">
                    <strong>Uploaded Files : </strong>{{vesselHistoricalUploadStatus.FilesUploaded}}
                </div>
                <div class="kx-col">
                    <strong>Not Uploaded Files : </strong>{{vesselHistoricalUploadStatus.FilesNotUploaded}}
                </div>
                <div class="kx-col">
                    <strong>In Progress Files : </strong>{{vesselHistoricalUploadStatus.FilesInProgress}}
                </div>
                <div class="kx-col">
                    <strong>Exclusion Count : </strong>{{vesselHistoricalUploadStatus.FilesExcluded}}
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="vesselHistoricalUploadStatus.filesUploadStatus.length > 0" class="kx-mt--small">
        <p-table tableStyleClass="kx-table kx-table--outer-border" #tt
            [value]="vesselHistoricalUploadStatus.filesUploadStatus" [columns]="cols" [paginator]="true"
            [rows]="PRIMENG_CONSTANTS.rowCount">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.sortfield" class="u--fontXSmall">
                        {{col.header}}
                        <p-sortIcon *ngIf="col.sortfield !== ''" [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                </tr>
                <tr>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field" class="kx-p--small">
                        <input *ngSwitchCase="'Mission'" pInputText type="text"
                            class="kx-field kx-field--size-base u--field--size-small" placeholder="Mission Name"
                            style="width: 120px;"
                            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input *ngSwitchCase="'FileName'" pInputText type="text"
                            class="kx-field kx-field--size-base u--field--size-small" placeholder="File Name"
                            style="width: 120px;"
                            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input *ngSwitchCase="'FileType'" pInputText type="text"
                            class="kx-field kx-field--size-base u--field--size-small" placeholder="File Type"
                            style="width: 120px;"
                            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input *ngSwitchCase="'UploadStatus'" pInputText type="text"
                            class="kx-field kx-field--size-base u--field--size-small" placeholder="Status"
                            style="width: 120px;"
                            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns" class="kx-p--small">
                        <div [ngSwitch]="col.field">
                            <div *ngSwitchCase="'FileUploadedDate'">
                                <div class="u--withEllipsis" [pTooltip]="rowData[col.field]">
                                    {{rowData[col.field] | date:'dd/MM/yyyy HH:mm'}}</div>
                            </div>
                            <div *ngSwitchCase="'FileCreatedDate'">
                                <div class="u--withEllipsis" [pTooltip]="rowData[col.field]">
                                    {{rowData[col.field] | date:'dd/MM/yyyy HH:mm'}}</div>
                            </div>
                            <div *ngSwitchCase="'FileModifiedDate'">
                                <div class="u--withEllipsis" [pTooltip]="rowData[col.field]">
                                    {{rowData[col.field] | date:'dd/MM/yyyy HH:mm'}}</div>
                            </div>
                            <div *ngSwitchCase="'Mission'">
                                <div class="u--withEllipsis" [pTooltip]="rowData[col.field]">{{rowData[col.field]}}
                                </div>
                            </div>
                            <div *ngSwitchCase="'FileName'">
                                <div class="u--withEllipsis" [pTooltip]="rowData[col.field]">{{rowData[col.field]}}
                                </div>
                            </div>
                            <div *ngSwitchCase="'FilePath'">
                                <div class="u--withEllipsis" [pTooltip]="rowData[col.field]">{{rowData[col.field]}}
                                </div>
                            </div>
                            <div *ngSwitchDefault>
                                {{rowData[col.field]}}
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div *ngIf="vesselHistoricalUploadStatus.filesUploadStatus.length === 0"
        class="kx-notification kx-notification--neutral kx-notification--block kx-flex kx-align-items-start kx-justify-content-start kx-mt--small">
        <div class="kx-notification__content kx-flex kx-flex-wrap kx-align-items-start">
            <header class="kx-notification__header">
                <h3 class="kx-notification__title">No Data Available</h3>
            </header>
        </div>
    </div>
</div>