<app-load *ngIf="!vesselListLoaded"></app-load>
<div *ngIf="vesselListLoaded" class="kx-card kx-card--skin-default">
    <div class="kx-p--tiny kx-p--medium@mob-m">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="kx-row">
                <div class="kx-col kx-col--12 kx-col--2@ltp-s kx-col--6@mob-m">
                    <label class="kx-label" for="selectbox1">Select Vessel</label><small class="u--textDanger"> Required
                        *</small>
                    <div class="kx-mt--tiny">
                        <p-dropdown styleClass="kx-p--none" placeholder="Select Vessel" [formControlName]="'VesselId'"
                            [options]="vesselList" optionLabel="DisplayName" filter="true" (onChange)="getMissionList()">
                        </p-dropdown>
                    </div>
                </div>
                <div class="kx-col kx-col--12 kx-col--2@ltp-s kx-col--6@mob-m">
                    <label class="kx-label" for="selectbox1">From Mission</label>
                    <div class="kx-mt--tiny">
                        <p-dropdown styleClass="kx-p--none" placeholder="Select Mission"
                            [formControlName]="'FromMission'" [options]="fromMissionList" optionLabel="name"
                            filter="true" (onChange)="filterToMissionList()"></p-dropdown>
                    </div>
                </div>
                <div class="kx-col kx-col--12 kx-col--2@ltp-s kx-col--6@mob-m">
                    <label class="kx-label" for="selectbox1">To Mission</label>
                    <div class="kx-mt--tiny">
                        <p-dropdown styleClass="kx-p--none" placeholder="Select Mission" [formControlName]="'ToMission'"
                            [options]="toMissionList" optionLabel="name" filter="true"
                            (onChange)="filterFromMissionList()"></p-dropdown>
                    </div>
                </div>
                <div class="kx-col kx-col--12 kx-col--2@ltp-s kx-col--6@mob-m">
                    <label class="kx-label" for="selectbox1">From Date</label>
                    <div class="kx-mt--tiny kx-pr--xlarge">
                        <p-calendar inputStyleClass="kx-field kx-field--size-base" showTime="true" hourFormat="24"
                            hideOnDateTimeSelect="true" showButtonBar="true" [appendTo]="pcalendarRef"
                            placeholder="{{PRIMENG_CONSTANTS.datepickerFormat}} HH:mm" readonlyInput="true"
                            [dateFormat]="PRIMENG_CONSTANTS.datepickerFormat" [formControlName]="'FromDate'"
                            [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2050" [maxDate]="form.value.ToDate"
                            selectOtherMonths="true">
                        </p-calendar>
                    </div>
                </div>
                <div class="kx-col kx-col--12 kx-col--2@ltp-s kx-col--6@mob-m">
                    <label class="kx-label" for="selectbox1">To Date</label>
                    <div class="kx-mt--tiny kx-pr--xlarge">
                        <p-calendar inputStyleClass="kx-field kx-field--size-base" showTime="true" hourFormat="24"
                            hideOnDateTimeSelect="true" showButtonBar="true" [appendTo]="pcalendarRef"
                            readonlyInput="true" placeholder="{{PRIMENG_CONSTANTS.datepickerFormat}} HH:mm"
                            [minDate]="form.value.FromDate" [dateFormat]="PRIMENG_CONSTANTS.datepickerFormat"
                            [formControlName]="'ToDate'" [monthNavigator]="true" [yearNavigator]="true"
                            yearRange="1950:2050" selectOtherMonths="true">
                            <!-- (onSelect)="form.controls.FromDate.setValue(form.controls.ToDate.value)"> -->
                        </p-calendar>
                    </div>
                </div>
                <div class="kx-col kx-col--12 kx-col--2@ltp-s kx-col--6@mob-m">
                    <button [disabled]="!form.valid"
                        class="kx-btn kx-btn--skin-primary kx-btn--size-base kx-mt--tiny kx-mt--medium@mob-m kx-mr--medium">
                        <span class="kx-btn__inner">
                            <span class="kx-btn__txt">Get Logs</span>
                        </span>
                    </button>
                    <button type="button" (click)="form.reset();resetMissions()"
                        class="kx-btn kx-btn--skin-primary kx-btn--size-base kx-kx-mt--tiny kx-mt--medium@mob-m">
                        <span class="kx-btn__inner">
                            <span class="kx-btn__txt">Reset</span>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div #pcalendarRef></div>
<app-load *ngIf="isFormSubmitted && !vesselHistoricalUploadStatus"></app-load>
<div *ngIf="!isFormSubmitted && vesselHistoricalUploadStatus">
    <div class="kx-card kx-card--skin-default kx-mt--small">
        <div class="kx-p--medium">
            <div class="kx-row">
                <div class="kx-col">
                    <strong>Total Files : </strong>{{vesselHistoricalUploadStatus.TotalFilesOnVessel}}
                </div>
                <div class="kx-col">
                    <strong>Uploaded Files : </strong>{{vesselHistoricalUploadStatus.TotalFilesUploaded}}
                </div>
                <div class="kx-col">
                    <strong>Not Uploaded Files : </strong>{{vesselHistoricalUploadStatus.TotalFilesNotUploaded}}
                </div>
                <div class="kx-col">
                    <strong>In Progress Files : </strong>{{vesselHistoricalUploadStatus.TotalFilesInProgress}}
                </div>
                <div class="kx-col">
                    <strong>Exclusion Count : </strong>{{vesselHistoricalUploadStatus.TotalFilesExcluded}}
                </div>
                <div class="kx-col">
                    <strong>Last Contact Date : </strong>{{vesselHistoricalUploadStatus.LastContactDate}}
                </div>
              
                <button type="button" (click)="markSelectionForUpload()" [disabled]="disableMarkForUpload"
                class="markforUploadbtn kx-btn kx-btn--skin-primary kx-btn--size-base kx-mt--tiny kx-mt--small@mob-m kx-mr--tiny">
                <span class="kx-btn__inner">
                    <span class="kx-btn__txt">Mark for upload</span>    
                </span>
            </button>
        
            </div>
        </div>
    </div>
    <div *ngIf="vesselHistoricalUploadStatus.FileOnVessels.length > 0" class="kx-mt--small">
        <p-table tableStyleClass="kx-table kx-table--outer-border" #tt
            [value]="vesselHistoricalUploadStatus.FileOnVessels" [columns]="cols" [(selection)]="selectedRows" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" autoLayout="true" [paginator]="true" [rows]="10"
            [rowsPerPageOptions]="[5,10,20,50,100,200,500]">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>
                        <p-checkbox (click)="selectRow(e.checked)" #e></p-checkbox>
                      </th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.sortfield" class="u--fontXSmall u--fontBold"
                        [ngClass]="{'u--cursorPointer': col.sortfield !== ''}"
                        title="{{(col.sortfield!=='') ? 'Click to sort' : ''}}">
                        {{col.header}}
                        <p-sortIcon *ngIf="col.sortfield !== ''" [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                </tr>
                <tr>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field" class="kx-p--small">
                        <input *ngSwitchCase="'VesselName'" pInputText type="text"
                            class="kx-field kx-field--size-base u--field--size-small" placeholder="Vessel Name"
                            style="width: 115px;margin-right:5px;"
                            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input *ngSwitchCase="'Mission'" pInputText type="text"
                            class="kx-field kx-field--size-base u--field--size-small" placeholder="Mission Name"
                            style="width: 115px;margin-right:5px;"
                            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input *ngSwitchCase="'FileName'" pInputText type="text"
                            class="kx-field kx-field--size-base u--field--size-small" placeholder="File Name"
                            style="width: 115px;margin-right:5px;"
                            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input *ngSwitchCase="'FileType'" pInputText type="text"
                            class="kx-field kx-field--size-base u--field--size-small" placeholder="File Type"
                            style="width: 115px;margin-right:5px;"
                            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input *ngSwitchCase="'UploadStatus'" pInputText type="text"
                            class="kx-field kx-field--size-base u--field--size-small" placeholder="Status"
                            style="width: 115px;margin-right:5px;"
                            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td>
                        <span *ngIf="rowData.MarkedForUpload" pTooltip="File already marked for upload"> <i class="pi pi-cloud-upload" style="font-size: 1.5rem"></i></span> 
                     
                    <p-tableCheckbox *ngIf="(rowData.FileName.includes('.upload_later') && rowData.MarkedForUpload==false)" ngDefaultControl  [value]="rowData" >
                    </p-tableCheckbox>
            
                  </td>
                    <td *ngFor="let col of columns" class="kx-p--small u--fontXSmall">
                        <div [ngSwitch]="col.field">
                            <div *ngSwitchCase="'FileUploadedDate'">
                                <div class="u--withEllipsis" [pTooltip]="rowData[col.field]">
                                    {{rowData[col.field] | date:'dd/MM/yyyy HH:mm'}}</div>
                            </div>
                            <div *ngSwitchCase="'FileCreatedDate'">
                                <div class="u--withEllipsis" [pTooltip]="rowData[col.field]">
                                    {{rowData[col.field] | date:'dd/MM/yyyy HH:mm'}}</div>
                            </div>
                            <div *ngSwitchCase="'FileModifiedDate'">
                                <div class="u--withEllipsis" [pTooltip]="rowData[col.field]">
                                    {{rowData[col.field] | date:'dd/MM/yyyy HH:mm'}}</div>
                            </div>
                            <div *ngSwitchCase="'Mission'">
                                <div class="u--withEllipsis" [pTooltip]="rowData[col.field]">{{rowData[col.field]}}
                                </div>
                            </div>
                            <div *ngSwitchCase="'FileName'">
                                <div class="u--withEllipsis" [pTooltip]="rowData[col.field]">{{rowData[col.field]}}
                                </div>
                            </div>
                            <div *ngSwitchCase="'FilePath'">
                                <div class="u--withEllipsis" [pTooltip]="rowData[col.field]">{{rowData[col.field]}}
                                </div>
                            </div>
                            <div *ngSwitchDefault>
                                {{rowData[col.field]}}
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <app-no-data [displayme]="vesselHistoricalUploadStatus.FileOnVessels.length === 0"></app-no-data>
</div>