<div class="kx-card kx-card--skin-default">
    <div class="kx-card__body">
        <div class="kx-row kx-row--gutters">
            <div class="kx-col kx-col--12 kx-col--6@ltp-s" style="padding: 0;">
                <div style="padding: 2rem 2rem 0 0;float:right;">
                    <label class="kx-selector kx-selector__switch">
                        <input type="checkbox" name="ShowLogs" [(ngModel)]="showLogs" (ngModelChange)="getPlanList()" />
                        <div class="kx-selector__indicator"></div>
                        {{form.ShowLogs | json}}
                        <span *ngIf="!showLogs" class="label-text">Hide Logs</span>
                        <span *ngIf="showLogs" class="label-text">Show Logs</span>
                    </label>
                </div>
            </div>
            <div class="kx-col kx-col--12 kx-col--6@ltp-s" style="padding: 0;">
                <form [formGroup]="form" (ngSubmit)="searchFormOnSubmit()">
                    <div class="kx-row">
                        <div class="kx-col kx-col--12 kx-col--4@mob-m" style="padding: 0;">
                            <label class="kx-label" for="selectbox1">From Date</label>
                            <div class="kx-mt--nano kx-pr--small">
                                <p-calendar inputStyleClass="kx-field kx-field--size-base" showTime="true"
                                    hourFormat="24" hideOnDateTimeSelect="true" showButtonBar="true"
                                    placeholder="{{PRIMENG_CONSTANTS.datepickerFormat}} HH:mm"
                                    [dateFormat]="PRIMENG_CONSTANTS.datepickerFormat"
                                    [formControlName]="'OperationFromDate'" [monthNavigator]="true"
                                    [yearNavigator]="true" yearRange="1950:2050">
                                </p-calendar>
                            </div>
                        </div>
                        <div class=" kx-col kx-col--12 kx-col--4@mob-m" style="padding: 0;">
                            <label class="kx-label" for="selectbox1">To Date</label>
                            <div class="kx-mt--nano kx-pr--small">
                                <p-calendar inputStyleClass="kx-field kx-field--size-base" showTime="true"
                                    hourFormat="24" hideOnDateTimeSelect="true" showButtonBar="true"
                                    placeholder="{{PRIMENG_CONSTANTS.datepickerFormat}} HH:mm"
                                    [dateFormat]="PRIMENG_CONSTANTS.datepickerFormat"
                                    [formControlName]="'OperationToDate'" [monthNavigator]="true"
                                    [yearNavigator]="true" yearRange="1950:2050">
                                </p-calendar>
                            </div>
                        </div>
                        <div class="kx-col kx-col--12 kx-col--4@mob-m" style="padding: 8px 0 0 0;">
                            <button [disabled]="!form.valid"
                                class="kx-btn kx-btn--skin-primary kx-btn--size-base kx-mx--tiny kx-mt--base">
                                <span class="kx-btn__inner">
                                    <span class="kx-btn__txt">Search</span>
                                </span>
                            </button>
                            <button (click)="form.reset()"
                                class="kx-btn kx-btn--skin-primary kx-btn--size-base kx-mx--tiny kx-mt--base">
                                <span class="kx-btn__inner">
                                    <span class="kx-btn__txt">Reset</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="kx-row kx-mt--small">
    <div class="kx-col">
        <app-load *ngIf="isDataLoading"></app-load>
        <p-table *ngIf="!isDataLoading && operationalPlansList.length > 0" #tt [value]="operationalPlansList"
            [columns]="cols" [paginator]="true" [rows]="PRIMENG_CONSTANTS.rowCount" dataKey="PlanId"
            rowExpandMode="single" tableStyleClass="kx-table kx-table--outer-border" autoLayout="true">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 1.5em" class="u--cursorPointer kx-p--small"></th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.sortfield"
                        class="u--cursorPointer kx-p--small" title="Click to sort">
                        {{col.header}}
                        <p-sortIcon *ngIf="col.sortfield !== ''" [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                </tr>
                <tr>
                    <th style="width: 1.5em" class="u--cursorPointer kx-p--small"></th>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field" class="u--cursorPointer kx-p--small">
                        <input *ngSwitchCase="'VesselName'" pInputText type="text"
                            class="kx-field kx-field--size-small u--field--size-small" placeholder="Vessel"
                            style="width: 80px;"
                            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input *ngSwitchCase="'Status'" pInputText type="text"
                            class="kx-field kx-field--size-small u--field--size-small" placeholder="Status"
                            style="width: 80px;"
                            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
                <tr>
                    <td (click)="loadSubOperations(rowData)" class="kx-p--small">
                        <a href="#" [pRowToggler]="rowData">
                            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                        </a>
                    </td>
                    <td *ngFor="let col of columns" class="kx-p--small">
                        <div [ngSwitch]="col.field">
                            <div *ngSwitchCase="'OperationDate'">
                                {{rowData[col.field] | date:'dd/MM/yyyy HH:mm'}}
                            </div>
                            <div *ngSwitchCase="'ETADate'">
                                {{rowData[col.field] | date:'dd/MM/yyyy HH:mm'}}
                            </div>
                            <div *ngSwitchCase="'LastUpdatedDate'">
                                {{rowData[col.field] | date:'dd/MM/yyyy HH:mm'}}
                            </div>
                            <div *ngSwitchCase="'PlanId'" class="u--withEllipsis" style="width: 100px;">
                                <div class="kx-btngroup kx-flex kx-flex-wrap kx-btngroup--spacing" role="group"
                                    aria-label="Aria label example">
                                    <a class="kx-btn kx-btn--skin-secondary kx-btn--size-tiny kx-btn--icon"
                                        aria-label="Edit Operational Plan" title="Edit Operational Plan"
                                        [routerLink]="['plan', 'edit', rowData.PlanId]">
                                        <span class="kx-btn__inner">
                                            <i class="kx-icon kx-icon--size-moderate">
                                                <svg focusable="false">
                                                    <use href="./assets/img/icons/sprites/icons.svg#pencil">
                                                    </use>
                                                </svg>
                                            </i>
                                            <span class="kx-btn__txt kx-is-vishidden">Edit Operational Plan</span>
                                        </span>
                                    </a>
                                    <a class="kx-btn kx-btn--skin-secondary kx-btn--size-tiny kx-btn--icon"
                                        aria-label="Copy Operational Plan" title="Copy Operational Plan"
                                        [routerLink]="['plan', 'copy', rowData.PlanId]">
                                        <span class="kx-btn__inner">
                                            <i class="kx-icon kx-icon--size-moderate">
                                                <svg focusable="false">
                                                    <use href="./assets/img/icons/sprites/icons.svg#copy">
                                                    </use>
                                                </svg>
                                            </i>
                                            <span class="kx-btn__txt kx-is-vishidden">Copy Operational Plan</span>
                                        </span>
                                    </a>
                                    <button [disabled]="rowData.Status !== 'New'"
                                        class="kx-btn kx-btn--skin-secondary kx-btn--size-tiny kx-btn--icon"
                                        aria-label="Complete Operational Plan" title="Complete Operational Plan"
                                        (click)="completeOperation(rowData)">
                                        <span class="kx-btn__inner">
                                            <i class="kx-icon kx-icon--size-moderate">
                                                <svg focusable="false">
                                                    <use href="./assets/img/icons/sprites/icons.svg#check">
                                                    </use>
                                                </svg>
                                            </i>
                                            <span class="kx-btn__txt kx-is-vishidden">Complete Operational Plan</span>
                                        </span>
                                    </button>
                                    <a class="kx-btn kx-btn--skin-secondary kx-btn--size-tiny kx-btn--icon"
                                        aria-label="Add Sub Operational Plan" title="Add Sub Operational Plan"
                                        [routerLink]="['sub-operational-plan', rowData.PlanId]">
                                        <span class="kx-btn__inner">
                                            <i class="kx-icon kx-icon--size-moderate">
                                                <svg focusable="false">
                                                    <use href="./assets/img/icons/sprites/icons.svg#plus">
                                                    </use>
                                                </svg>
                                            </i>
                                            <span class="kx-btn__txt kx-is-vishidden">Add Sub Operational Plan</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div *ngSwitchDefault class="u--withEllipsis" style="width: 80px;"
                                [pTooltip]="rowData[col.field]">{{rowData[col.field]}}</div>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                <tr>
                    <td [attr.colspan]="columns.length + 1" class="kx-p--small">
                        <div class="kx-card kx-card--skin-default kx-p--small kx-m--base">
                            <div class="kx-row">
                                <div class="kx-col">
                                    <app-load *ngIf="isSubOperationDataLoading"></app-load>
                                    <p-table *ngIf="!isSubOperationDataLoading && subOperationsList.length > 0" #tt
                                        [value]="subOperationsList" [columns]="subOperationCols"
                                        tableStyleClass="kx-table kx-table--outer-border" autoLayout="true">
                                        <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.sortfield"
                        class="u--cursorPointer kx-p--small" title="Click to sort">
                        {{col.header}}
                        <p-sortIcon *ngIf="col.sortfield !== ''" [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns" class="u--paddingNone">
                        <div [ngSwitch]="col.field">
                            <div *ngSwitchCase="'SubOperationStartTime'">
                                {{rowData[col.field] | date:'dd/MM/yyyy HH:mm'}}
                            </div>
                            <div *ngSwitchCase="'SubOperationEndTime'">
                                {{rowData[col.field] | date:'dd/MM/yyyy HH:mm'}}
                            </div>
                            <div *ngSwitchCase="'LastUpdatedDate'">
                                {{rowData[col.field] | date:'dd/MM/yyyy HH:mm'}}
                            </div>
                            <div *ngSwitchCase="'SubPlanId'">
                                <button [disabled]="rowData.Status !== 'New'"
                                    class="kx-btn kx-btn--skin-secondary kx-btn--size-tiny kx-btn--icon"
                                    aria-label="Complete Sub Operational Plan" title="Complete Sub Operational Plan"
                                    (click)="completeSubOperation(rowData)">
                                    <span class="kx-btn__inner">
                                        <i class="kx-icon kx-icon--size-moderate">
                                            <svg focusable="false">
                                                <use href="./assets/img/icons/sprites/icons.svg#check">
                                                </use>
                                            </svg>
                                        </i>
                                        <span class="kx-btn__txt kx-is-vishidden">Complete Sub Operational Plan</span>
                                    </span>
                                </button>
                            </div>
                            <div *ngSwitchDefault>{{rowData[col.field]}}</div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <app-no-data [displayme]="!isSubOperationDataLoading && subOperationsList.length === 0"></app-no-data>
    </div>
</div>
</div>
</td>
</tr>
</ng-template>
</p-table>
<app-no-data [displayme]="!isDataLoading && operationalPlansList.length === 0"></app-no-data>
</div>
</div>