// ::ng-deep .ui-tree-container {
//     color: blue;
//   }
  
  ::ng-deep .fa-caret-right::before {
     content: "\F067";
  }
  
  ::ng-deep .fa-caret-down::before {
     content: "\F068";
  }


//   [draggable=true] {
//    cursor: move;
//  }
//  .resizable {
//    overflow: scroll;
//    resize: both;
//    max-width: 300px;
//    max-height: 300px;
//    // border: 1px solid black;
//    // min-width: 50px;
//    min-height: 150px;
//    // background-color: skyblue;
//  }