<!--
KONGSBERG PROPRIETARY. This document and its accompanying elements, contain KONGSBERG information which is proprietary and confidential.
Any disclosure, copying, distribution or use is prohibited if not otherwise explicitly agreed with KONGSBERG in writing.
Any authorized reproduction, in whole or in part, must include this legend. © [year of creation] KONGSBERG – All rights reserved.
-->
<div class="kx-card kx-card--skin-default" *ngIf="config && config.formList && config.formList.length > 0">
    <div class="kx-p--tiny kx-p--medium@mob-m">
        <div class="kx-row kx-row--gutters">
            <app-load *ngIf="isDataLoading"></app-load>
            <form [formGroup]="formsData" class="kx-row kx-row--gutters" style="width: 100%">
                <div formArrayName="formsArray">
                    <div class="kx-row kx-row--gutters" [formGroupName]="0" style="margin-bottom: -50px;">
                        <app-dynamic-form
                            class="kx-col kx-col--12 kx-col--12@mob-m kx-col--4@tab-m kx-col--10@ltp-s kx-row kx-row--gutters"
                            style="display: contents" [form]="formsArray.controls[0]"
                            [isFormSubmitted]="isFormSubmmited" [formValues]="form1Values"
                            [config]="formsArrayConfigs[0]" (formOnchangeEvent)="formOnchangeEvent($event)">
                        </app-dynamic-form>
                        <p-button (click)="showMaximizableDialog()" icon="pi pi-external-link" style="margin-top: 27px;"
                            [disabled]="disableForm" [ngClass]="disableForm ? 'disablePointerEvents' : 'none'"
                            label="{{editOperation? 'View Sections': 'Select Sections'}}"></p-button>
                        <div class="kx-col kx-col--7 kx-col--5@mob-m kx-col--8@tab-m kx-col--2@ltp-s">
                            <div class="kx-mt--tiny">
                                <button (click)="showModalDialog()" style="margin-top: 18px; height: 37px;"
                                    class="kx-btn kx-btn--skin-primary kx-btn--size-base">
                                    <span class="kx-btn__inner">
                                        <span class="kx-btn__txt">Operation Actions</span>
                                    </span>
                                </button>
                                <p-dialog #actionDialog [(visible)]="displayActionModal" [style]="{width: '15vw'}"
                                    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
                                    <div class="kx-listgroup">
                                        <ul class="kx-list kx-list--item-highlight">
                                            <li class="kx-list-item u--cursorPointer"
                                                (click)="addSecondaryOperationToList($event, actionDialog)">
                                                <span class="kx-list-item__text">
                                                    <span class="kx-list-item__primary-text">Add Secondary
                                                        Operation</span>
                                                </span>
                                            </li>
                                            <li class="kx-list-item u--cursorPointer"
                                                (click)="openPlanProposalTemplate(documentTemplate)"
                                                *ngIf="editOperation">
                                                <span class="kx-list-item__text">
                                                    <span class="kx-list-item__primary-text">Plan Proposal</span>
                                                </span>
                                            </li>
                                            <li class="kx-list-item u--cursorPointer"
                                                (click)="openPortRequestTemplate(documentTemplate)"
                                                *ngIf="editOperation">
                                                <span class="kx-list-item__text">
                                                    <span class="kx-list-item__primary-text">Port Request</span>
                                                </span>
                                            </li>
                                            <li *ngIf="editOperation" class="kx-list-item u--cursorPointer"
                                                (click)="openRegularityKPIForm($event, actionDialog)">
                                                <span class="kx-list-item__text">
                                                    <span class="kx-list-item__primary-text">Regularity KPI</span>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <ng-template pTemplate="footer">
                                        <p-button icon="pi pi-check" (click)="displayActionModal=false" label="Ok"
                                            styleClass="p-button-text"></p-button>
                                    </ng-template>
                                </p-dialog>
                            </div>
                        </div>
                        <p-dialog header="" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '50vw'}"
                            [maximizable]="true" [baseZIndex]="10000" [draggable]="true" [resizable]="true">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <table>
                                            <th>Sections</th>
                                            <th colspan="90%">Subsections</th>
                                            <tr *ngFor="let row of opertionSections; let i=index;"
                                                style="margin-top: 16px">
                                                <button *ngIf="!row.selected"
                                                    class="kx-btn kx-btn--skin-secondary kx-btn--size-base section"
                                                    (click)="onSectionSelected(row)">
                                                    <span class="kx-btn__inner">
                                                        <span class="kx-btn__txt">{{row.name}}</span>
                                                    </span>
                                                </button>

                                                <button *ngIf="row.selected"
                                                    class="u--bgSuccess kx-btn kx-btn--size-base section"
                                                    (click)="onSectionSelected(row)">
                                                    <span class="kx-btn__inner">
                                                        <span class="kx-btn__txt">{{row.name}}</span>
                                                    </span>
                                                </button>
                                                <td *ngFor="let col of row.subSections; let j=index">
                                                    <button *ngIf="!col.selected"
                                                        class="kx-btn kx-btn--skin-secondary kx-btn--size-base  subsection"
                                                        (click)="onSubSectionSelected(row, col)">
                                                        <span class="kx-btn__inner">
                                                            <span class="kx-btn__txt">{{col.subSectionNumber}}</span>
                                                        </span>
                                                    </button>
                                                    <button *ngIf="col.selected"
                                                        class="u--bgSuccess kx-btn kx-btn--size-base subsection"
                                                        (click)="onSubSectionSelected(row, col)">
                                                        <span class="kx-btn__inner">
                                                            <span class="kx-btn__txt">{{col.subSectionNumber}}</span>
                                                        </span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <ng-template pTemplate="footer">
                                <p-button icon="pi pi-check" (click)="displayMaximizable=false" label="Ok"
                                    styleClass="p-button-text">
                                </p-button>
                            </ng-template>
                        </p-dialog>
                    </div>

                    <div class="kx-row kx-row--gutters">
                        <app-secondry-operation-listing [sections]="sections" [isEditOperation]="editOperation"
                            [isFormDirty]="isFormDirty" [gobalSelectedSubSectionId]="gobalSelectedSubSectionId"
                            #secondaryListing style="width: 100%;
                        margin-left: 13px;">
                        </app-secondry-operation-listing>
                    </div>

                    <div class="kx-row kx-row--gutters" [formGroupName]="1" style="margin-bottom: -50px;">
                        <app-dynamic-form
                            class="kx-col kx-col--12 kx-col--12@mob-m kx-col--4@tab-m kx-col--10@ltp-s kx-row kx-row--gutters"
                            style="display: contents" [form]="formsArray.controls[1]"
                            [isFormSubmitted]="isFormSubmmited" [formValues]="form2Values"
                            [config]="formsArrayConfigs[1]" (formOnchangeEvent)="formOnchangeEvent($event)">
                        </app-dynamic-form>

                        <div class="kx-col kx-col--12 kx-col--6@mob-m kx-col--5@tab-m kx-col--2@ltp-s">
                            <label class="kx-label">Operator</label>
                            <i class="kx-icon kx-icon--size-base" disabled="disableForm"
                                [ngClass]="disableForm ? 'disablePointerEvents' : 'none'" title="Select operator">
                                <a href="#" (click)="showAvailableOperators($event)">
                                    <svg focusable="false">
                                        <use href="./assets/img/icons/sprites/icons.svg#person"></use>
                                    </svg>
                                </a>
                            </i>
                            <div class="kx-mt--tiny">
                                <input class="kx-field kx-field--size-base" type="text"
                                    value="{{selectedOperator ? (selectedOperator.name + ' ' + selectedOperator.surName) : '' }}"
                                    placeholder="Click person icon" disabled />
                            </div>
                        </div>

                    </div>
                </div>

                <div  *ngIf="operationToEdit" class="kx-card kx-card--skin-default" style="width: 100%; margin-left: 20px; margin-bottom: 20px;">
                    <div class="kx-row kx-row--gutters" style="margin-top: -10px; margin-bottom: -14px;">
                        <div class="kx-col kx-col--4 kx-col--4@tab-m kx-col--6@mob-m">
                            <i class="kx-icon kx-icon--size-base"
                                style="position: absolute; margin-top: 25px; margin-left: 85%; z-index: 9; cursor: pointer;"
                                *ngIf="operationToEdit && operationToEdit.Id>0"
                                [ngClass]="disableForm ? 'disablePointerEvents' : 'none'" title="Add port contacts">
                                <a (click)="showAddContactModalDialog()">
                                    <svg focusable="false" style="width: 32px;height: 25px;">
                                        <use href="./assets/img/icons/sprites/icons.svg#group"></use>
                                    </svg>
                                </a>
                            </i>
                            <div class="kx-card kx-card--skin-default"
                                style="height: 250px; margin-top: 20px;padding: 5px;margin-left: 10px;">
                                <!-- <b>INSTALLATION CONTACT DETAILS</b> -->
                                <app-contact-listing *ngIf="operationToEdit" #contactListing [isOperationScreen]="true" [operation]="operationToEdit" (contactOnEdit)="onOperationContactEdited($event)"></app-contact-listing>
                            </div>
                        </div>
                        <div *ngIf="editOperation" class="kx-col kx-col--4 kx-col--4@tab-m kx-col--6@mob-m">
                            <div class="kx-card kx-card--skin-default"
                                style="height: 250px; margin-top: 20px;padding: 5px;">
                                <div>
                                    <b>PORT METEOROLOGY</b> <i style="vertical-align: top; margin-left: 5px;"
                                        class="kx-icon kx-icon--size-moderate"
                                        title="Weather update starts 24 hrs prior to vessel ETB (Operation Date when no ETB) until Operation Date is passed (ETB when no Operation Date). Date (or ETB) and a port with valid coordinates must be registred. No weather updates once operation is Completed or Aborted. Weather data available upto 3 days. Use manual update to override default behaviour.">
                                        <svg focusable="true">
                                            <use href="./assets/img/icons/sprites/icons.svg#info"></use>
                                        </svg>
                                    </i>
                                </div>
                                <app-port-meteorology [operation]="operationToEdit"></app-port-meteorology>
                            </div>
                        </div>
                        <div *ngIf="editOperation" class="kx-col kx-col--4 kx-col--4@tab-m kx-col--6@mob-m">
                            <div class="kx-card kx-card--skin-default"
                                style="height: 250px; margin-top: 20px;padding: 5px;margin-right: 10px;">
                                <b>OPERATOR LOGS</b>
                                <app-operator-log [operation]="operationToEdit" #operatorLog>
                                </app-operator-log>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="kx-row kx-row--gutters kx-col kx-col--12 kx-col--12@mob-m kx-col--5@tab-m kx-col--2@ltp-s"
                    style="margin: 21px 0px 0px 656px;">
                    <div class="kx-col kx-col--7 kx-col--4@mob-m kx-col--4@tab-m kx-col--4@ltp-s">
                        <button (click)="onSubmit()" class="kx-btn kx-btn--skin-primary kx-btn--size-base"
                            [disabled]="!formsData.valid">
                            <span class="kx-btn__inner">
                                <span *ngIf="!editOperation; else elseBlock" class="kx-btn__txt">Add</span>
                                <ng-template #elseBlock>
                                    <span class="kx-btn__txt">Save</span>
                                </ng-template>
                            </span>
                        </button>
                    </div>
                    <div class="kx-col kx-col--4 kx-col--4@mob-m kx-col--4@tab-m kx-col--4@ltp-s">
                        <button [disabled]="disableForm" class="kx-btn kx-btn--skin-secondary kx-btn--size-base"
                            (click)="onFormReset()">
                            <span class="kx-btn__inner">
                                <span class="kx-btn__txt">Clear</span>
                            </span>
                        </button>
                    </div>
                    <div class="kx-col kx-col--4 kx-col--4@mob-m kx-col--2@tab-m kx-col--4@ltp-s">
                        <button class="kx-btn kx-btn--skin-secondary kx-btn--size-base" (click)="goToListOperations()">
                            <span class="kx-btn__inner">
                                <span class="kx-btn__txt">Back</span>
                            </span>
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<app-operation-document-templates #documentTemplate [displayTemplate]="false"></app-operation-document-templates>
<p-dialog header="HullSkater Regularity KPI" [(visible)]="displayRegularityKPI" [modal]="true" [style]="{width: '60vw'}"
    [maximizable]="true" [baseZIndex]="10000" [draggable]="true" [resizable]="true">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                Config Id <p-dropdown autoWidth="false" [style]="{'width':'150px'}" [options]="hsRegularityKPIConfigs"
                    optionLabel="Revision" name="hsRegularityKPIConfig" [(ngModel)]="defaultHSRegularityKPIConfig"
                    filter="true" placeholder="Select config id" [disabled]="true">
                </p-dropdown>
                <app-hullskater-regularity-kpi [operation]="operationToEdit">
                </app-hullskater-regularity-kpi>
                <!-- <app-hullskater-regularity-kpi *ngIf = "displayRegularityKPI" [operation]="operationToEdit">
                </app-hullskater-regularity-kpi> -->
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayRegularityKPI=false" label="Ok" styleClass="p-button-text">
        </p-button>
    </ng-template>
</p-dialog>

<p-dialog header="Add port contacts" [(visible)]="displayAddContactModal" [modal]="true"
    [contentStyle]="{'overflow':'visible'}" [style]="{width: '75vw'}" [draggable]="true">
    <app-contact-search style="margin-top: -20px;" #searchContact [isOperationScreen] = "true"
        (contactSearched)="onContactSearched($event)"></app-contact-search>
    <app-create-contact *ngIf="operationToEdit" [isOperationScreen]="true" [operation]="operationToEdit"
        style="margin-top: -20px;" #createContact (contactUpdated)="onOperationContactUpdated($event)">
    </app-create-contact>
</p-dialog>


<app-modal [displayMe]="showOperatorModal">
    <div class="modal-header">
        <div>
            Select Operator
            <button class="kx-btn kx-btn--skin-secondary kx-btn--size-tiny kx-btn--icon u--modalclosebtn"
                aria-label="close modal" title="close modal" (click)="showOperatorModal = !showOperatorModal">
                <span class="kx-btn__inner">
                    <i class="kx-icon kx-icon--size-moderate">
                        <svg focusable="false">
                            <use href="./assets/img/icons/sprites/icons.svg#close">
                            </use>
                        </svg>
                    </i>
                    <span class="kx-btn__txt kx-is-vishidden">close modal</span>
                </span>
            </button>
        </div>
    </div>
    <div class="modal-body">
        <div class="kx-container kx-p--none">
            <div class="kx-card kx-card--skin-default kx-p--medium">

                <div class="kx-row kx-mt--tiny kx-mt--medium@mob-m">
                    <div class="kx-col kx-col--12">
                        <app-load *ngIf="isDataLoading"></app-load>
                        <div *ngIf="operatorList.length == 0" class="kx-card kx-card--skin-default kx-p--small">
                            No operator to select
                        </div>
                        <table *ngIf="!isDataLoading && operatorList.length > 0"
                            class="kx-table kx-table--outer-border kx-table--slim-rows u--with-tbody-scroll">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">Select</th>
                                    <th style="text-align: center;">First Name</th>
                                    <th style="text-align: center;">Surname</th>
                                    <th style="text-align: center;">Availability</th>
                                    <th style="text-align: center;">Installation</th>
                                    <th style="text-align: center;">Booking Status</th>
                                    <th style="text-align: center;">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let operator of operatorList; let i = index;">
                                    <td style="text-align: center;">
                                        <input type="radio" [disabled]="!operator.availability" name="selectOperator"
                                            value="operator.Id"
                                            [checked]="operator.contactId === selectedOperator?.contactId"
                                            (change)="changeOperator(operator)" />
                                    </td>
                                    <td style="text-align: center;">{{operator.name}}</td>
                                    <td style="text-align: center;">{{operator.surName}}</td>
                                    <td style="text-align: center;">{{operator.availability ?'Available': 'Booked'}}
                                    </td>
                                    <td style="text-align: center;">{{operator.operatorBooking ?
                                        operator.operatorBooking.installationName : ''}}</td>
                                    <td style="text-align: center;">{{operator.operatorBooking ?
                                        operator.operatorBooking.status : ''}}</td>
                                    <td style="text-align: center;">{{operator.operatorBooking ?
                                        (operator.operatorBooking.date | date: appConstants.dateFormatWithTime): null}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="kx-row">
                    <div class="kx-col kx-col--12 kx-col--3@tab-m kx-col--6@mob-m">
                        <div class="kx-mt--tiny">
                            <button (click)="showOperatorModal = !showOperatorModal"
                                class="kx-btn kx-btn--skin-primary kx-btn--size-base kx-mt--tiny kx-mt--medium@mob-m"
                                [disabled]="this.selectedOperator === null">
                                <span class="kx-btn__inner">
                                    <span class="kx-btn__txt">Select</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</app-modal>
