<div class="kx-card kx-card--skin-default" *ngIf="config && config.formList && config.formList.length > 0">
    <div class="kx-p--tiny kx-p--medium@mob-m">
        <div class="kx-row kx-row--gutters">
            <div *ngIf="selectedSections.length > 0" style="margin-left: 25px; margin-bottom: 10px;"> <b>Selected
                    Sections:</b>
                <span *ngFor="let section of selectedSections; let i = index;">
                    {{section.name}}
                    (<span *ngFor="let subSection of section.subSections; let i = index;">
                        {{subSection.subSectionNumber}} <span *ngIf="i != section.subSections.length - 1">, </span>
                    </span>)
                    <span *ngIf="i != selectedSections.length - 1">, </span>
                </span>
            </div>
            <app-load *ngIf="isDataLoading"></app-load>
            <form [formGroup]="formData" class="kx-row kx-row--gutters" style="width: 100%">
                <app-dynamic-form
                    class="kx-col kx-col--12 kx-col--12@mob-m kx-col--4@tab-m kx-col--10@ltp-s kx-row kx-row--gutters"
                    style="display: contents;" [form]="formData" [isFormSubmitted]="isFormSubmmited"
                    [formValues]="formValues" [config]="config" (formOnchangeEvent)="formOnchangeEvent($event)">
                </app-dynamic-form>

                <div class="kx-col kx-col--7 kx-col--5@mob-m kx-col--8@tab-m kx-col--2@ltp-s" style="margin-left: 1%;">
                    <label class="kx-label">Operator</label><small class="u--textDanger">*</small>
                    <i class="kx-icon kx-icon--size-base" title="Select operator">
                        <a href="#" (click)="showAvailableOperators($event)">
                            <svg focusable="false">
                                <use href="./assets/img/icons/sprites/icons.svg#person"></use>
                            </svg>
                        </a>
                    </i>
                    <div class="kx-mt--tiny">

                        <!-- <p-dropdown styleClass="kx-p--tiny" [options]="operatorList" [ngModel]="selectedOperator"
                            optionLabel="FName" filter="true" placeholder="Click person icon">
                        </p-dropdown> -->

                        <input class="kx-field kx-field--size-base" type="text"
                            value="{{selectedOperator ? selectedOperator.name : '' }}" placeholder="Click person icon"
                            disabled />
                    </div>
                </div>

                <div class="kx-col kx-col--7 kx-col--5@mob-m kx-col--8@tab-m kx-col--3@ltp-s">
                    <label class="kx-label">Select Section & Sub-Section</label><small class="u--textDanger">*</small>
                    <div class="kx-mt--tiny"
                        style="border: thin solid #c3c3c4f0; border-radius: 3px; height: 150px;overflow-y: auto;">
                        <p-tree [value]="treeData" selectionMode="checkbox" [(selection)]="selectedTreeData"
                            (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"></p-tree>
                    </div>
                </div>
                <div class="kx-card kx-card--skin-default" style="width: 100%;">
                    <app-create-secondry-operation [sections]="sections" style="width: 100%;
                margin-left: 25px;" *ngIf="formData.valid" (secondaryUpdated)="updateSecondaryOperationList($event)"
                        #createSecondaryOperation>
                    </app-create-secondry-operation>
                    <app-secondry-operation-listing [sections]="sections" #secondaryListing [secondaryoperations]="secondaryOperationList" style="width: 100%;
                    margin-left: 25px;">
                    </app-secondry-operation-listing>
                </div>
                <div class="kx-row kx-row--gutters kx-col kx-col--12 kx-col--12@mob-m kx-col--5@tab-m kx-col--2@ltp-s"
                    style="margin: 21px 0px 0px 656px;">
                    <div class="kx-col kx-col--7 kx-col--4@mob-m kx-col--4@tab-m kx-col--4@ltp-s">
                        <button (click)="onSubmit(secondaryListing)" class="kx-btn kx-btn--skin-primary kx-btn--size-base"
                            [disabled]="formData.invalid">
                            <span class="kx-btn__inner">
                                <span *ngIf="!editOperation; else elseBlock" class="kx-btn__txt">Add</span>
                                <ng-template #elseBlock>
                                    <span class="kx-btn__txt">Save</span>
                                </ng-template>
                            </span>
                        </button>
                    </div>
                    <div class="kx-col kx-col--4 kx-col--4@mob-m kx-col--4@tab-m kx-col--4@ltp-s">
                        <button class="kx-btn kx-btn--skin-secondary kx-btn--size-base" (click)="onFormReset()">
                            <span class="kx-btn__inner">
                                <span class="kx-btn__txt">Clear</span>
                            </span>
                        </button>
                    </div>
                    <div class="kx-col kx-col--4 kx-col--4@mob-m kx-col--2@tab-m kx-col--4@ltp-s">
                        <button class="kx-btn kx-btn--skin-secondary kx-btn--size-base" (click)="goToListOperations()">
                            <span class="kx-btn__inner">
                                <span class="kx-btn__txt">Back</span>
                            </span>
                        </button>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>



<app-modal [displayMe]="showOperatorModal">
    <div class="modal-header">
        <div>
            Select Operator
            <button class="kx-btn kx-btn--skin-secondary kx-btn--size-tiny kx-btn--icon u--modalclosebtn"
                aria-label="close modal" title="close modal" (click)="showOperatorModal = !showOperatorModal">
                <span class="kx-btn__inner">
                    <i class="kx-icon kx-icon--size-moderate">
                        <svg focusable="false">
                            <use href="./assets/img/icons/sprites/icons.svg#close">
                            </use>
                        </svg>
                    </i>
                    <span class="kx-btn__txt kx-is-vishidden">close modal</span>
                </span>
            </button>
        </div>
    </div>
    <div class="modal-body">
        <div class="kx-container kx-p--none">
            <div class="kx-card kx-card--skin-default kx-p--medium">

                <div class="kx-row kx-mt--tiny kx-mt--medium@mob-m">
                    <div class="kx-col kx-col--12">
                        <app-load *ngIf="isDataLoading"></app-load>
                        <div *ngIf="operatorList.length == 0" class="kx-card kx-card--skin-default kx-p--small">
                            No operator to select
                        </div>
                        <table *ngIf="!isDataLoading && operatorList.length > 0"
                            class="kx-table kx-table--outer-border kx-table--slim-rows u--with-tbody-scroll">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">Select</th>
                                    <th style="text-align: center;">First Name</th>
                                    <th style="text-align: center;">Surname</th>
                                    <th style="text-align: center;">Availability</th>
                                    <th style="text-align: center;">Installation</th>
                                    <th style="text-align: center;">Status</th>
                                    <th style="text-align: center;">Date</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let operator of operatorList; let i = index;">
                                    <td style="text-align: center;">
                                        <!-- <label class="kx-selector kx-selector__radio"> -->
                                        <input type="radio" [disabled]="!operator.availability" name="selectOperator"
                                            value="operator.Id" (change)="changeOperator(operator)" />
                                        <!-- <div class="kx-selector__indicator"></div> -->
                                        <!-- <span class="label-text">{{item.InstallationName}} - {{item.DocumentName}} - {{item.FileName}}</span> -->
                                        <!-- </label> -->
                                    </td>
                                    <td style="text-align: center;">{{operator.name}}</td>
                                    <td style="text-align: center;">{{operator.surName}}</td>
                                    <td style="text-align: center;">{{operator.availability ?'Availalbe': 'Booked'}}
                                    </td>
                                    <td style="text-align: center;">{{operator.operatorBooking ?
                                        operator.operatorBooking.installationName : ''}}</td>
                                    <td style="text-align: center;">{{operator.operatorBooking ?
                                        operator.operatorBooking.status : ''}}</td>
                                    <td style="text-align: center;">{{operator.operatorBooking ?
                                        operator.operatorBooking.date: null}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- <div class="kx-row">
                    <app-load *ngIf="isCloudLibraryDataLoading"></app-load>
                    <ul *ngIf="!isCloudLibraryDataLoading && installationsByDocumentType.length > 0"
                        class="kx-select-group">
                        <li class="kx-select-item" *ngFor="let item of installationsByDocumentType; let i = index;">
                            <label class="kx-selector kx-selector__radio">
                                <input type="radio" name="selectInstallation" value="item.VesselId"
                                    (change)="changeInstallationDocument(item)" />
                                <div class="kx-selector__indicator"></div>
                                <span class="label-text">{{item.InstallationName}} - {{item.DocumentName}} - {{item.FileName}}</span>
                            </label>
                        </li>
                    </ul>
                    <app-no-data [displayme]="!isCloudLibraryDataLoading && installationsByDocumentType.length === 0">
                    </app-no-data>
                </div> -->

                <div class="kx-row">
                    <div class="kx-col kx-col--12 kx-col--3@tab-m kx-col--6@mob-m">
                        <div class="kx-mt--tiny">
                            <button (click)="showOperatorModal = !showOperatorModal; selectOperator()"
                                class="kx-btn kx-btn--skin-primary kx-btn--size-base kx-mt--tiny kx-mt--medium@mob-m"
                                [disabled]="this.selectedOperator === null">
                                <span class="kx-btn__inner">
                                    <span class="kx-btn__txt">Select</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>


                <!-- <div class="kx-row">
                    <div class="kx-col  kx-col--4">
                        <strong>Installation</strong> : {{installationOverview? installationOverview.displayName: ''}}
                    </div>
                    <div class="kx-col  kx-col--4">
                        <strong>IMO</strong> : {{installationOverview? installationOverview.imoNo: ''}}
                    </div>
                </div> -->
                <!-- <div class="kx-row kx-mt--tiny kx-mt--medium@mob-m">
                    <div class="kx-col kx-col--12">
                        <app-load *ngIf="isDataLoading"></app-load>
                        <div *ngIf="whiteListedCountries.length == 0" class="kx-card kx-card--skin-default kx-p--small">
                            No country whitelisted
                        </div>
                        <table *ngIf="!isDataLoading && whiteListedCountries.length > 0"
                            class="kx-table kx-table--outer-border kx-table--slim-rows u--with-tbody-scroll">
                            <thead>
                                <tr>
                                    <th>Country</th>
                                    <th>MCCs </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let country of whiteListedCountries; let i = index;">
                                    <td>{{country.Name}}</td>
                                    <td>{{country.MCCs}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> -->

            </div>
        </div>
    </div>
</app-modal>