<div class="kx-card kx-card--skin-default" *ngIf="config && config.formList && config.formList.length > 0">
    <div class="kx-p--tiny kx-p--medium@mob-m">
        <div class="kx-row kx-row--gutters">

            <!-- <div *ngIf="selectedSections.length > 0" style="margin-left: 25px; margin-bottom: 10px;"> <b>Selected
                    Sections:</b>
                <span *ngFor="let section of selectedSections; let i = index;">
                    {{section.name}}(<span
                        *ngFor="let subSection of section.subSections; let i = index;">{{subSection.subSectionNumber}}<span
                            *ngIf="i != section.subSections.length - 1">,</span>
                    </span>)<span *ngIf="i != selectedSections.length - 1">,</span></span>
            </div> -->

            <app-load *ngIf="isDataLoading"></app-load>
            <form [formGroup]="formsData" class="kx-row kx-row--gutters" style="width: 100%">

                <div formArrayName="formsArray">
                    <div class="kx-row kx-row--gutters" [formGroupName]="0" style="margin-bottom: -50px;">
                        <app-dynamic-form
                            class="kx-col kx-col--12 kx-col--12@mob-m kx-col--4@tab-m kx-col--10@ltp-s kx-row kx-row--gutters"
                            style="display: contents" [form]="formsArray.controls[0]"
                            [isFormSubmitted]="isFormSubmmited" [formValues]="form1Values"
                            [config]="formsArrayConfigs[0]" (formOnchangeEvent)="formOnchangeEvent($event)">
                        </app-dynamic-form>

                        <!-- section/sub section here -->
                        <p-button (click)="showMaximizableDialog()" icon="pi pi-external-link" style="margin-top: 27px;"
                            [disabled]="disableForm" [ngClass]="disableForm ? 'disablePointerEvents' : 'none'"
                            label="{{editOperation? 'View Sections': 'Select Sections'}}"></p-button>

                        <div class="kx-col kx-col--7 kx-col--5@mob-m kx-col--8@tab-m kx-col--2@ltp-s">
                            <!-- <label class="kx-label">Section & Sub-Section</label><small
                                *ngIf="selectedSections.length == 0" class="u--textDanger">*</small> -->
                            <div class="kx-mt--tiny">
                                <button (click)="showModalDialog()" style="margin-top: 18px; height: 37px;"
                                    class="kx-btn kx-btn--skin-primary kx-btn--size-base">
                                    <span class="kx-btn__inner">
                                        <span class="kx-btn__txt">Operation Actions</span>
                                    </span>
                                </button>
                                <p-overlayPanel #op [showCloseIcon]="true">
                                    <div class="kx-listgroup">
                                        <ul class="kx-list kx-list--item-highlight">
                                            <li class="kx-list-item u--cursorPointer"
                                                (click)="addSecondaryOperationToList($event, op)">
                                                <span class="kx-list-item__text">
                                                    <span class="kx-list-item__primary-text">Add Secondary
                                                        Operation</span>
                                                </span>
                                            </li>
                                            <li class="kx-list-item u--cursorPointer">
                                                <span class="kx-list-item__text">
                                                    <span class="kx-list-item__primary-text">Action 2</span>
                                                </span>
                                            </li>
                                            <li class="kx-list-item u--cursorPointer">
                                                <span class="kx-list-item__text">
                                                    <span class="kx-list-item__primary-text">Action 3</span>
                                                </span>
                                            </li>
                                            <li class="kx-list-item u--cursorPointer">
                                                <span class="kx-list-item__text">
                                                    <span class="kx-list-item__primary-text">Action 4</span>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </p-overlayPanel>
                                <p-dialog #actionDialog [(visible)]="displayModal" [style]="{width: '15vw'}"
                                    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
                                    <div class="kx-listgroup">
                                        <ul class="kx-list kx-list--item-highlight">
                                            <li class="kx-list-item u--cursorPointer"
                                                (click)="addSecondaryOperationToList($event, actionDialog)">
                                                <span class="kx-list-item__text">
                                                    <span class="kx-list-item__primary-text">Add Secondary
                                                        Operation</span>
                                                </span>
                                            </li>
                                            <li class="kx-list-item u--cursorPointer">
                                                <span class="kx-list-item__text">
                                                    <span class="kx-list-item__primary-text">Action 2</span>
                                                </span>
                                            </li>
                                            <li class="kx-list-item u--cursorPointer">
                                                <span class="kx-list-item__text">
                                                    <span class="kx-list-item__primary-text">Action 3</span>
                                                </span>
                                            </li>
                                            <li class="kx-list-item u--cursorPointer">
                                                <span class="kx-list-item__text">
                                                    <span class="kx-list-item__primary-text">Action 4</span>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <ng-template pTemplate="footer">
                                        <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok"
                                            styleClass="p-button-text"></p-button>
                                    </ng-template>
                                </p-dialog>
                            </div>
                        </div>

                        <p-dialog header="" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '50vw'}"
                            [maximizable]="true" [baseZIndex]="10000" [draggable]="true" [resizable]="true">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <table>
                                            <th>Sections</th>
                                            <th colspan="90%">Subsections</th>
                                            <tr *ngFor="let row of opertionSections; let i=index;" style="margin-top: 16px">
                                                <!-- <button *ngIf="!row.selected && isBookedSection(row)" [disabled]="true"
                                                    style="color: white;"
                                                    class="u--bgDanger kx-btn kx-btn--size-base section">
                                                    <span class="kx-btn__inner">
                                                        <span class="kx-btn__txt">{{row.name}}</span>
                                                    </span>
                                                </button> -->
                                                <button *ngIf="!row.selected"
                                                    class="kx-btn kx-btn--skin-secondary kx-btn--size-base section"
                                                    (click)="onSectionSelected(row)">
                                                    <span class="kx-btn__inner">
                                                        <span class="kx-btn__txt">{{row.name}}</span>
                                                    </span>
                                                </button>

                                                <button *ngIf="row.selected"
                                                    class="u--bgSuccess kx-btn kx-btn--size-base section"
                                                    (click)="onSectionSelected(row)">
                                                    <span class="kx-btn__inner">
                                                        <span class="kx-btn__txt">{{row.name}}</span>
                                                    </span>
                                                </button>
                                                <td *ngFor="let col of row.subSections; let j=index">
                                                    <!-- <button *ngIf="!col.selected && isBookedSubsection(col)"
                                                        [disabled]="true" style="color: white;"
                                                        class="u--bgDanger kx-btn kx-btn--size-base  subsection">
                                                        <span class="kx-btn__inner">
                                                            <span class="kx-btn__txt">{{col.subSectionNumber}}</span>
                                                        </span>
                                                    </button> -->
                                                    <button *ngIf="!col.selected"
                                                        class="kx-btn kx-btn--skin-secondary kx-btn--size-base  subsection"
                                                        (click)="onSubSectionSelected(row, col)">
                                                        <span class="kx-btn__inner">
                                                            <span class="kx-btn__txt">{{col.subSectionNumber}}</span>
                                                        </span>
                                                    </button>
                                                    <button *ngIf="col.selected"
                                                        class="u--bgSuccess kx-btn kx-btn--size-base subsection"
                                                        (click)="onSubSectionSelected(row, col)">
                                                        <span class="kx-btn__inner">
                                                            <span class="kx-btn__txt">{{col.subSectionNumber}}</span>
                                                        </span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <ng-template pTemplate="footer">
                                <p-button icon="pi pi-check" (click)="displayMaximizable=false" label="Ok"
                                    styleClass="p-button-text">
                                </p-button>
                            </ng-template>
                        </p-dialog>
                    </div>

                    <div class="kx-row kx-row--gutters">
                        <!-- <app-create-secondry-operation [sections]="sections"
                            [gobalSelectedSubSectionId]="gobalSelectedSubSectionId" style="width: 100%;
                    margin-left: 25px;" (secondaryUpdated)="secondaryListing.updateSecondaryOperationList($event)"
                            #createSecondaryOperation>
                        </app-create-secondry-operation> -->
                        <app-secondry-operation-listing [sections]="sections"
                            [gobalSelectedSubSectionId]="gobalSelectedSubSectionId" #secondaryListing style="width: 100%;
                        margin-left: 13px;">
                        </app-secondry-operation-listing>
                    </div>

                    <div class="kx-row kx-row--gutters" [formGroupName]="1" style="margin-bottom: -50px;">
                        <app-dynamic-form
                            class="kx-col kx-col--12 kx-col--12@mob-m kx-col--4@tab-m kx-col--10@ltp-s kx-row kx-row--gutters"
                            style="display: contents" [form]="formsArray.controls[1]"
                            [isFormSubmitted]="isFormSubmmited" [formValues]="form2Values"
                            [config]="formsArrayConfigs[1]" (formOnchangeEvent)="formOnchangeEvent($event)">
                        </app-dynamic-form>

                        <div class="kx-col kx-col--12 kx-col--6@mob-m kx-col--5@tab-m kx-col--2@ltp-s">
                            <label class="kx-label">Operator</label>
                            <!-- <small *ngIf="!selectedOperator" class="u--textDanger">*</small> -->
                            <i class="kx-icon kx-icon--size-base" disabled="disableForm"
                                [ngClass]="disableForm ? 'disablePointerEvents' : 'none'" title="Select operator">
                                <a href="#" (click)="showAvailableOperators($event)">
                                    <svg focusable="false">
                                        <use href="./assets/img/icons/sprites/icons.svg#person"></use>
                                    </svg>
                                </a>
                            </i>
                            <div class="kx-mt--tiny">
                                <input class="kx-field kx-field--size-base" type="text"
                                    value="{{selectedOperator ? (selectedOperator.name + ' ' + selectedOperator.surName) : '' }}"
                                    placeholder="Click person icon" disabled />
                            </div>
                        </div>

                    </div>
                </div>

                <div class="kx-card kx-card--skin-default" style="width: 100%; margin-left: 20px; margin-bottom: 20px;">
                    <div class="kx-row kx-row--gutters" style="margin-top: -10px; margin-bottom: -14px;">
                        <div class="kx-col kx-col--4 kx-col--4@tab-m kx-col--6@mob-m">
                            <div class="kx-card kx-card--skin-default"
                                style="height: 250px; margin-top: 20px;padding: 5px;margin-left: 10px;">
                                <b>INSTALLATION CONTACT DETAILS</b>
                            </div>
                        </div>
                        <div *ngIf="editOperation" class="kx-col kx-col--4 kx-col--4@tab-m kx-col--6@mob-m">
                            <div class="kx-card kx-card--skin-default"
                                style="height: 250px; margin-top: 20px;padding: 5px;">
                                <b>PORT METEO CONDITIONS</b>
                            </div>
                        </div>
                        <div *ngIf="editOperation" class="kx-col kx-col--4 kx-col--4@tab-m kx-col--6@mob-m">
                            <div class="kx-card kx-card--skin-default"
                                style="height: 250px; margin-top: 20px;padding: 5px;margin-right: 10px;">
                                <b>OPERATOR LOGS</b>
                                <app-operator-log [operation]="operationToEdit" #operatorLog>
                                </app-operator-log>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="kx-row kx-row--gutters kx-col kx-col--12 kx-col--12@mob-m kx-col--5@tab-m kx-col--2@ltp-s"
                    style="margin: 21px 0px 0px 656px;">
                    <div class="kx-col kx-col--7 kx-col--4@mob-m kx-col--4@tab-m kx-col--4@ltp-s">
                        <button (click)="onSubmit()" class="kx-btn kx-btn--skin-primary kx-btn--size-base"
                            [disabled]="!formsData.valid">
                            <span class="kx-btn__inner">
                                <span *ngIf="!editOperation; else elseBlock" class="kx-btn__txt">Add</span>
                                <ng-template #elseBlock>
                                    <span class="kx-btn__txt">Save</span>
                                </ng-template>
                            </span>
                        </button>
                        <!-- <button (click)="onSubmit()" class="kx-btn kx-btn--skin-primary kx-btn--size-base"
                            [disabled]="!formsData.valid || disableForm">
                            <span class="kx-btn__inner">
                                <span *ngIf="!editOperation; else elseBlock" class="kx-btn__txt">Add</span>
                                <ng-template #elseBlock>
                                    <span class="kx-btn__txt">Save</span>
                                </ng-template>
                            </span>
                        </button> -->
                    </div>
                    <div class="kx-col kx-col--4 kx-col--4@mob-m kx-col--4@tab-m kx-col--4@ltp-s">
                        <button [disabled]="disableForm" class="kx-btn kx-btn--skin-secondary kx-btn--size-base"
                            (click)="onFormReset()">
                            <span class="kx-btn__inner">
                                <span class="kx-btn__txt">Clear</span>
                            </span>
                        </button>
                    </div>
                    <div class="kx-col kx-col--4 kx-col--4@mob-m kx-col--2@tab-m kx-col--4@ltp-s">
                        <button class="kx-btn kx-btn--skin-secondary kx-btn--size-base" (click)="goToListOperations()">
                            <span class="kx-btn__inner">
                                <span class="kx-btn__txt">Back</span>
                            </span>
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<app-modal [displayMe]="showOperatorModal">
    <div class="modal-header">
        <div>
            Select Operator
            <button class="kx-btn kx-btn--skin-secondary kx-btn--size-tiny kx-btn--icon u--modalclosebtn"
                aria-label="close modal" title="close modal" (click)="showOperatorModal = !showOperatorModal">
                <span class="kx-btn__inner">
                    <i class="kx-icon kx-icon--size-moderate">
                        <svg focusable="false">
                            <use href="./assets/img/icons/sprites/icons.svg#close">
                            </use>
                        </svg>
                    </i>
                    <span class="kx-btn__txt kx-is-vishidden">close modal</span>
                </span>
            </button>
        </div>
    </div>
    <div class="modal-body">
        <div class="kx-container kx-p--none">
            <div class="kx-card kx-card--skin-default kx-p--medium">

                <div class="kx-row kx-mt--tiny kx-mt--medium@mob-m">
                    <div class="kx-col kx-col--12">
                        <app-load *ngIf="isDataLoading"></app-load>
                        <div *ngIf="operatorList.length == 0" class="kx-card kx-card--skin-default kx-p--small">
                            No operator to select
                        </div>
                        <table *ngIf="!isDataLoading && operatorList.length > 0"
                            class="kx-table kx-table--outer-border kx-table--slim-rows u--with-tbody-scroll">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">Select</th>
                                    <th style="text-align: center;">First Name</th>
                                    <th style="text-align: center;">Surname</th>
                                    <th style="text-align: center;">Availability</th>
                                    <th style="text-align: center;">Installation</th>
                                    <th style="text-align: center;">Booking Status</th>
                                    <th style="text-align: center;">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let operator of operatorList; let i = index;">
                                    <td style="text-align: center;">
                                        <input type="radio" [disabled]="!operator.availability" name="selectOperator"
                                            value="operator.Id"
                                            [checked]="operator.contactId === selectedOperator?.contactId"
                                            (change)="changeOperator(operator)" />
                                    </td>
                                    <td style="text-align: center;">{{operator.name}}</td>
                                    <td style="text-align: center;">{{operator.surName}}</td>
                                    <td style="text-align: center;">{{operator.availability ?'Availalbe': 'Booked'}}
                                    </td>
                                    <td style="text-align: center;">{{operator.operatorBooking ?
                                        operator.operatorBooking.installationName : ''}}</td>
                                    <td style="text-align: center;">{{operator.operatorBooking ?
                                        operator.operatorBooking.status : ''}}</td>
                                    <td style="text-align: center;">{{operator.operatorBooking ?
                                        (operator.operatorBooking.date | date:'MM/dd/yyyy HH:mm'): null}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="kx-row">
                    <div class="kx-col kx-col--12 kx-col--3@tab-m kx-col--6@mob-m">
                        <div class="kx-mt--tiny">
                            <button (click)="showOperatorModal = !showOperatorModal"
                                class="kx-btn kx-btn--skin-primary kx-btn--size-base kx-mt--tiny kx-mt--medium@mob-m"
                                [disabled]="this.selectedOperator === null">
                                <span class="kx-btn__inner">
                                    <span class="kx-btn__txt">Select</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</app-modal>