// ::ng-deep .ui-tree-container {
//     color: blue;
//   }
  
  ::ng-deep .fa-caret-right::before {
     content: "\F067";
  }
  
  ::ng-deep .fa-caret-down::before {
     content: "\F068";
  }

.disablePointerEvents
{
  pointer-events: none;
  opacity: 0.7;
}

.subsection{
  width: 36px;height:36px;
  font-size: 9px;
}
.section{
  width: 140px;height:36px;
  font-size: 12px;
  margin-right: 10px;
  margin-top: 6px;
}
.disablePointerEvents
{
pointer-events: none;
opacity: 0.7;
}

// i[disabled]
// {
//   pointer-events: none;
//   opacity: 0.7;
// }

//   [draggable=true] {
//    cursor: move;
//  }
//  .resizable {
//    overflow: scroll;
//    resize: both;
//    max-width: 300px;
//    max-height: 300px;
//    // border: 1px solid black;
//    // min-width: 50px;
//    min-height: 150px;
//    // background-color: skyblue;
//  }