.tick > text {
    fill: #71767a !important;
}
.tick > line {
    stroke: #71767a;
}
.domain {
    stroke: #71767a;
}

.ui-table-wrapper .ui-table-thead th.kx-p--xlarge {
    padding: 1rem 0.5rem !important;
    background-color: #373c41 !important;
    text-align: left;
}
.ui-table-wrapper .ui-table-thead th.kx-p--small {
    padding: 0.05rem !important;
    background-color: #373c41 !important;
    text-align: left;
    font-size: 13px;
}
.ui-dropdown .ui-dropdown-panel {
    background: #373c41;
    border: 1px solid #71767a;
}

.ui-dropdown-filter {
    font-size: 1rem;
    line-height: 1.46667rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    position: relative;
    color: #f6f6f6;
    background: #373c41;
    background-clip: padding-box;
    border: 0;
    border-radius: 2px;
    border: 0.06667rem solid #71767a;
    transition: all 0.1s ease-in-out;
}

.ui-datepicker {
    background: #373c41;
    border: 0.06667rem solid #71767a;
    transition: all 0.1s ease-in-out;
}

.grid line {
    stroke: #71767a !important;
    stroke-opacity: 0.1;
    shape-rendering: crispEdges;
}
.grid path {
    stroke-width: 0;
}
.ui-dialog,
.ui-toast,
.ui-autocomplete-panel {
    background: #373c41;
}
.ui-autocomplete-panel {
    color: #f6f6f6;
}

.ui-picklist .ui-picklist-caption {
    background-color: #373c41;
    color: #f6f6f6;
    border: 1px solid #71767a;
}
.ui-picklist .ui-picklist-filter-container {
    border: 1px solid #71767a;
    color: #f6f6f6;
    background-color: #373c41;
}
.ui-picklist .ui-picklist-filter-container .ui-inputtext{
    color: #f6f6f6;
    background-color: #373c41;
    border: 1px solid #71767a;
}
.ui-picklist .ui-picklist-list {
    border: 1px solid #71767a;
    background-color: #373c41;
    color: #f6f6f6;
}
.ui-picklist .ui-picklist-list .ui-picklist-item {
    color: #f6f6f6;
}
.ui-picklist .ui-picklist-list .ui-picklist-item:not(.ui-state-highlight):hover {
    background-color: #eaeaea;
    color: #f6f6f6;
}
.ui-picklist .ui-picklist-list .ui-picklist-item.ui-state-highlight {
    background-color: #007ad9;
    color: #f6f6f6;
}
.ui-picklist .ui-picklist-list .ui-picklist-droppoint-highlight {
    background-color: #007ad9;
}
.u--picklistItem{
    color: #f6f6f6;
    background-color: #373c41;
    border: 1px solid #71767a;
}

.collapse-icon{
    position: absolute;
    display: flex;
    z-index: 9;
    padding: 0px;
    margin: 1px;
    cursor: pointer;
    width: 31px;
    background: #434b52;
  }


  .leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: #373c41;
    color: #fff;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}