.tick > text {
    fill: #71767a !important;
}
.tick > line {
    stroke: #71767a;
}
.domain {
    stroke: #71767a;
}

.ui-table-wrapper .ui-table-thead th.kx-p--xlarge {
    padding: 1rem 0.5rem !important;
    background-color: #373c41 !important;
    text-align: left;
}
.ui-table-wrapper .ui-table-thead th.kx-p--small {
    padding: 0.05rem !important;
    background-color: #373c41 !important;
    text-align: left;
    font-size: 13px;
}
.ui-dropdown .ui-dropdown-panel {
    background: #373c41;
    border: 1px solid #71767a;
}

.ui-dropdown-filter {
    font-size: 1rem;
    line-height: 1.46667rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    position: relative;
    color: #f6f6f6;
    background: #373c41;
    background-clip: padding-box;
    border: 0;
    border-radius: 2px;
    border: 0.06667rem solid #71767a;
    transition: all 0.1s ease-in-out;
}

.ui-datepicker {
    background: #373c41;
    border: 0.06667rem solid #71767a;
    transition: all 0.1s ease-in-out;
}

.grid line {
    stroke: #71767a !important;
    stroke-opacity: 0.1;
    shape-rendering: crispEdges;
}
.grid path {
    stroke-width: 0;
}
.ui-dialog,
.ui-toast,
.ui-autocomplete-panel {
    background: #373c41;
}
.ui-autocomplete-panel {
    color: #f6f6f6;
}

.ui-picklist .ui-picklist-caption {
    background-color: #373c41;
    color: #f6f6f6;
    border: 1px solid #71767a;
}
.ui-picklist .ui-picklist-filter-container {
    border: 1px solid #71767a;
    color: #f6f6f6;
    background-color: #373c41;
}
.ui-inputtext {
    color: #f6f6f6;
    background-color: #373c41;
    border: 1px solid #71767a;
}
.ui-picklist .ui-picklist-list {
    border: 1px solid #71767a;
    background-color: #373c41;
    color: #f6f6f6;
}
.ui-picklist .ui-picklist-list .ui-picklist-item {
    color: #f6f6f6;
}
.ui-picklist .ui-picklist-list .ui-picklist-item:not(.ui-state-highlight):hover {
    background-color: #eaeaea;
    color: #f6f6f6;
}
.ui-picklist .ui-picklist-list .ui-picklist-item.ui-state-highlight {
    background-color: #007ad9;
    color: #f6f6f6;
}
.ui-picklist .ui-picklist-list .ui-picklist-droppoint-highlight {
    background-color: #007ad9;
}
.u--picklistItem {
    color: #f6f6f6;
    background-color: #373c41;
    border: 1px solid #71767a;
}

.collapse-icon {
    height: 24px;
    position: absolute;
    display: flex;
    z-index: 9;
    width: 31px;
    margin: 1px;
    cursor: pointer;
    background: #434b52;
}
.ui-paginator .ui-state-default {
    color: #2bdeee;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
}
.ui-paginator .ui-state-active {
    color: #f6f6f6;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
}

.ui-tooltip .ui-tooltip-text {
    background-color: #ffffff;
    color: rgb(76, 76, 76);
}
.ui-tooltip-right .ui-tooltip-arrow {
    border-right-color: #ffffff;
}
.ui-tooltip-left .ui-tooltip-arrow {
    border-left-color: #ffffff;
}

.ui-tooltip-top .ui-tooltip-arrow {
    border-top-color: #ffffff;
}

.ui-tooltip-bottom .ui-tooltip-arrow {
    border-bottom-color: #ffffff;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background: #373c41;
    color: #fff;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

.tooltip-container {
    background: #373c41 !important;
    color: #fff !important;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4) !important;
}
/* multiselect starts */
.ui-multiselect {
    border: 1px solid #71767a;
    width: 80%;
}
.ui-multiselect-panel {
    background: #373c41;
}
.ui-chkbox .ui-chkbox-box {
    border: #71767a 1px solid;
}
/* multiselect ends*/
.u--dataTableWrapper {
    border: 1px solid #71767a;
    border-radius: 2px;
}
.ui-dropdown {
    &.ui-state-disabled {
        background: #8f999e;
        .ui-inputtext {
            background: #8f999e;
            color: #000;
        }
        .ui-dropdown-label {
            cursor: not-allowed;
        }
    }
}
hr {
    background-color: #71767a !important;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    background: url("../assets/angle-swap-vertical-dusk.svg") no-repeat center center;
}
.ui-datepicker {
    .ui-state-default {
        &:hover,
        &.ui-state-highlight,
        &.ui-state-active {
            background: #686d72;
            color: #2bdeee;
        }
    }
    select {
        &.ui-datepicker-month,
        &.ui-datepicker-year {
            border: 1px solid #71767a;
            color: #f6f6f6;
            background-color: #373c41;
        }
    }
}
