.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.6;
  shape-rendering: crispEdges;
}
.grid path {
  stroke-width: 0;
}
.ui-widget,
.ui-widget * {
  box-sizing: border-box;
}
.ui-dialog,
.ui-toast,
.ui-autocomplete-panel {
  background: #ffffff !important;
}
.ui-picklist .ui-picklist-buttons button {
  font-size: 16px;
}
.ui-picklist .ui-picklist-caption {
  background-color: #f4f4f4;
  color: #333333;
  border: 1px solid #c8c8c8;
}
.ui-picklist .ui-picklist-filter-container {
  border: 1px solid #c8c8c8;
  color: #333333;
  background-color: #ffffff;
}
.ui-picklist .ui-picklist-list {
  border: 1px solid #c8c8c8;
  background-color: #ffffff;
  color: #333333;
  padding: 0;
}
.ui-picklist .ui-picklist-list .ui-picklist-item {
  padding: 0.429em 0.857em;
  margin: 0;
  border: 0 none;
  color: #333333;
  background-color: transparent;
}
.ui-picklist .ui-picklist-list .ui-picklist-item:not(.ui-state-highlight):hover {
  background-color: #eaeaea;
  color: #333333;
}
.ui-picklist .ui-picklist-list .ui-picklist-item.ui-state-highlight {
  background-color: #007ad9;
  color: #ffffff;
}
.ui-picklist .ui-picklist-list .ui-picklist-droppoint-highlight {
  background-color: #007ad9;
}
@media (max-width: 40em) {
  .ui-picklist.ui-picklist-responsive .ui-picklist-buttons {
    padding: 0.571em 1em;
  }
}

.u--picklistItem {
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #c8c8c8;
}

.collapse-icon {
  height: 24px;
  position: absolute;
  display: flex;
  z-index: 9;
  width: 31px;
  margin: 1px;
  cursor: pointer;
  background: #007a8c;
}
.ui-paginator .ui-state-default {
  color: #02689e;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
}
.ui-paginator .ui-state-active {
  color: #262a2f;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
}

/* multiselect starts */
.ui-multiselect {
  border: 1px solid #c8c8c8;
  width: 80%;
}
.ui-multiselect-panel {
  background: #ffffff;
}
.ui-chkbox .ui-chkbox-box {
  border: #c8c8c8 1px solid;
}
/* multiselect ends*/
.u--dataTableWrapper {
  border: 1px solid #c8c8c8;
  border-radius: 2px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  background: url("../assets/angle-swap-vertical.svg") no-repeat center center;
}
.ui-datepicker {
  .ui-state-default {
    &:hover,
    &.ui-state-highlight,
    &.ui-state-active {
      background: #f6f6f6;
      color: #007a8c;
    }
  }
  select {
    &.ui-datepicker-month,
    &.ui-datepicker-year {
      border: 1px solid #c8c8c8 !important;
      background-color: #ffffff !important;
      color: #333333 !important;
    }
  }
}
input.kx-field:read-only::placeholder {
  color: #A9ABAD !important;
  font-size: 15px;
}
