<div class="kx-card kx-card--skin-default" *ngIf="config && config.formList && config.formList.length > 0">
    <div class="kx-p--tiny kx-p--medium@mob-m">
        <div class="kx-row">
            <app-load *ngIf="isDataLoading"></app-load>
            <form [formGroup]="formData" (ngSubmit)="onSubmit()">
                
                <app-dynamic-form [form]="formData" [formValues]="formValues" [config]="config"
                    (formOnchangeEvent)="formOnchangeEvent($event)">
                </app-dynamic-form>

                <div class="kx-col kx-col--2" style="margin-top: -108px;float: right;">
                    <button type="submit" class="kx-btn kx-btn--skin-primary kx-btn--size-base">
                        <span class="kx-btn__inner">
                            <span class="kx-btn__txt">Add Contact</span>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="kx-card kx-card--skin-default">
    <p-table [columns]="cols" [value]="contacts" dataKey="id" editMode="row" [paginator]="true"
    [rows]="3" tableStyleClass="kx-table kx-table--outer-border" autoLayout="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-contactList>
            <tr>
                <td>{{ contactList.firstName }}</td>
                <td>{{ contactList.surName }}</td>
                <td>{{ contactList.email }}</td>
                <td>{{ contactList.alternativePhone }}</td>
                <td>{{ contactList.phone }}</td>
                <td>{{ contactList.Role.name }}</td>
                <td>
                    <p-checkbox [(ngModel)]="contactList.tagTraining"></p-checkbox>
                </td>
               <td>Edit, delete</td>
            </tr>
        </ng-template>
    </p-table>
</div>