<!--
KONGSBERG PROPRIETARY. This document and its accompanying elements, contain KONGSBERG information which is proprietary and confidential.
Any disclosure, copying, distribution or use is prohibited if not otherwise explicitly agreed with KONGSBERG in writing.
Any authorized reproduction, in whole or in part, must include this legend. © [year of creation] KONGSBERG – All rights reserved.
-->
<button class="kx-page__overlay" (click)="onPageOverlayClick($event)"
    [ngClass]="{'kx-is-active': sidebarsVisibilityService.pageOverlayActive, 'kx-is-animating': sidebarsVisibilityService.pageOverlayAnimating}">
    <span class="kx-is-vishidden">Close</span>
</button>
<div class="kx-page__content kx-mx--large@mob-m">
    <router-outlet></router-outlet>
</div>
<app-message></app-message>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
