<!--
KONGSBERG PROPRIETARY. This document and its accompanying elements, contain KONGSBERG information which is proprietary and confidential.
Any disclosure, copying, distribution or use is prohibited if not otherwise explicitly agreed with KONGSBERG in writing.
Any authorized reproduction, in whole or in part, must include this legend. © [year of creation] KONGSBERG – All rights reserved.
-->
<div class="kx-pt--small">
    <app-load *ngIf="isDataLoading"></app-load>
    <div *ngIf="!isDataLoading">
        <p-table *ngIf="OperationDocuments.length > 0" tableStyleClass="kx-table kx-table--outer-border"
            [value]="OperationDocuments" [columns]="cols" autoLayout="true" #tt [paginator]="true" [rows]="10"
            [rowsPerPageOptions]="[5,10,20,50,100,200,500]">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.sortfield"
                        [ngClass]="{'u--cursorPointer': col.sortfield !== ''}"
                        title="{{(col.sortfield!=='') ? 'Click to sort' : ''}}">
                        {{col.header}}
                        <p-sortIcon *ngIf="col.sortfield !== ''" [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                </tr>
                <tr>
                    <th *ngFor="let col of columns">
                        <input pInputText type="text" *ngIf="col.filterMatchMode && col.filterMatchMode !== ''"
                            class="kx-field kx-field--size-base u--field--size-small" placeholder="Type to filter"
                            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                    </th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">

                <tr>
                    <td>{{ rowData.documentType.id == 5 ? 'Request' : rowData.documentType.id == 10 ? 'Request':
                        rowData.documentType.typeName }}</td>
                    <td>{{ rowData.file }}</td>
                    <td>{{ rowData.createdDate | date: appConstants.dateFormatWithoutTime}}</td>
                    <td>{{ rowData.modifiedDate | date: appConstants.dateFormatWithoutTime}}</td>
                    <td>
                        <button class="kx-btn kx-btn--skin-secondary kx-btn--size-tiny kx-btn--icon"
                            aria-label="Download" title="Download" (click)="downloadDocument(rowData)">
                            <span class="kx-btn__inner">
                                <i class="kx-icon kx-icon--size-moderate">
                                    <svg focusable="true">
                                        <use href="./assets/img/icons/sprites/icons.svg#cloud-download"></use>
                                    </svg>
                                </i>
                                <span class="kx-btn__txt kx-is-vishidden">Edit</span>
                            </span>
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <app-no-data [displayme]="OperationDocuments.length === 0"></app-no-data>
        <div class="kx-col kx-col--4 kx-col--4@mob-m kx-col--2@tab-m kx-col--4@ltp-s"
            style="width: 50%; float: right; margin-top: 5px;">
            <button class="kx-btn kx-btn--skin-secondary kx-btn--size-base" (click)="goToListOperations()">
                <span class="kx-btn__inner">
                    <span class="kx-btn__txt">Back</span>
                </span>
            </button>
        </div>
    </div>
</div>
