<app-load *ngIf="isDataLoading"></app-load>
<div class="kx-card kx-card--skin-default">
  <p-table #dt [columns]="cols" [value]="installationList" styleClass="p-datatable-customers p-datatable-gridlines"
    [rowsPerPageOptions]="[5,10,20,50,100,200,500]" [rows]="PRIMENG_CONSTANTS.rowCount" [paginator]="true"
    [globalFilterFields]="['displayName','foulingState.State','installationStatus.name','Status','Date','aisData.destination','node.status','aisData.eta']"
    [autoLayout]="true" [responsive]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex" style='text-align: left !important;'>
        <span class="p-input-icon-left p-ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search keyword" />
        </span>
        <button *ngIf="accessPrepareInstallation"
          class="kx-btn kx-btn--skin-primary kx-btn--size-base kx-mx--tiny kx-mt--base" style="height: 30px;"
          (click)="redirectToPrepareInstallation()">
          <span class="kx-btn__inner">
            <span class="kx-btn__txt">Prepare Installation</span>
          </span>
        </button>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.sortfield"
          [ngClass]="{'u--cursorPointer': col.sortfield !== ''}"
          title="{{(col.sortfield!=='') ? 'Click to sort' : ''}}">
          {{col.header}}
          <p-sortIcon *ngIf="col.sortfield  && col.sortfield !== ''" [field]="col.field" ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
          </p-sortIcon>
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns" style="overflow:visible">
          <input pInputText type="text"
            *ngIf="col.filterMatchMode && col.filterMatchMode !== '' && col.filterMatchMode === 'contains'"
            class="kx-field kx-field--size-base u--field--size-small" placeholder="Type to filter"
            (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">

          <p-dropdown appendTo="body"
            *ngIf="col.filterMatchMode && col.filterMatchMode !== '' && col.filterMatchMode === 'equals'"
            [options]="col.options" [optionLabel]="col.optionLabel"
            (onChange)="dt.filter($event.value ? $event.value[col.optionLabel]: '', col.field, col.filterMatchMode)"
            styleClass="p-column-filter" placeholder="Select to filter" [showClear]="true">
          </p-dropdown>
        </th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-installationList>
      <tr>
        <td>
          <a href="#" (click)="redirectToOperationsOverview($event, installationList)"> <span
              class="kx-pt--tiny">{{installationList.displayName}} </span> </a>
        </td>
        <td>{{ installationList.foulingState ? installationList.foulingState.State : '' }}</td>
        <td>{{ installationList.installationStatus ? installationList.installationStatus.name : '' }}</td>
        <td> {{ installationList.operation ? installationList.operation.OperationStatus.Name : '' }} </td>
        <td> {{ installationList.operation ? (installationList.operation.Date | date:  appConstants.dateFormatWithoutTime) : ''}}</td>
        <td>{{ installationList.operation ? installationList.operation.PortLocation ?
          installationList.operation.PortLocation.PortName : '': ''}}</td>
        <td>
          <div *ngIf="installationList.node && installationList.node.status === 'Down'"
            class="u--bgDanger u--textCenter u--withBorderRadius" style="width: 85%;">
            <a [routerLink]="['/connectivity-monitoring/cacti',installationList.node.nodeNumber]">
              <span class="kx-pt--tiny" style="color:white;"> {{installationList.node.status}}</span>
            </a>
          </div>
          <div *ngIf="installationList.node && installationList.node.status === 'Up'"
            class="u--bgSuccess u--textCenter u--withBorderRadius" style="width: 85%;">
            <a [routerLink]="['/connectivity-monitoring/cacti',installationList.node.nodeNumber]">
              <span class="kx-pt--tiny" style="color:white;"> {{installationList.node.status}}</span>
            </a>
          </div>
        </td>
        <td>{{ installationList.aisData ? (installationList.aisData.eta | date: appConstants.dateFormatWithoutTime) : ''}}</td>
        <td>
          <div class="kx-icon kx-icon--size-base" style="width: 25px; margin-left: 54px; cursor: pointer;"
            (click)="viewAISCard($event, installationList)">
            <svg focusable="false">
              <use href="./assets/img/icons/sprites/icons.svg#map"></use>
            </svg>
          </div>
        </td>
        <td><a [routerLink]="['/operational-plan/prepare-installation/create-installation/' + installationList.id]">
            <span class="kx-pt--tiny">Edit</span>
          </a> </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-modal [displayMe]="showAISCard">
  <div class="modal-header">
    <div>
      AIS Information
      <button class="kx-btn kx-btn--skin-secondary kx-btn--size-tiny kx-btn--icon u--modalclosebtn"
        aria-label="close modal" title="close modal" (click)="toggleShowAISCard()">
        <span class="kx-btn__inner">
          <i class="kx-icon kx-icon--size-moderate">
            <svg focusable="false">
              <use href="./assets/img/icons/sprites/icons.svg#close">
              </use>
            </svg>
          </i>
          <span class="kx-btn__txt kx-is-vishidden">close modal</span>
        </span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <div class="kx-container kx-p--none">
      <div class="kx-card kx-card--skin-default kx-p--medium">
        <div class="kx-row">
          <div class="kx-col  kx-col--4">
            <strong>Installation</strong> : {{currentInstallation? currentInstallation.displayName: ''}}
          </div>
          <div class="kx-col  kx-col--4">
            <strong>IMO</strong> : {{currentInstallation? currentInstallation.imoNo: ''}}
          </div>
        </div>
        <div class="kx-row kx-mt--tiny kx-mt--medium@mob-m">
          <div class="kx-col kx-col--12">
            <div *ngIf="!(currentInstallation && currentInstallation.aisData)"
              class="kx-card kx-card--skin-default kx-p--small">
              No AIS Information available
            </div>
            <div *ngIf="currentInstallation && currentInstallation.aisData"
              class="kx-row kx-card kx-card--skin-default">

              <div class="kx-card__body card-body kx-p--small">
                <div class="kx-row">

                  <div class="kx-col kx-col--4">
                    <strong>Timestamp :</strong>
                    <div class="kx-mt--tiny">
                      {{currentInstallation.aisData.messageTimestamp | date: appConstants.dateFormatWithTime}}
                    </div>
                  </div>

                  <div class="kx-col kx-col--4">
                    <strong>Destination:</strong>
                    <div class="kx-mt--tiny">
                      {{currentInstallation.aisData.destination}}
                    </div>
                  </div>
                  <div class="kx-col kx-col--4">
                    <div class="kx-mt--tiny">
                      <strong>ETA :</strong>
                      <div class="kx-mt--tiny">
                        {{currentInstallation.aisData.eta | date: appConstants.dateFormatWithTime}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="kx-row">
                  <div class="kx-col kx-col--4">
                    <strong>Speed:</strong>
                    <div class="kx-mt--tiny">
                      {{currentInstallation.aisData.speed}}
                    </div>
                  </div>
                  <div class="kx-col kx-col--4">
                    <div class="kx-mt--tiny">
                      <strong>Draft :</strong>
                      <div class="kx-mt--tiny">
                        {{currentInstallation.aisData.draft}}
                      </div>
                    </div>
                  </div>
                  <div class="kx-col kx-col--4">
                    <strong>Position:</strong>
                    <div *ngIf="currentInstallation.aisData && currentInstallation.aisData.latitude "
                      class="kx-mt--tiny">
                      ({{currentInstallation.aisData.latitude ?
                      currentInstallation.aisData.latitude :
                      0}},
                      {{currentInstallation.aisData.longitude ?
                      currentInstallation.aisData.longitude :
                      0}})
                      <a href="https://maps.google.com/?q={{currentInstallation.aisData.latitude  ? currentInstallation.aisData.latitude : 0}},{{currentInstallation.aisData.longitude  ? currentInstallation.aisData.longitude : 0}}"
                        target="_blank"> View </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-modal>