<div class="kx-card kx-card--skin-default">
    <p-table #dt [columns]="cols" [value]="installationList" tableStyleClass="kx-table kx-table--outer-border"
    [rowsPerPageOptions]="[5,10,20,50,100,200,500]" [rows]="PRIMENG_CONSTANTS.rowCount" [paginator]="true" 
    [globalFilterFields]="['Name','FoulingState','InstallationStatus','Status','Date','Port','ConnectivityStatus','ETA','ETB']"
     autoLayout="true" [responsive]="true">
    <ng-template pTemplate="caption">
        <div class="p-d-flex">
            <span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Search keyword" />
            </span>
            <button class="kx-btn kx-btn--skin-primary kx-btn--size-base kx-mx--tiny kx-mt--base"
                (click)="redirectToPrepareInstallation()">
                <span class="kx-btn__inner">
                    <span class="kx-btn__txt">Prepare Installation</span>
                </span>
            </button>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
           <th *ngFor="let col of columns" [pSortableColumn]="col.sortfield"
              [ngClass]="{'u--cursorPointer': col.sortfield !== ''}"
              title="{{(col.sortfield!=='') ? 'Click to sort' : ''}}">
              {{col.header}}
              <p-sortIcon *ngIf="col.sortfield !== ''" [field]="col.field" ariaLabel="Activate to sort"
                  ariaLabelDesc="Activate to sort in descending order"
                  ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
          </th>
      </tr>
      <tr>
             <th *ngFor="let col of columns">
            <input pInputText type="text" *ngIf="col.filterMatchMode && col.filterMatchMode !== ''"
                class="kx-field kx-field--size-base u--field--size-small" placeholder="Type to filter"
                (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
        </th>
        
      </tr>
      </ng-template>
    <ng-template pTemplate="body" let-installationList>
        <tr>
           <td> <a [routerLink]="['/operational-plan/operations-overview/1']">
                        <span class="kx-pt--tiny">{{installationList.Name}} </span>
                    </a> 
                </td>
            <td>{{ installationList.FoulingState }}</td>
            <td>{{ installationList.InstallationStatus }}</td>
            <td>{{ installationList.Status }}</td>
            <td>{{ installationList.Date | date: "dd/MM/yyyy HH:mm" }}</td>
            <td>{{ installationList.Port }}</td>
            <td>{{ installationList.ConnectivityStatus }}</td>
            <td>{{ installationList.ETA | date: "dd/MM/yyyy HH:mm" }}</td>
            <td>{{ installationList.ETB | date: "dd/MM/yyyy HH:mm" }}</td>
            <td>{{ installationList.CurrentPosition }}</td>
        </tr>
    </ng-template>
</p-table>
</div>

    
