
<div class="kx-pt--small">
  <app-create-section  [hidden]="listingSection.subSectionFlag" #createSection [section]= "section" (sectionUpdated)="listingSection.onSectionDataUpdated($event)"></app-create-section>
  <app-create-sub-section [hidden]="!listingSection.subSectionFlag"  #createSubSection (subSectionUpdated)="listingSection.onSubSectionDataUpdated($event)" (subSectionCancelled)="listingSection.onSubSectionCancelled()"></app-create-sub-section>
  <app-listing-section #listingSection (sectionOnEdit)="createSection.sectionEditInit($event)" (subSectionOnEdit)="createSubSection.subSectionEditInit($event)" (subSectionOnAdd)="createSubSection.onNewSubSectionInit($event)" [section]= "section" [sections]= "sectionList"></app-listing-section>
  
</div>
