<div class="kx-card kx-card--skin-default" *ngIf="config && config.formList && config.formList.length>0">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="kx-p--medium@mob-m kx-p--tiny">
            <h3 class="u--capitalize">{{config.formTitle}}</h3>
            <hr class="kx-my--small" />
            <div class="kx-row kx-mb--small" *ngFor="let formItem of config.formList; let i = index;"
                [ngSwitch]="formItem.type">
                {{formItem.key.valid}}
                <div class="kx-col kx-col--12">
                    <label class="kx-label" [for]="formItem.key">
                        {{formItem.label}}
                        <small *ngIf="formItem.labelSmall" class="u--textDanger">{{formItem.labelSmall}}</small>
                        <span
                            *ngIf="(form.value[formItem.key]==='' || form.value[formItem.key]===null) && isFormSubmitted"
                            class="u--textDanger">Required</span>
                        <span *ngIf="form.value[formItem.key]==='' || form.value[formItem.key]===null"
                            class="u--textDanger" style="position: relative;top: 2px;">*</span>
                    </label>
                </div>
                <div *ngSwitchCase="inputTypes.dropdown" class="kx-col kx-col--12">
                    <div class="kx-mt--tiny">
                        <p-dropdown styleClass="u--fullWidth" placeholder="Select {{formItem.label}}"
                            [formControlName]="formItem.key" [options]="formItem.options"
                            [optionLabel]="formItem.optionLabel" filter="true"></p-dropdown>
                    </div>
                </div>
                <div *ngSwitchCase="inputTypes.datepicker" class="kx-col kx-col--12">
                    <div class="kx-mt--tiny">
                        <p-calendar [appendTo]="pcalendarRef" hideOnDateTimeSelect="true"
                            [formControlName]="formItem.key" inputStyleClass="kx-field kx-field--size-small"
                            showTime="true" hourFormat="24" [minDate]="formItem.mindate" showButtonBar="true"
                            [placeholder]="PRIMENG_CONSTANTS.datepickerFormat"
                            [dateFormat]="PRIMENG_CONSTANTS.datepickerFormat" [monthNavigator]="true"
                            [yearNavigator]="true" yearRange="1950:2050" selectOtherMonths="true" readonlyInput="true">
                        </p-calendar>
                    </div>
                </div>
                <div *ngSwitchCase="inputTypes.text" class="kx-col kx-col--12">
                    <div class="kx-form__element">
                        <input [formControlName]="formItem.key" [id]="formItem.key" class="kx-field kx-field--size-base"
                            type="text" placeholder="Enter {{formItem.label}}" />
                    </div>
                </div>
                <div *ngSwitchCase="inputTypes.checkbox" class="kx-col kx-col--12">
                    <div class="kx-form__element">
                        <label class="kx-selector kx-selector__switch">
                            <input type="checkbox" [formControlName]="formItem.key" />
                            <div class="kx-selector__indicator"></div>
                            <span *ngIf="!form.value[formItem.key]" class="label-text">OFF</span>
                            <span *ngIf="form.value[formItem.key]" class="label-text">ON</span>
                        </label>
                    </div>
                </div>
                <div *ngSwitchCase="inputTypes.number" class="kx-col kx-col--12">
                    <div class="kx-form__element u--positionRelative">
                        <input [formControlName]="formItem.key" [id]="formItem.key" class="kx-field kx-field--size-base"
                            type="number" placeholder="Select {{formItem.label}}" />
                    </div>
                </div>
                <div *ngSwitchCase="inputTypes.autocomplete" class="kx-col kx-col--12">
                    <div class="kx-mt--tiny">
                        <p-autoComplete [formControlName]="formItem.key" [suggestions]="portLocations"
                            inputStyleClass="kx-field kx-field--size-base"
                            (completeMethod)="filterPortLocations($event)" field="PortName" [size]="30"
                            placeholder="Type for suggestions..." [minLength]="1"></p-autoComplete>
                    </div>
                </div>
                <div *ngSwitchDefault class="kx-col kx-col--5">
                    {{formItem.type}} : input type is not handled
                </div>
            </div>
            <div class="kx-row">
                <div class="kx-col kx-col--5">
                    <button type="submit" class="kx-btn kx-btn--skin-primary kx-btn--size-large">
                        <span class="kx-btn__inner">
                            <span class="kx-btn__txt">Submit</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<div style="position: absolute;top: 20px;" #pcalendarRef></div>