<app-load *ngIf="isDataLoading"></app-load>
<p-table *ngIf="vesselSections && vesselSections.length > 0" [columns]="cols" [value]="vesselSections"  [resetPageOnSort]="false" dataKey="id" editMode="row" [paginator]="true" #tt
  [rows]="PRIMENG_CONSTANTS.rowCount" [rowsPerPageOptions]="[5,10,20,50,100,200,500] " [responsive]="true"
  rowExpandMode="single" tableStyleClass="kx-table kx-table--outer-border" autoLayout="true">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3rem"></th>
      <th *ngFor="let col of columns" [pSortableColumn]="col.sortfield"
        [ngClass]="{'u--cursorPointer': col.sortfield !== ''}" title="{{(col.sortfield!=='') ? 'Click to sort' : ''}}">
        {{col.header}}
        <p-sortIcon *ngIf="col.sortfield !== ''" [field]="col.field" ariaLabel="Activate to sort"
          ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
        </p-sortIcon>
      </th>
    </tr>
    <tr>
      <th style="width: 3rem"></th>
      <th *ngFor="let col of columns" [ngSwitch]="col.field">
        <input *ngSwitchCase="'name'" pInputText type="text" class="kx-field kx-field--size-base u--field--size-small"
          placeholder="Filter section" (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
        <input *ngSwitchCase="'sectionStatus.name'" pInputText type="text"
          class="kx-field kx-field--size-base u--field--size-small" placeholder="Filter section status"
          (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
      </th>

    </tr>
    <!-- <tr>
      <th style="width: 3rem"></th>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr> -->
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-expanded="expanded">
    <tr>
      <td class="kx-p--small">
        <a href="#" [pRowToggler]="rowData">
          <i [ngClass]="
                expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
              "></i>
        </a>
      </td>
      <td>{{ rowData.name }}</td>
      <td></td>
      <td> {{ rowData.sectionStatus.name  }}</td>
      <td>

        <button class="kx-btn kx-btn--skin-secondary kx-btn--size-tiny kx-btn--icon" aria-label="Edit section"
          title="Edit section" (click)="onSectionRowEditInit(rowData)">
          <span class="kx-btn__inner">
            <i class="kx-icon kx-icon--size-moderate">
              <svg focusable="true">
                <use href="./assets/img/icons/sprites/icons.svg#pencil"></use>
              </svg>
            </i>
            <span class="kx-btn__txt kx-is-vishidden">Edit section</span>
          </span>
        </button>

        <button class="kx-btn kx-btn--skin-secondary kx-btn--size-tiny kx-btn--icon" aria-label="Delete section"
          title="Delete section" (click)="onSectionRowDelete(rowData)">
          <span class="kx-btn__inner">
            <i class="kx-icon kx-icon--size-moderate">
              <svg focusable="true">
                <use href="./assets/img/icons/sprites/icons.svg#trash"></use>
              </svg>
            </i>
            <span class="kx-btn__txt kx-is-vishidden">Delete section</span>
          </span>
        </button>

        <button class="kx-btn kx-btn--skin-secondary kx-btn--size-tiny kx-btn--icon" aria-label="Add Sub-section"
          title="Add Sub-section" (click)="onSubSectionAddInit(rowData)">
          <span class="kx-btn__inner">
            <i class="kx-icon kx-icon--size-moderate">
              <svg focusable="true">
                <use href="./assets/img/icons/sprites/icons.svg#plus"></use>
              </svg>
            </i>
            <span class="kx-btn__txt kx-is-vishidden">Add Sub-section</span>
          </span>
        </button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
  
    <tr>
      <td [attr.colspan]="5">
        <div class="kx-table--outer-border" [ngStyle]="rowData.subSections.length > 0 ? {'padding-left': '37%'} : ''" >
          <app-no-data [displayme]="rowData.subSections && rowData.subSections.length === 0"></app-no-data>
          <p-table *ngIf="rowData.subSections.length > 0" [value]="rowData.subSections" tableStyleClass="kx-table" autoLayout="true">
            <ng-template pTemplate="body" let-rowData>
    <tr class="kx-row">

      <!-- <td style ="width: 25rem;"></td> -->
      <td class="kx-col kx-col--12 kx-col--3@mob-m kx-col--3@tab-m kx-col--3@ltp-s">{{ rowData.subSectionNumber }}</td>
      <td class="kx-col kx-col--12 kx-col--6@mob-m kx-col--6@tab-m kx-col--6@ltp-s" style="margin-right: 0.8%;">
        {{ rowData.sectionStatus.name }}</td>
      <td class="kx-col kx-col--12 kx-col--2@mob-m kx-col--2@tab-m kx-col--1@ltp-s">

        <button class="kx-btn kx-btn--skin-secondary kx-btn--size-tiny kx-btn--icon" aria-label="Edit section"
          title="Edit section" (click)="onSubSectionEditInit(rowData)">
          <span class="kx-btn__inner">
            <i class="kx-icon kx-icon--size-moderate">
              <svg focusable="true">
                <use href="./assets/img/icons/sprites/icons.svg#pencil"></use>
              </svg>
            </i>
            <span class="kx-btn__txt kx-is-vishidden">Edit section</span>
          </span>
        </button>
        <button class="kx-btn kx-btn--skin-secondary kx-btn--size-tiny kx-btn--icon" aria-label="Delete section"
          title="Delete section" (click)="onSubSectionDelete(rowData)">
          <span class="kx-btn__inner">
            <i class="kx-icon kx-icon--size-moderate">
              <svg focusable="true">
                <use href="./assets/img/icons/sprites/icons.svg#trash"></use>
              </svg>
            </i>
            <span class="kx-btn__txt kx-is-vishidden">Delete section</span>
          </span>
        </button>
      </td>
    </tr>
  </ng-template>

</p-table>
</div>
</td>
</tr>
</ng-template>

</p-table>

<app-no-data [displayme]="vesselSections && vesselSections.length === 0"></app-no-data>
