<app-load *ngIf="isDataLoading"></app-load>
<div *ngIf="!isDataLoading">
    <div *ngIf="vesselConnectivityControlList.length > 0">
        <p-table tableStyleClass="kx-table kx-table--outer-border kx-table--slim-rows" *ngIf="!isDataLoading" #tt
            [value]="vesselConnectivityControlList" [columns]="cols" [paginator]="true"
            [rows]="PRIMENG_CONSTANTS.rowCount" autoLayout="true">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.sortfield"
                        [ngClass]="{'u--cursorPointer': col.sortfield !== ''}"
                        title="{{(col.sortfield!=='') ? 'Click to sort' : ''}}">
                        {{col.header}}
                        <p-sortIcon *ngIf="col.sortfield !== ''" [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                </tr>
                <tr>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field">
                        <input *ngSwitchCase="'VesselName'" pInputText type="text"
                            class="kx-field kx-field--size-base u--field--size-small"
                            placeholder="Type to filter Vessel"
                            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input *ngSwitchCase="'IMONumber'" pInputText type="text"
                            class="kx-field kx-field--size-base u--field--size-small" placeholder="Type to filter IMO"
                            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-i="rowIndex" let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        <div [ngSwitch]="col.field">
                            <div *ngSwitchCase="'IsUploadEnabled'" class="kx-py--tiny">
                                <label class="kx-selector kx-selector__switch">
                                    <input type="checkbox" name="IsUploadEnabled" [(ngModel)]="rowData[col.field]"
                                        (ngModelChange)="updateUploadStatus(rowData)"/>
                                    <div class="kx-selector__indicator"></div>
                                    <span *ngIf="!rowData[col.field]" class="label-text">OFF</span>
                                    <span *ngIf="rowData[col.field]" class="label-text">ON</span>
                                </label>
                            </div>
                            <div *ngSwitchCase="'DisableTime'">
                                <div *ngIf="rowData.IsUploadEnabled && rowData.AlwaysOn" class="kx-py--tiny">
                                    {{rowData.RemainingTime}}
                                </div>
                                <div *ngIf="rowData.IsUploadEnabled && !rowData.AlwaysOn" class="kx-py--tiny"
                                    appRemainingTime [data]="rowData.DisableTime" [index]="i"
                                    (updateRemainingTime)="updateRemainingTime($event)">
                                    {{rowData.RemainingTime}}
                                </div>
                                <div *ngIf="!rowData.IsUploadEnabled">
                                    <p-calendar showTime="true" [appendTo]="pcalendarRef"
                                        inputStyleClass="kx-field kx-field--size-small" hourFormat="24"
                                        showButtonBar="true" hideOnDateTimeSelect="true"
                                        placeholder="{{PRIMENG_CONSTANTS.datepickerFormat}} HH:mm"
                                        [dateFormat]="PRIMENG_CONSTANTS.datepickerFormat" [minDate]="currentUTC"
                                        [defaultDate]="currentUTC" [(ngModel)]="rowData.DisableTime"
                                        [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2050"
                                        selectOtherMonths="true" readonlyInput="true" (click)="onDisableTimeSelect()">
                                    </p-calendar>
                                </div>
                            </div>
                            <div *ngSwitchCase="'LastAction'" class="kx-py--tiny">
                                {{rowData['LastAction']}} at
                                <span
                                    *ngIf="rowData['IsUploadEnabled']">{{rowData['EnabledTime'] | date:'MM/dd/yyyy HH:mm'}}</span>
                                <span
                                    *ngIf="!rowData['IsUploadEnabled']">{{rowData['DisableRetainTime'] | date:'MM/dd/yyyy HH:mm'}}</span>
                                <i (click)="toggleActivityLogModal(); loadVesselActivityLog(rowData)"
                                    class="kx-icon kx-icon--size-base u--floatRight u--cursorPointer">
                                    <svg focusable="false">
                                        <use href="./assets/img/icons/sprites/icons.svg#view-list"></use>
                                    </svg>
                                </i>
                            </div>
                            <div class="kx-py--tiny" *ngSwitchDefault>{{rowData[col.field]}}</div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <app-no-data [displayme]="vesselConnectivityControlList.length === 0"></app-no-data>
</div>
<app-modal [displayMe]="displayActionLogModal">
    <div class="modal-header">
        <div>
            Upload Enable/Disable Action Log
            <button class="kx-btn kx-btn--skin-secondary kx-btn--size-tiny kx-btn--icon u--modalclosebtn"
                aria-label="close modal" title="close modal" (click)="toggleActivityLogModal()">
                <span class="kx-btn__inner">
                    <i class="kx-icon kx-icon--size-moderate">
                        <svg focusable="false">
                            <use href="./assets/img/icons/sprites/icons.svg#close">
                            </use>
                        </svg>
                    </i>
                    <span class="kx-btn__txt kx-is-vishidden">close modal</span>
                </span>
            </button>
        </div>
    </div>
    <div class="modal-body">
        <div class="kx-container kx-p--none">
            <div class="kx-card kx-card--skin-default kx-p--medium">
                <div class="kx-row">
                    <div class="kx-col  kx-col--4">
                        <strong>Vessel</strong> : {{activeVessel.VesselName}}
                    </div>
                    <div class="kx-col  kx-col--4">
                        <strong>IMO</strong> : {{activeVessel.IMONumber}}
                    </div>
                </div>
                <div class="kx-row kx-mt--tiny kx-mt--medium@mob-m">
                    <div class="kx-col kx-col--12">
                        <app-load *ngIf="isActionLogDataLoading"></app-load>
                        <table *ngIf="!isActionLogDataLoading && vesselConnectivityActionLogList.length > 0"
                            class="kx-table kx-table--outer-border kx-table--slim-rows u--with-tbody-scroll">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Date Time (MM/dd/yyyy HH:mm, GMT) </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let logItem of vesselConnectivityActionLogList; let i = index;">
                                    <td>{{logItem.Action}} by {{logItem.User}}</td>
                                    <td>{{logItem.ActionTime | date:'MM/dd/yyyy HH:mm'}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <app-no-data
                            [displayme]="!isActionLogDataLoading && vesselConnectivityActionLogList.length === 0">
                        </app-no-data>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-modal>
<div #pcalendarRef style="position: absolute;top: 2px;"></div>