<!--
KONGSBERG PROPRIETARY. This document and its accompanying elements, contain KONGSBERG information which is proprietary and confidential.
Any disclosure, copying, distribution or use is prohibited if not otherwise explicitly agreed with KONGSBERG in writing.
Any authorized reproduction, in whole or in part, must include this legend. © [year of creation] KONGSBERG – All rights reserved.
-->
<div *ngIf="displayme"
    class="kx-notification kx-notification--neutral kx-notification--block kx-flex kx-align-items-start kx-justify-content-start kx-mt--tiny">
    <div class="kx-notification__content kx-flex kx-flex-wrap kx-align-items-start">
        <header class="kx-notification__header">
            <h3 class="kx-notification__title">No Data Available</h3>
        </header>
    </div>
</div>
