<!--
KONGSBERG PROPRIETARY. This document and its accompanying elements, contain KONGSBERG information which is proprietary and confidential.
Any disclosure, copying, distribution or use is prohibited if not otherwise explicitly agreed with KONGSBERG in writing.
Any authorized reproduction, in whole or in part, must include this legend. © [year of creation] KONGSBERG – All rights reserved.
-->
<div class="kx-p--small@mob-m kx-p--tiny">
    <nav class="kx-breadcrumb">
        <ol class="kx-breadcrumb__list">
            <li class="kx-breadcrumb__item" [ngClass]="{'u--disableTab':installationStatusId===0 && i!==0}"
                *ngFor="let routeItem of prepareInstallationSteps; let i = index;" (click)="tabClicked(i)">
                <a [ngClass]="{'u--selectedTab':activeTab===i}" [routerLink]="routeItem.route"
                    class="kx-breadcrumb__label u--fontLarge">{{routeItem.label}}</a>
                <i *ngIf="!(prepareInstallationSteps.length == i + 1)" class="kx-icon kx-icon--size-tiny">
                    <svg focusable="false">
                        <use href="./assets/img/icons/sprites/icons.svg#chevron-right"></use>
                    </svg>
                </i>
            </li>
        </ol>
    </nav>
</div>
<div>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
