<app-load *ngIf="isDataLoading"></app-load>
<div *ngIf="!isOperationScreen" class="kx-card kx-card--skin-default">
    <div class="kx-p--tiny kx-p--medium@mob-m">
        <div class="kx-row">
            <div class="kx-col kx-col--12 kx-col--12@mob-m kx-col--5@tab-m kx-col--3@ltp-s">
                <label class="kx-label">Select a Port</label><small class="u--textDanger">*</small>
                <div class="kx-mt--tiny">
                    <p-autoComplete [(ngModel)]="port" [suggestions]="portLocations"
                        inputStyleClass="kx-field kx-field--size-base" (completeMethod)="filterPortLocations($event)"
                        field="PortDisplayName" [size]="30" placeholder="Type for suggestions"
                        [minLength]="2">
                    </p-autoComplete>
                </div>
            </div>

            <div class="kx-col kx-col--12 kx-col--12@mob-m kx-col--5@tab-m kx-col--2@ltp-s">
                <label class="kx-label">Order</label><small class="u--textDanger">*</small>
                <div class="kx-mt--tiny">
                    <input class="kx-field kx-field--size-base" type="number" [(ngModel)]="portOrder" min="1"
                        max="{{maxPortOrder}}" oninput="validity.valid || (value='');" placeholder="Enter port order" />
                </div>
                <!-- min="1" max="{{maxPortOrder}}" -->
                <!-- onKeyPress="if(this.value.length > 2) return false;" -->
            </div>

            <div class="kx-col kx-col--12 kx-col--3@tab-m kx-col--6@mob-m">
                <button (click)="addPortToRoute()"
                    class="kx-btn kx-btn--skin-primary kx-btn--size-base kx-mt--tiny kx-mt--medium@mob-m"
                    [disabled]="disableAddToRoute(port)">
                    <span class="kx-btn__inner">
                        <span class="kx-btn__txt">Add to Route</span>
                    </span>
                </button>
                <button (click)="clear()"
                    class="kx-btn kx-btn--skin-secondary kx-btn--size-base kx-mt--tiny kx-mt--medium@mob-m"
                    style="margin-left: 30px;">
                    <span class="kx-btn__inner">
                        <span class="kx-btn__txt">Clear</span>
                    </span>
                </button>
            </div>
        </div>
        <div style="width: 200px; margin-top: 5px;"><a href="#" (click)="showAddEditPort($event)">
                <span *ngIf="!editPort">Add a new port</span> <span *ngIf="editPort">Edit this port</span> </a></div>
    </div>

</div>

<div class="kx-pt--small">
    <div *ngIf="!isDataLoading">
        <p-table *ngIf="vesselTradeRoute.length > 0" tableStyleClass="kx-table kx-table--outer-border"
            [value]="vesselTradeRoute" (onRowReorder)="onRowReorder($event)" [columns]="cols" autoLayout="true" #tt
            [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,20,50,100,200,500]">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngIf="!isOperationScreen" style="width:3rem"></th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.sortfield" [ngStyle]="{'width':'100px'}"
                        [ngClass]="{'u--cursorPointer': col.sortfield !== ''}"
                        title="{{(col.sortfield!=='') ? 'Click to sort' : ''}}">
                        {{col.header}}
                        <p-sortIcon *ngIf="col.sortfield !== ''" [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                </tr>
                <tr>
                    <th *ngIf="!isOperationScreen"></th>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field">
                        <input *ngSwitchCase="'PortName'" pInputText type="text"
                            class="kx-field kx-field--size-base u--field--size-small" placeholder="Type to filter Port"
                            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input *ngSwitchCase="'CountryName'" pInputText type="text"
                            class="kx-field kx-field--size-base u--field--size-small" placeholder="Type to filter Country"
                            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input *ngSwitchCase="'Type'" pInputText type="text"
                            class="kx-field kx-field--size-base u--field--size-small"
                            placeholder="Type to filter Port Type"
                            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input *ngSwitchCase="'Coordinate'" pInputText type="text"
                            class="kx-field kx-field--size-base u--field--size-small"
                            placeholder="Type to filter Coordinate"
                            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input *ngSwitchCase="'Order'" pInputText type="text"
                            class="kx-field kx-field--size-base u--field--size-small" placeholder="Type to filter Order"
                            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
                <tr [pReorderableRow]="index">
                    <td *ngIf="!isOperationScreen">
                        <span class="pi pi-bars" pReorderableRowHandle></span>
                    </td>
                    <td *ngFor="let col of columns">
                        <div [ngSwitch]="col.field">
                            <div *ngSwitchCase="'Id'">
                                <!-- <input type="image" src="./assets/img/icons/sprites/icons.svg#trash" alt="Remove"
                                    (click)="removePortFromTradeRoute(rowData)" [disabled]="disableActivity"
                                    height="23px" width="23px" title="Delete"> -->
                                <button *ngIf="!isOperationScreen"
                                    class="kx-btn kx-btn--skin-secondary kx-btn--size-tiny kx-btn--icon"
                                    aria-label="Delete" title="Delete" (click)="removePortFromTradeRoute(rowData)">
                                    <span class="kx-btn__inner">
                                        <i class="kx-icon kx-icon--size-moderate">
                                            <svg focusable="true">
                                                <use href="./assets/img/icons/sprites/icons.svg#trash"></use>
                                            </svg>
                                        </i>
                                        <span class="kx-btn__txt kx-is-vishidden">Delete</span>
                                    </span>
                                </button>
                            </div>
                            <div *ngSwitchDefault>{{rowData[col.field]}}</div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <app-no-data [displayme]="vesselTradeRoute.length === 0"></app-no-data>
    </div>
</div>

<div class="kx-row">
    <div class="kx-col kx-col--6">
        <button class="kx-btn kx-btn--skin-secondary kx-btn--size-base kx-mt--tiny" (click)="cancel()"
            style="float: right; margin-right: 10px;">
            <span class="kx-btn__inner">
                <span class="kx-btn__txt">Cancel</span>
            </span>
        </button>
    </div>

    <div class="kx-col kx-col--6" style="float: left;">
        <button class="kx-btn kx-btn--skin-primary kx-btn--size-base kx-mt--tiny" (click)="next()">
            <span class="kx-btn__inner">
                <span class="kx-btn__txt">Next</span>
            </span>
        </button>
    </div>
</div>

<app-load *ngIf="addEditPortLoading"></app-load>
<p-dialog header="Add or Edit Port" [(visible)]="displayAddEditPort" [modal]="true" [style]="{width: '55vw'}"
    [maximizable]="true" [baseZIndex]="10000" [draggable]="true" [resizable]="true">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="kx-card kx-card--skin-default"
                    *ngIf="addPortConfig && addPortConfig.formList && addPortConfig.formList.length > 0">
                    <div class="kx-p--tiny kx-p--medium@mob-m">
                        <div class="kx-row kx-row--gutters">
                            <app-load *ngIf="isDataLoading"></app-load>
                            <form [formGroup]="formData" class="kx-row kx-row--gutters" (ngSubmit)="addEditPort()"
                                style="width: 100%">
                                <app-dynamic-form
                                    class="kx-col kx-col--12 kx-col--12@mob-m kx-col--4@tab-m kx-col--10@ltp-s kx-row kx-row--gutters"
                                    style="display: contents;" [form]="formData" [formValues]="formValues"
                                    [config]="addPortConfig">
                                </app-dynamic-form>

                                <div class="kx-row kx-row--gutters kx-col kx-col--12 kx-col--12@mob-m kx-col--5@tab-m kx-col--3@ltp-s"
                                    style="margin: 21px 0px 0px 0px;">
                                    <div class="kx-col kx-col--7 kx-col--5@mob-m kx-col--8@tab-m kx-col--5@ltp-s">
                                        <button type="submit" class="kx-btn kx-btn--skin-primary kx-btn--size-base"
                                            [disabled]="formData.invalid">
                                            <span class="kx-btn__inner">
                                                <span *ngIf="!editPort; else elseBlock" class="kx-btn__txt">Add</span>
                                                <ng-template #elseBlock>
                                                    <span class="kx-btn__txt">Update</span>
                                                </ng-template>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayAddEditPort=false" label="Ok" styleClass="p-button-text">
        </p-button>
    </ng-template>
</p-dialog>