<app-load *ngIf="loading"></app-load>
<div class="kx-row">
    <div class="kx-col kx-col--12 kx-col--4@ltp-s">
        <div class="kx-row kx-card kx-card--skin-default">
            <div class="kx-card__header">
                <h3 class="kx-card__title">GSN</h3>
            </div>
            <div class="kx-card__body card-body kx-p--small">
                <div class="kx-row">
                    <div class="kx-col kx-col--6">
                        <strong>Node Number:</strong>
                        <div class="kx-mt--tiny">
                            {{selectedVessel && selectedVessel.NodeNumber  ? selectedVessel.NodeNumber : noData}}
                        </div>
                    </div>
                    <div class="kx-col kx-col--6">
                        <div class="kx-mt--tiny">
                            <strong>Installation :</strong>
                            <div class="kx-mt--tiny">
                                <p-dropdown styleClass="kx-p--none" [(ngModel)]="selectedVessel"
                                    placeholder="Select Vessel" [options]="allVessels"
                                    (onChange)="changeVesselDetails()" optionLabel="Name" filter="true"></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kx-row">
                    <div class="kx-col kx-col--6">
                        <strong>Status:</strong>
                        <div class="kx-mt--tiny">
                            {{selectedVessel && selectedVessel.Status  ? selectedVessel.Status : noData}}
                        </div>
                    </div>
                    <div class="kx-col kx-col--6">
                        <strong>Latency:</strong>
                        <div class="kx-mt--tiny">
                            {{selectedVessel && selectedVessel.LastLatency  ? selectedVessel.LastLatency : noData}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="kx-col kx-col--12 kx-col--6@ltp-s kx-pl--small@ltp-s">
        <div class="kx-row kx-card kx-card--skin-default">
            <div class="kx-card__header">
                <h3 class="kx-card__title">SNMP</h3>
            </div>
            <div class="kx-card__body card-body kx-p--small">
                <div class="kx-row">
                    <div class="kx-col  kx-col--4">
                        <strong>Network Type:</strong>
                        <div class="kx-mt--tiny">
                            <span *ngIf="vesselDetails">
                                {{ vesselDetails && vesselDetails.NetworkType ? vesselDetails.NetworkType : noData}}
                            </span>
                            <span *ngIf="!vesselDetails">
                                {{snmpNoData}}
                            </span>
                        </div>
                    </div>
                    <!-- <div class="kx-col  kx-col--4">
                        <strong>Signal Strength:</strong>
                        <div class="kx-mt--tiny">
                                 <span *ngIf="vesselDetails">
                                {{ vesselDetails && vesselDetails.SignalStrength ? vesselDetails.SignalStrength : noData}}
                            </span>
                            <span *ngIf="!vesselDetails">
                                {{snmpNoData}}
                            </span>
                        </div>
                    </div> -->
                    <div class="kx-col  kx-col--4">
                        <strong>MCC:</strong>
                        <div class="kx-mt--tiny">
                            <span *ngIf="vesselDetails">
                                {{ vesselDetails && vesselDetails.MCC ? vesselDetails.MCC : noData}}
                            </span>
                            <span *ngIf="!vesselDetails">
                                {{snmpNoData}}
                            </span>
                        </div>
                    </div>
                    <div class="kx-col  kx-col--4">
                        <strong>Country:</strong>
                        <div class="kx-mt--tiny">
                            <span *ngIf="vesselDetails">
                                {{ vesselDetails && vesselDetails.CountryName ? vesselDetails.CountryName : noData}}
                            </span>
                            <span *ngIf="!vesselDetails">
                                {{snmpNoData}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="kx-row">
                    <div class="kx-col  kx-col--4">
                        <strong>APN:</strong>
                        <div class="kx-mt--tiny">
                            <span *ngIf="vesselDetails">
                                {{ vesselDetails && vesselDetails.ApnName ? vesselDetails.ApnName : noData}}
                            </span>
                            <span *ngIf="!vesselDetails">
                                {{snmpNoData}}
                            </span>
                        </div>
                    </div>
                    <div class="kx-col  kx-col--4">

                        <strong>Provider Name:</strong>
                        <div class="kx-mt--tiny">
                            <span *ngIf="vesselDetails">
                                {{ vesselDetails && vesselDetails.ProviderName ? vesselDetails.ProviderName : noData}}
                            </span>
                            <span *ngIf="!vesselDetails">
                                {{snmpNoData}}
                            </span>
                        </div>
                    </div>

                    <div class="kx-col  kx-col--4">
                        <strong>Cacti:</strong>
                        <div class="kx-mt--tiny">
                            <span *ngIf="selectedVessel && selectedVessel.CactiLink"><a
                                    href="{{selectedVessel.CactiLink}}" target="_blank">
                                    <img src="./assets/stats.png" alt="Cacti"
                                        style="width:25px; height:25px; align-content:center"> </a></span>
                            <span *ngIf="!(selectedVessel && selectedVessel.CactiLink)">No Link</span>
                        </div>
                    </div>

                    <!-- <div class="kx-col  kx-col--4">
                        <strong>Router Position:</strong>
                        <div class="kx-mt--tiny">
                            <span *ngIf="!(vesselDetails && vesselDetails.Latitude)">{{snmpNoData}}</span>
                            <span *ngIf="vesselDetails && vesselDetails.Latitude">
                                {{ vesselDetails.Latitude }}
                                {{ vesselDetails.Longitude }}</span>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="kx-col kx-col--12 kx-col--4@ltp-s">
        <div class="kx-row kx-card kx-card--skin-default">
            <div class="kx-card__header">
                <h3 class="kx-card__title">AIS</h3>
            </div>
            <div class="kx-card__body card-body kx-p--small">
                <div class="kx-row">
                    <div class="kx-col kx-col--6">
                        <strong>Destination:</strong>
                        <div class="kx-mt--tiny">
                            Newcastle(AUS)
                        </div>
                    </div>
                    <div class="kx-col kx-col--6">
                        <div class="kx-mt--tiny">
                            <strong>ETA :</strong>
                            <div class="kx-mt--tiny">
                                07/09/2020 10:30 PM
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kx-row">
                    <div class="kx-col kx-col--6">
                        <strong>Speed:</strong>
                        <div class="kx-mt--tiny">
                            7.90
                        </div>
                    </div>
                    <div class="kx-col kx-col--6">
                        <strong>Position:</strong>
                        <div class="kx-mt--tiny">
                            (-32.9047, 151.7756) <a href="https://maps.google.com/?q=-32.9047,151.7756" target="_blank">
                                View </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="kx-col kx-col--12 kx-col--2@ltp-s kx-pl--small@ltp-s">
        <div class="kx-card kx-card--skin-default" style="height: 198px;">
            <div class="kx-card__body kx-p--mini">
                <div class="row centerme">
                    <div class="kx-col kx-col--12">

                        <strong>Signal Strength:</strong>
                        <div class="kx-mt--tiny">
                            <span *ngIf="vesselDetails">
                                {{ vesselDetails && vesselDetails.SignalStrength ? vesselDetails.SignalStrength : noData}}
                            </span>
                            <span *ngIf="!vesselDetails">
                                {{snmpNoData}}
                            </span>
                        </div>
<!-- 
                        <div *ngIf="!noGaugeData" class="kx-pl--small">
                            <google-chart #googlechart [title]="chart.title" [type]="chart.type" [data]="chart.data"
                                [options]="chart.options">
                            </google-chart>
                        </div>
                        <div *ngIf="noGaugeData">
                            {{snmpNoData}}
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="kx-card kx-card--skin-default kx-mt--small">
    <div class="kx-p--small">
        <div class="kx-row">
            <div class="kx-col kx-col--12 kx-col--1@mob-m kx-pt--tiny u--textCenter">
                <label class="kx-label" for="selectbox1">Presets : </label>
            </div>
            <div class="kx-col kx-col--12 kx-col--2@mob-m">
                <p-dropdown styleClass="kx-p--none" [options]="presetOptions" (onChange)="onDropDownSelection();"
                    [(ngModel)]="selectedPreset" optionLabel="name"></p-dropdown>
            </div>
            <div class="kx-col kx-col--12 kx-col--1@mob-m kx-pt--tiny u--textCenter">
                <label class="kx-label" for="selectbox1">From Date : </label>
            </div>
            <div class="kx-col kx-col--12 kx-col--2@mob-m kx-pr--large@mob-m">
                <p-calendar [appendTo]="pcalendarRef" inputStyleClass="kx-field kx-field--size-small"
                    (onSelect)="updatePreset();getLatencyTrendData()" [(ngModel)]="fromDate" showTime="true"
                    hourFormat="24" showButtonBar="true" [placeholder]="PRIMENG_CONSTANTS.datepickerFormat"
                    [dateFormat]="PRIMENG_CONSTANTS.datepickerFormat" [monthNavigator]="true" [yearNavigator]="true"
                    yearRange="1950:2050" selectOtherMonths="true" readonlyInput="true">
                </p-calendar>
            </div>
            <div class="kx-col kx-col--12 kx-col--1@mob-m kx-pt--tiny u--textCenter">
                <label class="kx-label" for="selectbox1">To Date : </label>
            </div>
            <div class="kx-col kx-col--12 kx-col--2@mob-m kx-pr--large@mob-m">
                <p-calendar [appendTo]="pcalendarRef" inputStyleClass="kx-field kx-field--size-small"
                    [minDate]="fromDate" (onSelect)="updatePreset();getLatencyTrendData()" [(ngModel)]="toDate"
                    showTime="true" hourFormat="24" showButtonBar="true"
                    [placeholder]="PRIMENG_CONSTANTS.datepickerFormat" [dateFormat]="PRIMENG_CONSTANTS.datepickerFormat"
                    [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2050" selectOtherMonths="true"
                    readonlyInput="true">
                </p-calendar>
            </div>
            <div class="kx-col kx-col--12 kx-col--3@mob-m">
                <button class="kx-btn kx-btn--skin-primary kx-btn--size-base kx-mr--tiny kx-mr--large@tab-m"
                    (click)="filterData()">
                    <span class="kx-btn__inner">
                        <span class="kx-btn__txt">Apply</span>
                    </span>
                </button>
                <button (click)="resetDate()" class="kx-btn kx-btn--skin-primary kx-btn--size-base">
                    <span class="kx-btn__inner">
                        <span class="kx-btn__txt">Reset</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="kx-row kx-mt--small">
    <div class="kx-col kx-col--6" [ngClass]="{'kx-col--12' : viewFullChart }">
        <span title="toggle full screen" (click)="viewFullChart=!viewFullChart;viewFullMap=false;"
            class="kx-navigation-icon collapse-icon"><i
                class="kx-icon kx-icon--size-moderate kx-m--mini toggle-navigation open-navigation collapsed"
                id="open-navigation"><svg _ngcontent-ghn-c3="" aria-hidden="true" focusable="false">
                    <use *ngIf="!viewFullChart" _ngcontent-ghn-c3="" xmlns:xlink="http://www.w3.org/1999/xlink"
                        xlink:href="./assets/img/icons/sprites/icons.svg#chevron-right"></use>
                    <use *ngIf="viewFullChart" _ngcontent-ghn-c3="" xmlns:xlink="http://www.w3.org/1999/xlink"
                        xlink:href="./assets/img/icons/sprites/icons.svg#chevron-left"></use>
                </svg></i></span>
        <div class="charts">
            <app-chart [viewFullChart]="viewFullChart" [chartId]="'chart1'" [latencyRequest]="latencyRequest">
            </app-chart>
        </div>
    </div>
    <div class="kx-col kx-col--6" [ngClass]="{'kx-col--12' : !viewFullChart && viewFullMap }">
        <a href="#" style="padding-left: 10px;" (click)="viewAISCard($event)"> AIS Information </a>
        <div class="row" style="margin-left:10px">
            <app-map [showMap]="showMap" [aisRequest]="aisRequest"></app-map>
        </div>
    </div>
</div>

<app-modal [displayMe]="showAISCard">
    <div class="modal-header">
        <div>
            AIS Information
            <button class="kx-btn kx-btn--skin-secondary kx-btn--size-tiny kx-btn--icon u--modalclosebtn"
                aria-label="close modal" title="close modal" (click)="toggleShowAISCard()">
                <span class="kx-btn__inner">
                    <i class="kx-icon kx-icon--size-moderate">
                        <svg focusable="false">
                            <use href="./assets/img/icons/sprites/icons.svg#close">
                            </use>
                        </svg>
                    </i>
                    <span class="kx-btn__txt kx-is-vishidden">close modal</span>
                </span>
            </button>
        </div>
    </div>
    <div class="modal-body">
        <div class="kx-container kx-p--none">
            <div *ngIf="!aisData" class="kx-card kx-card--skin-default kx-p--small">
                No AIS Information available.
            </div>
            <div *ngIf="aisData" class="kx-card kx-card--skin-default kx-p--small">
                <div class="kx-row">
                    <div class="kx-col  kx-col--4">
                        <strong>Vessel</strong> :
                        {{ selectedVessel && selectedVessel.Name ? selectedVessel.Name : noData}}
                    </div>
                    <div class="kx-col  kx-col--4">
                        <strong>IMO</strong> : {{imoNumber}}
                    </div>
                </div> <br>
                <div class="kx-row kx-card kx-card--skin-default">
                    <div class="kx-card__body card-body kx-p--small">
                        <div class="kx-row">
                            <div class="kx-col kx-col--4">
                                <div class="kx-mt--tiny">
                                    <strong>Timestamp :</strong>
                                    <div class="kx-mt--tiny">
                                        {{aisData && aisData.AIS_Latest_Position  ? (aisData.AIS_Latest_Position | date:'dd/MM/yyyy HH:mm') : noData}}
                                        <!-- 07/09/2020 10:30 PM -->
                                    </div>
                                </div>
                            </div>
                            <div class="kx-col kx-col--4">
                                <strong>Destination:</strong>
                                <div class="kx-mt--tiny">
                                    {{aisData && aisData.ETA_Place  ? aisData.ETA_Place : noData}}
                                    <!-- Newcastle(AUS) -->
                                </div>
                            </div>
                            <div class="kx-col kx-col--4">
                                <div class="kx-mt--tiny">
                                    <strong>ETA :</strong>
                                    <div class="kx-mt--tiny">
                                        {{aisData && aisData.ETA_Date  ? (aisData.ETA_Date | date:'dd/MM/yyyy HH:mm') : noData}}
                                        <!-- 07/09/2020 10:30 PM -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="kx-row">
                            <div class="kx-col kx-col--4">
                                <strong>Speed:</strong>
                                <div class="kx-mt--tiny">
                                    {{aisData && aisData.Speed_Over_Ground  ? aisData.Speed_Over_Ground : noData}}
                                    <!-- 7.90 -->
                                </div>
                            </div>
                            <div class="kx-col kx-col--4">
                                <div class="kx-mt--tiny">
                                    <strong>Draft :</strong>
                                    <div class="kx-mt--tiny">
                                        <!-- {{aisData && aisData.Draft  ? aisData.Draft : noData}} -->
                                        3 Mts
                                    </div>
                                </div>
                            </div>
                            <div class="kx-col kx-col--4">
                                <strong>Position:</strong>
                                <div *ngIf="aisData && aisData.AIS_Latitude " class="kx-mt--tiny">
                                    ({{aisData && aisData.AIS_Latitude  ? aisData.AIS_Latitude : 0}},
                                    {{aisData && aisData.AIS_Longitude  ? aisData.AIS_Longitude : 0}})
                                    <!-- (-32.9047, 151.7756)  -->
                                    <a href="https://maps.google.com/?q={{aisData && aisData.AIS_Latitude  ? aisData.AIS_Latitude : 0}},{{aisData && aisData.AIS_Longitude  ? aisData.AIS_Longitude : 0}}"
                                        target="_blank"> View </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-modal>

<div #pcalendarRef style="position: absolute;top: 20px;"></div>