.charts {
  width: 100%;
  border: solid 1px #edeaea;
  /* margin: 20px;*/
}
.inline-flex {
  display: inline-flex;
}
.hand-cursor {
  cursor: pointer;
}
.extra-margin {
  width: 79%;
  /* text-align: center; */
  display: inline-block;
}
.card-body {
  height: 145px;
}
.kx-col--6 {
  transition: width 0.1s ease-in-out;
}
.kx-col--12 {
  transition: width 0.1s ease-in-out;
}
.no-data-extra-margin {
  width: 100%;
  margin-top: 7%;
  text-align: center;
}
.kx-card__header {
  padding: 0;
  margin: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ece6e6;
}
.kx-btn--size-base {
  padding: .3rem 1.06667rem;
}
.centerme{
  display: flex;
  justify-content: center;
}
.pull-right{
  right:0;
}