<app-load *ngIf="!cachedVesselDetails"></app-load>
<div class="kx-row">
    <div class="kx-col kx-col--12 kx-col--4@ltp-s">
        <div class="kx-row kx-card kx-card--skin-default">
            <div class="kx-card__header">
                <h3 class="kx-card__title">GSN</h3>
            </div>
            <div class="kx-card__body card-body kx-p--small">
                <div class="kx-row">
                    <div class="kx-col kx-col--6">
                        <strong>Node Number:</strong>
                        <div class="kx-mt--tiny">
                            {{cachedVesselDetails && cachedVesselDetails.NodeNumber  ? cachedVesselDetails.NodeNumber : noData}}
                        </div>
                    </div>
                    <div class="kx-col kx-col--6">
                        <div class="kx-mt--tiny">
                            <strong>Vessel Name :</strong>
                            <div class="kx-mt--tiny">
                                <p-dropdown styleClass="kx-p--none" [(ngModel)]="selectedVessel"
                                    placeholder="Select Vessel" [options]="allVessels"
                                    (onChange)="changeVesselDetails()" optionLabel="Name" filter="true"></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kx-row">
                    <div class="kx-col kx-col--6">
                        <strong>Status:</strong>
                        <div class="kx-mt--tiny">
                            {{cachedVesselDetails && cachedVesselDetails.Status  ? cachedVesselDetails.Status : noData}}
                        </div>
                    </div>
                    <div class="kx-col kx-col--6">
                        <strong>Latency:</strong>
                        <div class="kx-mt--tiny">
                            {{cachedVesselDetails && cachedVesselDetails.LastLatency  ? cachedVesselDetails.LastLatency : noData}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="kx-col kx-col--12 kx-col--6@ltp-s kx-pl--small@ltp-s">
        <div class="kx-row kx-card kx-card--skin-default">
            <div class="kx-card__header">
                <h3 class="kx-card__title">SNMP</h3>
            </div>
            <div class="kx-card__body card-body kx-p--small">
                <div class="kx-row">
                    <div class="kx-col  kx-col--4">
                        <strong>Network Type:</strong>
                        <div class="kx-mt--tiny">
                            {{ vesselDetails && vesselDetails.NetworkType ? vesselDetails.NetworkType : noData}}
                        </div>
                    </div>
                    <div class="kx-col  kx-col--4">
                        <strong>MCC:</strong>
                        <div class="kx-mt--tiny">
                            {{ vesselDetails && vesselDetails.MCC ? vesselDetails.MCC : noData}}
                        </div>
                    </div>
                    <div class="kx-col  kx-col--4">
                        <strong>Country:</strong>
                        <div class="kx-mt--tiny">
                            {{ vesselDetails && vesselDetails.CountryName ? vesselDetails.CountryName : noData}}
                        </div>
                    </div>
                </div>
                <div class="kx-row">
                    <div class="kx-col  kx-col--4">
                        <strong>APN:</strong>
                        <div class="kx-mt--tiny">
                            {{ vesselDetails && vesselDetails.ApnName ? vesselDetails.ApnName : noData}}
                        </div>
                    </div>
                    <div class="kx-col  kx-col--4">

                        <strong>Provider Name:</strong>
                        <div class="kx-mt--tiny">
                            {{ vesselDetails && vesselDetails.ProviderName ? vesselDetails.ProviderName : noData}}
                        </div>
                    </div>
                    <div class="kx-col  kx-col--4">
                        <strong>Router Position:</strong>
                        <div class="kx-mt--tiny">
                            <span *ngIf="vesselDetails && !vesselDetails.Latitude">{{noData}}</span>
                            <span *ngIf="vesselDetails && vesselDetails.Latitude">
                                {{  vesselDetails.Latitude }}
                                {{ vesselDetails.Longitude }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="kx-col kx-col--12 kx-col--2@ltp-s kx-pl--small@ltp-s">
        <div class="kx-card kx-card--skin-default" style="height: 198px;">
            <div class="kx-card__body kx-p--mini">
                <div class="row centerme">
                    <div class="kx-col kx-col--12">
                        <div *ngIf="!noGaugeData && chart && chart.data" class="kx-pl--small">
                            <google-chart #googlechart [title]="chart.title" [type]="chart.type" [data]="chart.data"
                                [options]="chart.options">
                            </google-chart>
                        </div>
                        <div *ngIf="noGaugeData">
                            {{noData}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="kx-card kx-card--skin-default kx-mt--small">
    <div class="kx-p--small">
        <div class="kx-row">
            <div class="kx-col kx-col--12 kx-col--1@mob-m kx-pt--tiny u--textCenter">
                <label class="kx-label" for="selectbox1">Presets : </label>
            </div>
            <div class="kx-col kx-col--12 kx-col--2@mob-m">
                <p-dropdown styleClass="kx-p--none" [options]="presetOptions" (onChange)="onDropDownSelection();"
                    [(ngModel)]="selectedPreset" optionLabel="name"></p-dropdown>
            </div>
            <div class="kx-col kx-col--12 kx-col--1@mob-m kx-pt--tiny u--textCenter">
                <label class="kx-label" for="selectbox1">From Date : </label>
            </div>
            <div class="kx-col kx-col--12 kx-col--2@mob-m kx-pr--large@mob-m">
                <p-calendar [appendTo]="pcalendarRef" inputStyleClass="kx-field kx-field--size-small"
                    (onSelect)="updatePreset();getLatencyTrendData()" [(ngModel)]="fromDate" showTime="true"
                    hourFormat="24" showButtonBar="true" [placeholder]="PRIMENG_CONSTANTS.datepickerFormat"
                    [dateFormat]="PRIMENG_CONSTANTS.datepickerFormat" [monthNavigator]="true" [yearNavigator]="true"
                    yearRange="1950:2050" selectOtherMonths="true" readonlyInput="true">
                </p-calendar>
            </div>
            <div class="kx-col kx-col--12 kx-col--1@mob-m kx-pt--tiny u--textCenter">
                <label class="kx-label" for="selectbox1">To Date : </label>
            </div>
            <div class="kx-col kx-col--12 kx-col--2@mob-m kx-pr--large@mob-m">
                <p-calendar [appendTo]="pcalendarRef" inputStyleClass="kx-field kx-field--size-small"
                    [minDate]="fromDate" (onSelect)="updatePreset();getLatencyTrendData()" [(ngModel)]="toDate"
                    showTime="true" hourFormat="24" showButtonBar="true"
                    [placeholder]="PRIMENG_CONSTANTS.datepickerFormat" [dateFormat]="PRIMENG_CONSTANTS.datepickerFormat"
                    [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2050" selectOtherMonths="true"
                    readonlyInput="true">
                </p-calendar>
            </div>
            <div class="kx-col kx-col--12 kx-col--3@mob-m">
                <button class="kx-btn kx-btn--skin-primary kx-btn--size-base kx-mr--tiny kx-mr--large@tab-m"
                    (click)="filterData()">
                    <span class="kx-btn__inner">
                        <span class="kx-btn__txt">Filter</span>
                    </span>
                </button>
                <button (click)="resetDate()" class="kx-btn kx-btn--skin-primary kx-btn--size-base">
                    <span class="kx-btn__inner">
                        <span class="kx-btn__txt">Reset</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="kx-row kx-mt--small">
    <div class="kx-col kx-col--6" [ngClass]="{'kx-col--12' : viewFullChart }">
        <span title="toggle full screen" (click)="viewFullChart=!viewFullChart;viewFullMap=false;"
            class="kx-navigation-icon collapse-icon"><i
                class="kx-icon kx-icon--size-moderate kx-m--mini toggle-navigation open-navigation collapsed"
                id="open-navigation"><svg _ngcontent-ghn-c3="" aria-hidden="true" focusable="false">
                    <use *ngIf="!viewFullChart" _ngcontent-ghn-c3="" xmlns:xlink="http://www.w3.org/1999/xlink"
                        xlink:href="./assets/img/icons/sprites/icons.svg#chevron-right"></use>
                    <use *ngIf="viewFullChart" _ngcontent-ghn-c3="" xmlns:xlink="http://www.w3.org/1999/xlink"
                        xlink:href="./assets/img/icons/sprites/icons.svg#chevron-left"></use>
                </svg></i></span>
        <div class="charts">
            <app-chart [viewFullChart]="viewFullChart" [chartId]="'chart1'" [latencyRequest]="latencyRequest">
            </app-chart>
        </div>
    </div>
    <div class="kx-col kx-col--6" [ngClass]="{'kx-col--12' : !viewFullChart && viewFullMap }">
        <div class="row" style="margin-left:10px">
            <app-map [showMap]="showMap" [aisRequest]="aisRequest"></app-map>
        </div>
    </div>
</div>
<div #pcalendarRef style="position: absolute;top: 20px;"></div>