<!--
KONGSBERG PROPRIETARY. This document and its accompanying elements, contain KONGSBERG information which is proprietary and confidential.
Any disclosure, copying, distribution or use is prohibited if not otherwise explicitly agreed with KONGSBERG in writing.
Any authorized reproduction, in whole or in part, must include this legend. © [year of creation] KONGSBERG – All rights reserved.
-->
<div>
    <form [formGroup]="secodaryformData">
        <div formArrayName="secondaryItems">
            <div class="kx-row kx-row--gutters" *ngFor="let item of secondaryItems.controls; let pointIndex=index"
                [formGroupName]="pointIndex" style="width: 100%; margin-top: 5px; margin-bottom: -44px;">
                <app-dynamic-form
                    class="kx-col kx-col--12 kx-col--12@mob-m kx-col--4@tab-m kx-col--@ltp-s kx-row kx-row--gutters"
                    style="display: contents" [form]="item" [isFormSubmitted]="isFormSubmmited"
                    [formValues]="formValues" [config]="secondaryconfigs[pointIndex]">
                </app-dynamic-form>
                <p-button (click)="showMaximizableDialog(pointIndex)" icon="pi pi-external-link"
                    style="margin-top: 27px;" [disabled]="disableForms[pointIndex]" [ngClass]="disableForms[pointIndex] ? 'disablePointerEvents' : 'none'" label="{{editOperation? 'View Sections': 'Select Sections'}}"></p-button>

                    <div class="kx-row kx-row--gutters kx-col kx-col--12 kx-col--12@mob-m kx-col--5@tab-m kx-col--2@ltp-s"
                    style="margin: 21px 0px 0px 0px">
                    <div class="kx-col kx-col--7 kx-col--4@mob-m kx-col--4@tab-m kx-col--4@ltp-s">
                        <button (click)="deleteSecondary(pointIndex)" style="color: white; height: 37px" class="u--bgDanger kx-btn kx-btn--size-base">
                            <span class="kx-btn__inner">
                                <span class="kx-btn__txt">Delete Secondary</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <p-dialog header="" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
        [baseZIndex]="10000" [draggable]="true" [resizable]="true">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <table>
                        <th>Sections</th>
                        <th colspan="90%">Subsections</th>
                        <tr *ngFor="let row of selectedVesselSection; let i=index;" style="margin-top: 16px">
                            <button *ngIf="!row.selected"
                                class="kx-btn kx-btn--skin-secondary kx-btn--size-base section"
                                (click)="onSectionSelected(row)">
                                <span class="kx-btn__inner">
                                    <span class="kx-btn__txt">{{row.name}}</span>
                                </span>
                            </button>

                            <button *ngIf="row.selected" class="u--bgSuccess kx-btn kx-btn--size-base section"
                                (click)="onSectionSelected(row)">
                                <span class="kx-btn__inner">
                                    <span class="kx-btn__txt">{{row.name}}</span>
                                </span>
                            </button>
                            <td *ngFor="let col of row.subSections; let j=index">
                                <button *ngIf="!col.selected"
                                    class="kx-btn kx-btn--skin-secondary kx-btn--size-base  subsection"
                                    (click)="onSubSectionSelected(row, col)">
                                    <span class="kx-btn__inner">
                                        <span class="kx-btn__txt">{{col.subSectionNumber}}</span>
                                    </span>
                                </button>
                                <button *ngIf="col.selected" class="u--bgSuccess kx-btn kx-btn--size-base subsection"
                                    (click)="onSubSectionSelected(row, col)">
                                    <span class="kx-btn__inner">
                                        <span class="kx-btn__txt">{{col.subSectionNumber}}</span>
                                    </span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="displayMaximizables[pointIndex]=false" label="Ok"
                styleClass="p-button-text">
            </p-button>
        </ng-template>
    </p-dialog>
</div>
