/* You can add global styles to this file, and also import other style files */
.u--floatRight {
    float: right;
}
.u--cursorPointer {
    cursor: pointer;
}
.u--with-tbody-scroll {
    tbody {
        display: block;
        max-height: 200px;
        overflow-y: auto;
    }
    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
}
.u--bgDanger {
    background-color: #d1232c;
    color: #ffffff;
}
.u--textDanger {
    color: #d1232c;
}
.u--bgSuccess {
    background-color: #1cb077;
    color: #ffffff;
}
.u--textCenter {
    text-align: center;
}
.u--withBorderRadius {
    border-radius: 10px;
}
.u--withEllipsis {
    white-space: nowrap;
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-paginator-bottom {
    padding: 2rem;
}
.ui-paginator-page {
    font-size: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: #02689e;
    &.ui-state-active {
        color: #262a2f;
    }
}
.ui-table-wrapper {
    .ui-table-thead {
        th {
            &.kx-p--xlarge {
                padding: 1rem 0.5rem !important;
                background-color: #f6f6f6 !important;
                text-align: left;
            }
            &.kx-p--small {
                padding: 0.05rem !important;
                background-color: #f6f6f6 !important;
                text-align: left;
                font-size: 13px;
            }
        }
    }
    .ui-table-tbody {
        td {
            &.kx-p--small {
                padding: 0.05rem !important;
                text-align: left;
                font-size: 13px;
            }
        }
    }
}
.ui-dropdown {
    border: 1px solid #bac0c4;
    border-radius: 4px;
    padding: 0.4rem;
    width: 85%;
    min-width: inherit;
    .ui-dropdown-panel {
        background: #fff;
    }
}

.ui-datepicker{
    background-color: #ffffff;
}
.ui-calendar {
    width: 100%;
    input {
        width: 100%;
    }
}
.u--fullWidth {
    &.ui-dropdown {
        width: 100%;
    }
}

// poseidon overridings

.kx-field--size-large {
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-size: 15px !important;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        font-size: 15px !important;
    }
    &:-ms-input-placeholder {
        /* IE 10+ */
        font-size: 15px !important;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        font-size: 15px !important;
    }
}
[hidden] { display: none !important;}