/* You can add global styles to this file, and also import other style files */
.u--floatRight {
    float: right;
}
.u--with-tbody-scroll {
    tbody {
        display: block;
        max-height: 300px;
        overflow-y: auto;
    }
    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
}
.u--bgDanger {
    background-color: #d1232c;
    color: #ffffff;
}
.u--disableTab {
    pointer-events:none !important;
    opacity:0.6 !important;
}
.u--selectedTab {
    color: coral !important;
}
.u--textDanger {
    color: #d1232c;
}
.u--bgSuccess {
    background-color: #1cb077;
    color: #ffffff;
}
.u--textCenter {
    text-align: center;
}
.u--withBorderRadius {
    border-radius: 10px;
}
.u--withEllipsis {
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.u--textRight {
    text-align: right;
}
.u--modalclosebtn {
    position: absolute !important;
    right: 50px;
}
.u--fontXSmall {
    font-size: 11px;
}
.u--fontLarge {
    font-size: 16px !important;
}
.u--fontBold {
    font-weight: 800;
}
.u--positionRelative {
    position: relative;
}
.u--capitalize {
    text-transform: capitalize;
}
.u--spinnerIcon {
    position: absolute;
    top: 3px;
    right: 13px;
    width: 0;
}
.ui-paginator-bottom {
    padding: 2rem;
}
.ui-paginator-page {
    font-size: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: #02689e;
    &.ui-state-active {
        color: #262a2f;
    }
}
.ui-table-wrapper {
    .ui-table-thead {
        th {
            cursor: initial;
            &.kx-p--xlarge {
                padding: 1rem 0.5rem !important;
                background-color: #f6f6f6 !important;
                text-align: left;
            }
            &.kx-p--small {
                padding: 0.05rem !important;
                background-color: #f6f6f6 !important;
                text-align: left;
                font-size: 13px;
            }
        }
    }
    .ui-table-tbody {
        td {
            &.kx-p--small {
                padding: 0.05rem !important;
                text-align: left;
                font-size: 13px;
            }
        }
    }
}
.ui-dropdown {
    border: 1px solid #bac0c4;
    border-radius: 4px;
    // padding: 0.4rem;
     margin-top: -3px;
    width: 85%;
    min-width: inherit;
    .ui-dropdown-panel {
        background: #fff;
    }
}

.ui-datepicker {
    background-color: #ffffff;
}
.ui-calendar {
    width: 100%;
    input {
        width: 100%;
    }
}
.ui-state-default {
    cursor: pointer;
    &.ui-state-disabled {
        cursor: not-allowed !important;
    }
}
.u--fullWidth {
    &.ui-dropdown {
        width: 100%;
    }
}

// poseidon overridings
.u--field--size-large {
    height: 2.25rem !important;
    padding: 0.5rem !important;
}
.u--field--size-small {
    height: 1.55rem !important;
    padding: 0.5rem !important;
}
.u--field--size-large,
.u--field--size-small {
    font-size: 13px !important;
    font-weight: 400;
}
[hidden] {
    display: none !important;
}

.leaflet-control-fullscreen a {
    background: #fff url("./assets/fullscreen.png") no-repeat 0 0 !important;
    background-size: 26px 52px;
}
.leaflet-touch.leaflet-fullscreen-on .leaflet-control-fullscreen a {
    background-position: 2px -24px !important;
}
.leaflet-touch .leaflet-control-fullscreen a {
    background-position: 2px 2px !important;
}

.kx-page__main {
    width: 100%;
    flex: 1 1 auto;
    transition: width 0.1s ease-in-out;
    // overflow: visible !important;
}
.kx-modal--size-large {
    &.u--modal--size-large {
        max-width: 70rem;
    }
}
.kx-modal__body {
    max-height: calc(100vh - 200px) !important;
}
.kx-modal__dialog{
    margin: 4.8rem 4rem 0.8rem auto !important;
}
.ui-confirmdialog-message {
    word-break: break-all;
}

.ui-dropdown {
    &.ui-state-disabled {
        background: #e2e6e8;
        .ui-dropdown-label {
            cursor: not-allowed;
        }
    }
}
body {
    overflow: hidden;
}

@media (max-width: 40em) {
    .kx-tabs {
        padding-left: 0 !important;
    }
    .kx-tabs__label {
        padding: 0.2rem !important;
        font-size: 12px;
    }
    .kx-modal__dialog {
        margin-top: 4rem !important;
        margin-left: 2.25rem !important;
    }
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.u--cursorPointer {
    cursor: pointer !important;
}
.ui-tooltip-text {
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap; /* Opera <7 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word;
}


body .ui-widget-overlay {
    background-color: rgba(0, 0, 0, 0.4);
  }
  body .ui-overlaypanel {
    background-color: #ffffff;
    color: #333333;
    padding: 0;
    border: 1px solid #c8c8c8;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    position: initial !important;
  }
  body .ui-overlaypanel .ui-overlaypanel-content {
    padding: 0.571em 1em;
  }
  body .ui-overlaypanel .ui-overlaypanel-close {
    background-color: #007ad9;
    color: #ffffff;
    width: 1.538em;
    height: 1.538em;
    line-height: 1.538em;
    text-align: center;
    position: absolute;
    top: -0.769em;
    right: -0.769em;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  body .ui-overlaypanel .ui-overlaypanel-close:hover {
    background-color: #005b9f;
    color: #ffffff;
  }
  body .ui-overlaypanel .ui-overlaypanel-close .ui-overlaypanel-close-icon {
    line-height: inherit;
  }
  body .ui-overlaypanel:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
  }
  body .ui-overlaypanel:before {
    border-color: rgba(200, 200, 200, 0);
    border-bottom-color: #c8c8c8;
  }
  body .ui-overlaypanel.ui-overlaypanel-flipped:after {
    border-top-color: #ffffff;
  }
  body .ui-overlaypanel.ui-overlaypanel-flipped:before {
    border-top-color: #c8c8c8;
  }
