/* You can add global styles to this file, and also import other style files */
.u--floatRight{
    float: right;
}
.u--marginTopReducer{
    margin-top: -0.75rem;
}
.u--cursorPointer{
    cursor: pointer;
}
