/* You can add global styles to this file, and also import other style files */
.u--floatRight {
    float: right;
}
.u--cursorPointer {
    cursor: pointer;
}
.u--with-tbody-scroll {
    tbody {
        display: block;
        max-height: 200px;
        overflow-y: auto;
    }
    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
}
.ui-paginator-bottom{
    padding: 2rem;
}
.ui-paginator-page {
    font-size: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: #02689e;
    &.ui-state-active {
        color: #262a2f;
    }
}
.ui-dropdown{
    width: 80%;
    .ui-dropdown-panel{
        background: #fff;
    }
}
