<form style="margin-top: 5px; margin-bottom: -15px;">
    <div class="kx-row kx-row--gutters">
        <div class="kx-col kx-col--4 kx-col--8@tab-m kx-col--8@mob-m kx-col--5@ltp-s">
            <!-- <label class="kx-label">Note</label><small
                class="u--textDanger">*</small> -->
            <div class="kx-mt--tiny">
                <input class="kx-field kx-field--size-base" type="text" [(ngModel)]="operatorNote" name="operatorNote"
                    placeholder="Enter a note" autocomplete="off" />
            </div>
        </div>
        <div class="kx-col kx-col--6 kx-col--3@tab-m kx-col--6@mob-m">
            <button style="height: 34px; margin-top: 4px;" (click)="addOperatorLog()" [disabled]="!operatorNote"
                class="kx-btn kx-btn--skin-primary kx-btn--size-base">
                <span class="kx-btn__inner">
                    <span class="kx-btn__txt">Save</span>
                </span>
            </button>
        </div>
    </div>
</form>

<app-load *ngIf="operatorLogLoading"></app-load>
<div *ngIf="operatorLogs.length == 0" class="kx-card kx-card--skin-default kx-p--small">
    No notes added
</div>
<div *ngIf="operatorLogs.length > 0"
    style="border: thin solid #c3c3c4f0; border-radius: 3px; height: 163px;overflow-y: auto;">
    <table class="kx-table kx-table--outer-border kx-table--slim-rows u--with-tbody-scroll">
        <thead>
            <tr>
                <th style="width: 70%;">Note</th>
                <th style="width: 30%;">Date </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let log of operatorLogs; let i = index;">
                <td style="width: 70%;">{{log.Note}}</td>
                <td style="width: 30%;">{{log.Date | date:'MM/dd/yyyy HH:mm'}}</td>
            </tr>
        </tbody>
    </table>
</div>