
<form class="kx-flex" style="margin-bottom: 5px; width: 100%;">
    <div class="kx-mt--tiny" style="width: 100%;">
        <input class="kx-field kx-field--size-base" style="width: 100%;" type="text" [(ngModel)]="operatorNote" name="operatorNote" placeholder="Enter a note" autocomplete="off" />
    </div>
    <button style="height: 34px; margin-top: 4px; width: 80px; margin-left: 4px;" (click)="addOperatorLog()" [disabled]="!operatorNote"
        class="kx-btn kx-btn--skin-primary kx-btn--size-base">
        <span class="kx-btn__inner">
            <span class="kx-btn__txt">Save</span>
        </span>
    </button>
</form>

<app-load *ngIf="operatorLogLoading"></app-load>
<div *ngIf="operatorLogs.length == 0" class="kx-card kx-card--skin-default kx-p--small">
    No notes added
</div>
<div *ngIf="operatorLogs.length > 0"
    style="border: thin solid #c3c3c4f0; border-radius: 3px; height: 163px;overflow-y: auto;">
    <table class="kx-table kx-table--outer-border kx-table--slim-rows u--with-tbody-scroll">
        <thead>
            <tr>
                <th style="width: 30%;">Date </th>
                <th style="width: 70%;">Note</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let log of operatorLogs; let i = index;">
                <td style="width: 30%;">{{log.Date | date:'MM/dd/yyyy HH:mm'}}</td>
                <td style="width: 70%;">{{log.Note}}</td>
            </tr>
        </tbody>
    </table>
</div>