<div class="kx-card kx-card--skin-default">
    <div class="kx-p--tiny kx-p--medium@mob-m">
        <form [formGroup]="form">
            <div class="kx-row kx-row--gutters">
                <div class="kx-col kx-col--4 kx-col--3@tab-m kx-col--6@mob-m">
                    <label class="kx-label">Upload Source</label><small class="u--textDanger">*</small>
                    <div class="kx-mt--tiny">
                        <p-dropdown styleClass="kx-p--tiny" [options]="uploadFromOptions"
                            [formControlName]="'uploadSource'" optionLabel="Option" filter="true"
                            (onChange)="uploadSourceChanged()" placeholder="Select upload source">
                        </p-dropdown>
                    </div>
                </div>
                <div class="kx-col kx-col--4 kx-col--3@tab-m kx-col--6@mob-m">
                    <label class="kx-label">Document Type</label><small class="u--textDanger">*</small>
                    <div class="kx-mt--tiny">
                        <p-dropdown styleClass="kx-p--tiny" [options]="documentTypes" [formControlName]="'documentType'"
                            optionLabel="TypeName" filter="true" placeholder="Select document type"></p-dropdown>
                    </div>
                </div>

                <div class="kx-col kx-col--4 kx-col--3@tab-m kx-col--6@mob-m">
                    <label class="kx-label">Document Name</label><small class="u--textDanger">*</small>
                    <div class="kx-mt--tiny">
                        <input class="kx-field kx-field--size-base" style="width: 90%;" type="text"
                            [formControlName]="'documentName'" placeholder="Enter document name" />
                    </div>
                </div>
            </div>

            <div class="kx-row kx-row--gutters">
                <div class="kx-col kx-col--4 kx-col--3@tab-m kx-col--6@mob-m">
                    <label class="kx-label">Version</label><small class="u--textDanger">*</small>
                    <div class="kx-mt--tiny">
                        <input class="kx-field kx-field--size-base" style="width: 90%;" type="text"
                            [formControlName]="'version'" placeholder="Enter document version" />
                    </div>
                </div>
                <div class="kx-col kx-col--4 kx-col--3@tab-m kx-col--6@mob-m">
                    <label class="kx-label">Date</label><small class="u--textDanger">*</small>
                    <div class="kx-mt--tiny" style="width: 90%;">
                        <p-calendar inputStyleClass="kx-field kx-field--size-base" hourFormat="24"
                            hideOnDateTimeSelect="true" showButtonBar="true" placeholder="dd/MM/yyyy"
                            [dateFormat]="PRIMENG_CONSTANTS.datepickerFormat" [formControlName]="'documentDate'"
                            readonlyInput="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2050"
                            selectOtherMonths="true">
                        </p-calendar>
                    </div>
                </div>
                <div *ngIf="uploadFrom === 'Local'" class="kx-col kx-col--12 kx-col--3@tab-m kx-col--6@mob-m">
                    <label class="kx-label">Select File</label><small class="u--textDanger">*</small>
                    <div class="kx-mt--tiny">
                        <input type="file" style="display: inline-block;" [formControlName]="'localFile'"
                            (change)="incomingFile($event)" placeholder="Upload file"
                            accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf">
                    </div>
                </div>
                <div *ngIf="uploadFrom === 'Cloud'" class="kx-col kx-col--12 kx-col--3@tab-m kx-col--6@mob-m">
                    <div class="kx-mt--tiny">
                        <button (click)="toggleCloudLibraryModal();"
                            class="kx-btn kx-btn--skin-secondary kx-btn--size-base kx-mt--tiny kx-mt--medium@mob-m"
                            [disabled]="false">
                            <span class="kx-btn__inner">
                                <span class="kx-btn__txt">Choose From Cloud</span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="kx-col kx-col--6 kx-col--3@tab-m kx-col--6@mob-m">
                    <button (click)="addDocument()"
                        class="kx-btn kx-btn--skin-primary kx-btn--size-base kx-mt--tiny kx-mt--medium@mob-m"
                        [disabled]="form.valid? (uploadFrom === 'Cloud'? (selectedDocument === null? true: false): false): true ">
                        <span class="kx-btn__inner">
                            <span *ngIf="editDocument == null" class="kx-btn__txt">Add</span>
                            <span *ngIf="editDocument !== null" class="kx-btn__txt">Save</span>
                        </span>
                    </button>
                    <button (click)="clear()"
                        class="kx-btn kx-btn--skin-secondary kx-btn--size-base kx-mt--tiny kx-mt--medium@mob-m"
                        style="margin-left: 10px;">
                        <span class="kx-btn__inner">
                            <span class="kx-btn__txt">Clear</span>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="kx-pt--small">
    <app-load *ngIf="isDataLoading"></app-load>
    <div *ngIf="!isDataLoading">
        <p-table *ngIf="installationDocuments.length > 0" tableStyleClass="kx-table kx-table--outer-border"
            [value]="installationDocuments" [columns]="cols" autoLayout="true" #tt [paginator]="true" [rows]="10"
            [rowsPerPageOptions]="[5,10,20,50,100,200,500]">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.sortfield"
                        [ngClass]="{'u--cursorPointer': col.sortfield !== ''}"
                        title="{{(col.sortfield!=='') ? 'Click to sort' : ''}}">
                        {{col.header}}
                        <p-sortIcon *ngIf="col.sortfield !== ''" [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                </tr>
                <tr>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field">
                        <input *ngSwitchCase="'Date'" pInputText type="text"
                            class="kx-field kx-field--size-base u--field--size-small" placeholder="Type to filter"
                            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input *ngSwitchCase="'DocumentName'" pInputText type="text"
                            class="kx-field kx-field--size-base u--field--size-small" placeholder="Type to filter"
                            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input *ngSwitchCase="'DocumentTypeName'" pInputText type="text"
                            class="kx-field kx-field--size-base u--field--size-small" placeholder="Type to filter"
                            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input *ngSwitchCase="'FileName'" pInputText type="text"
                            class="kx-field kx-field--size-base u--field--size-small" placeholder="Type to filter"
                            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                        <input *ngSwitchCase="'UploadSource'" pInputText type="text"
                            class="kx-field kx-field--size-base u--field--size-small" placeholder="Type to filter"
                            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        <div [ngSwitch]="col.field">
                            <div *ngSwitchCase="'Date'">
                                <div class="u--withEllipsis" [pTooltip]="rowData[col.field] | date: appConstants.dateFormatWithoutTime">
                                    {{rowData[col.field] | date: appConstants.dateFormatWithoutTime}}</div>
                            </div>
                            <div *ngSwitchCase="'Id'">
                                <button class="kx-btn kx-btn--skin-secondary kx-btn--size-tiny kx-btn--icon"
                                    aria-label="Edit" title="Edit" (click)="editInstallationDocument(rowData)">
                                    <span class="kx-btn__inner">
                                        <i class="kx-icon kx-icon--size-moderate">
                                            <svg focusable="true">
                                                <use href="./assets/img/icons/sprites/icons.svg#pencil"></use>
                                            </svg>
                                        </i>
                                        <span class="kx-btn__txt kx-is-vishidden">Edit</span>
                                    </span>
                                </button> &nbsp;
                                <button class="kx-btn kx-btn--skin-secondary kx-btn--size-tiny kx-btn--icon"
                                    aria-label="Delete" title="Delete" (click)="deleteInstallationDocument(rowData)">
                                    <span class="kx-btn__inner">
                                        <i class="kx-icon kx-icon--size-moderate">
                                            <svg focusable="true">
                                                <use href="./assets/img/icons/sprites/icons.svg#trash"></use>
                                            </svg>
                                        </i>
                                        <span class="kx-btn__txt kx-is-vishidden">Delete</span>
                                    </span>
                                </button>

                            </div>
                            <div *ngSwitchDefault>{{rowData[col.field]}}</div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <app-no-data [displayme]="installationDocuments.length === 0"></app-no-data>
    </div>
</div>

<div class="kx-row">
    <div class="kx-col kx-col--6">
        <button class="kx-btn kx-btn--skin-secondary kx-btn--size-base kx-mt--tiny" (click)="cancel()"
            style="float: right; margin-right: 10px;">
            <span class="kx-btn__inner">
                <span class="kx-btn__txt">Cancel</span>
            </span>
        </button>
    </div>

    <div class="kx-col kx-col--6" style="float: left;">
        <button class="kx-btn kx-btn--skin-primary kx-btn--size-base kx-mt--tiny" (click)="next()">
            <span class="kx-btn__inner">
                <span class="kx-btn__txt">Next</span>
            </span>
        </button>
    </div>
</div>

<p-dialog header="Select Installation" [(visible)]="showCloudLibraryModal" [modal]="true" [style]="{width: '55vw'}"
    [contentStyle]="{minHeight: '300px', maxHeight: '500px'}" [maximizable]="true" [baseZIndex]="10000"
    [draggable]="true" [resizable]="true">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <app-load *ngIf="selectInstallationLoading"></app-load>
                Installation:
                <p-dropdown autoWidth="false" [style]="{'width':'250px'}" [(ngModel)]="selectedInstallation"
                    [options]="installations" optionLabel="DisplayName" (onChange)="installationChanged()" filter="true"
                    placeholder="Select installation">
                </p-dropdown>
                <div *ngIf="!selectInstallationLoading" style="margin-top: 10px;">
                    <p-table *ngIf="selectedInstallationDocuments.length > 0"
                        tableStyleClass="kx-table kx-table--outer-border" [value]="selectedInstallationDocuments"
                        [columns]="pDialogCols" autoLayout="true" #tt [paginator]="true" [rows]="10"
                        [rowsPerPageOptions]="[5,10,20]">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.sortfield"
                                    [ngClass]="{'u--cursorPointer': col.sortfield !== ''}"
                                    title="{{(col.sortfield!=='') ? 'Click to sort' : ''}}">
                                    {{col.header}}
                                    <p-sortIcon *ngIf="col.sortfield !== ''" [field]="col.field"
                                        ariaLabel="Activate to sort"
                                        ariaLabelDesc="Activate to sort in descending order"
                                        ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                </th>
                            </tr>
                            <tr>
                                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                    <input *ngSwitchCase="'DocumentName'" pInputText type="text"
                                        class="kx-field kx-field--size-base u--field--size-small"
                                        placeholder="Type to filter"
                                        (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                                    <input *ngSwitchCase="'DocumentTypeName'" pInputText type="text"
                                        class="kx-field kx-field--size-base u--field--size-small"
                                        placeholder="Type to filter"
                                        (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                                    <input *ngSwitchCase="'FileName'" pInputText type="text"
                                        class="kx-field kx-field--size-base u--field--size-small"
                                        placeholder="Type to filter"
                                        (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns">
                                    <div [ngSwitch]="col.field">
                                        <div *ngSwitchCase="'Id'" style="text-align: center;">
                                            <input type="radio" name="selectDocument" value="rowData.VesselId"
                                                (change)="selectDocument(rowData)" />
                                        </div>
                                        <div *ngSwitchDefault>{{rowData[col.field]}}</div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <app-no-data [displayme]="selectedInstallationDocuments.length === 0"></app-no-data>
                </div>
                <button *ngIf="selectedInstallationDocuments.length > 0" style="margin-top: 0px; float: right;"
                    (click)="showCloudLibraryModal = false"
                    class="kx-btn kx-btn--skin-primary kx-btn--size-base kx-mt--tiny kx-mt--medium@mob-m"
                    [disabled]="!this.selectedDocument">
                    <span class="kx-btn__inner">
                        <span class="kx-btn__txt">Select</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="showCloudLibraryModal=false" label="Ok" styleClass="p-button-text">
        </p-button>
    </ng-template>
</p-dialog>